[2016-01-18 16:22] davidfestal opened #1671 "Use the module dependencies graph to select the modules to search in"

[2016-01-19 12:23] gavinking opened #1672 "NPE from Open dialog"
I just got:

[code]

@davidfestal would you take a look please?

[2016-01-19 20:23] #1672 closed

[2016-01-19 20:28] davidfestal commented on #1672
I've fixed the obvious root cause of such an error at this line. @gavinking : Do you confirm that this also fixes the problem you had encountered ?

[2016-01-19 20:29] #1671 closed

[2016-01-20 07:29] #1670 closed

[2016-01-21 00:36] jvasileff opened #1673 "exception using "Find References""
Right clicking on `CeylonIterable` and choosing "Find References" caused this exception:

[code]

[2016-01-21 15:26] gavinking commented on #1673
Any idea @bjansen @davidfestal ?

[2016-01-21 16:28] FroMage opened #1674 "Module import completion"
Given `import ceylon.collection "1."` I don't get completions with `Ctrl-Space` after the `1.`. Is that normal? I only get version completions with `import ceylon.collectio` (no version specified at all). That's rather unhelpful.

[2016-01-21 16:29] davidfestal commented on #1674
is it on master or also on 1.2.0 ?

[2016-01-21 18:09] ncorai commented on #1570
The projects that were doing this had been created under previous versions of the Ceylon IDE. Compared to a brand new project in which I would copy the same code, a legacy project that kept rebuilding was missing a `.settings` folder with a `org.eclipse.jdt.core.prefs` file in it containing the following properties:
[code]
Copying the file over to my legacy project seems to have stopped the endles

[2016-01-21 19:04] gavinking commented on #1570
Thanks!

[2016-01-21 19:04] #1570 closed

[2016-01-21 20:25] jvasileff opened #1675 "error editing '.ceylon' file in non-Ceylon project"
Opening and saving `x.ceylon` files in a non-Ceylon project results in an error dialog with:

[code]

This project very similar to the `ceylon/language`, with an identical `.project` config, but for some reason I'm only seeing this error in my project. Perhaps the difference is that in the project with errors, the Ceylon source files are in a `source` directory, as opposed to `src` for the `ceylon

[2016-01-21 20:40] jvasileff commented on #1675
Oh, I see, the difference is that in the project with errors, the `source` directory is listed in `.classpath`:

[code]

Changing to `path="DISABLED"` silences the errors.

[2016-01-21 20:41] davidfestal commented on #1675
OK, right. it's related to a recent change. I'll fix that asap.

[2016-01-22 02:00] jvasileff opened #1676 "NPE using stale "Ceylon Type Hierarchy""
I've repeated this process twice:

1) Use F4 to populate the Ceylon Type Hierarchy
2) Edit one of the classes
3) Save
4) Click on another class in the hierarchy. An error dialog appears reporting a NPE.

At this point, NPEs happen when clicking on *most* of the nodes (clicking on Anything, Object, and Basic do not result in exceptions.)

Actually, make that three times. The last repro involved onl

[2016-01-22 02:25] jvasileff opened #1677 "clicking on a failed test should take you to that test"
With:

[code]

clicking on the failed test in the "Ceylon Test" window takes you to the `assert` statement. But,

1. Jumping directly to the innermost frame isn't always that useful. You need to know how you got there in order to troubleshoot the problem.
2. If you do want to jump to the point of the failed assertion or `throw`, you can use the Failure Trace.

[2016-01-22 07:08] thradec commented on #1677
this request is in clash with #1593, ping @tombentley

[2016-01-22 07:17] tombentley commented on #1677
Haha! What an idiot I am. Maybe it should be an option, on a context menu or toggled from the toolbar?

[2016-01-22 12:57] thradec commented on #1677
What about compromise, jump to line inside test function/method from which the exception was thrown/propagated.

[2016-01-22 13:54] gavinking commented on #1669
Fixed.

[2016-01-22 13:54] #1669 closed

[2016-01-22 15:07] lucaswerkmeister commented on #1669
Um, thanks, I guess I’ll close ceylon/ceylon-ide-common#24 then…

[2016-01-22 15:13] jvasileff commented on #1677
That sounds great to me. So if I understand correctly, it would link as marked below:

[code]

[2016-01-22 15:34] thradec commented on #1677
yes
Dne 22. 1. 2016 16:13 napsal uživatel "John Vasileff" <
notifications@github.com>:

[2016-01-22 15:35] #1660 closed

[2016-01-22 15:36] #1673 closed

[2016-01-22 15:58] FroMage commented on #1674
On `1.2.1-preparation`, I haven't tried other branches.

[2016-01-22 16:08] jvasileff opened #1678 "console exceptions and tests link to wrong source file"
Clicking on a file & line number in the console (or a test in the test view) can take you to a source file of the same name and package in the wrong project.

I believe this started happening for me with 1.2.0 SR1.

To reproduce:

1. Create a new workspace (or don't)
2. Create a new project, module, and source file: `Project1/source/simple/run.ceylon` with contents as shown below
3. Create a secon

[2016-01-22 16:11] thradec commented on #1678
closing, duplicate of #1435

[2016-01-22 16:11] #1678 closed

[2016-01-22 16:13] jvasileff commented on #1678
Oops, thanks!

[2016-01-22 19:52] thradec commented on #1677
Done via 8765a9d.

[2016-01-22 19:52] #1677 closed

[2016-01-22 20:51] davidfestal commented on #1660
@gavinking : the case when a Ceylon declaration is written in Java was simply not taken in account. The IDE Documentation hover assumes the Ceylon source to be available. I added support for annotations retrieved from the model loader.

[2016-01-23 13:00] gavinking commented on #1660
Great, thanks :)

[2016-01-24 18:56] xkr47 opened #1679 ""Mark occurences" markers should take precedence over "TODO" markers"
Currently if you happen to have a TODO on the same line that there is a occurence of the currently hilighted word, in the pane along the right side of the editor the TODO marker takes precedence, hiding the occurence.

In my opinion it would make more sense to let the occurence marker take precedence, since TODO markers can then be shown simply by not pointing at something that activates the "mark

[2016-01-25 10:09] davidfestal commented on #1667
@quintesse : I've not been able to reproduce your last error, even on master. Do you have a systematic way to reproduce it ? Normally, there should never be only `BaseIdeModule` instances inside the IDE.

[2016-01-25 10:15] davidfestal commented on #1675
@jvasileff : would you have a stacktrace ?

[2016-01-25 12:48] jvasileff commented on #1675
Here you go:
[code]

[2016-01-25 18:07] quintesse commented on #1667
Right now I can't reproduce it anymore so let's close this for now.

[2016-01-25 18:07] #1667 closed

[2016-01-26 18:53] davidfestal opened #1681 "Support the `-target` compiler option"

[2016-01-28 09:34] davidfestal commented on #1681
Done and ready to merge on branch `target` of the `ceylon`, `ceylon-ide-common`and `ceylon-ide-eclipse` repositories.

[2016-01-28 10:37] davidfestal commented on #1681
related to ceylon/ceylon#5889

[2016-01-28 12:20] davidfestal commented on #1675
@jvasileff : Do you confirm this works on your side after the fix?

[2016-01-28 12:20] #1675 closed

[2016-01-28 12:55] davidfestal commented on #1654
@gavinking : With the last master, I get the outline view  for language module source files. Tested on:
 - `Array.ceylon`,
- `Measure.ceylon`,
- etc...

[2016-01-28 16:54] jvasileff commented on #1675
@davidfestal works great, thanks!

[2016-01-28 17:06] ncorai commented on #1679
+1

[2016-01-29 11:43] gavinking opened #1682 "module dependencies in doc hover"
I want to see module imports in the module doc hover.

[2016-01-29 16:17] gavinking commented on #1682
Done, except for missing icon for IntelliJ.

[2016-01-29 16:17] #1682 closed

[2016-02-01 09:20] davidfestal opened #1683 "CCE when using the `JavaQueryParticipant`"
[code]

[2016-02-01 09:22] davidfestal opened #1684 "`ModelResolutionException` when filtering the `Open Declaration` dialog content"
[code]

[2016-02-01 10:30] #1684 closed

[2016-02-01 11:00] #1683 closed

[2016-02-01 16:36] jvasileff opened #1685 ""null value returned" exception while "Retrieving Fixes""
Mouseover on:

[code]
with an error marker on `testCompile` resulted in:
[code]

[2016-02-02 08:26] davidfestal commented on #1099
This has been done in the common project. But the cleaning at package removal has still to be reviewed.

[2016-02-02 10:15] bjansen opened #1686 "List of things to implement from ceylon-ide-common"
(please leave open, more tasks will be added in the future)

- [ ] make `SpecifyTypeProposal` implement `SpecifyTypeQuickFix`

[2016-02-02 10:16] davidfestal opened #1687 "Stack overflow in the Ceylon Module Dependencies view"
[code]

When trying to view *referencing modules only* on the `org.eclipse.core.runtime` module in the `ceylon-ide-eclipse` project.

[2016-02-02 10:17] davidfestal commented on #1687
I assume this is also a problem on the `1.2.1-preparation` branch.

[2016-02-03 14:23] #1654 closed

[2016-02-03 14:26] #1588 closed

[2016-02-03 14:27] #1685 closed

[2016-02-03 17:21] davidfestal opened #1688 "Assertion failed on import proposals during "Retrieving fixes""
[code]

[2016-02-03 17:22] davidfestal commented on #1688
@bjansen : do you think you would have the time to have a look at this one ? Thanks !

[2016-02-03 17:50] davidfestal opened #1689 "`StringIndexOutOfBoundsException` in doc hover when navigating to a module link"
[code]

[2016-02-03 19:09] jvasileff commented on #1609
This is still true w/the latest 1.2.1 dev ide build on OS X with:

[code]

[2016-02-03 21:17] lukedegruchy opened #1690 ""Ceylon Sources" No longer available under modules for 1.2.1 built modules"
I think this is due to the recent changes around where the *.src archive file is for SDK modules.

This means that it's not possible to view Ceylon source code for a given 1.2.1 module in the IDE as only "Java Binaries" shows under that module, and not "Ceylon Modules".

The IDE should point to the new location for the *.src archive files to expose this.

[2016-02-03 21:26] quintesse opened #1691 "Give "Unknown Repository" a name"
Right now the cache repository is shown as "Unknown Repository" which is not as nice as it could be. We should try to detect its type (`CachingRepositoryManager`) and show something a little more useful like "Cached Modules" or "Downloaded Modules"

[2016-02-03 21:37] davidfestal commented on #1691
True. That should probably be easy. Let me have a look.

[2016-02-04 08:48] bjansen commented on #1688
How can I reproduce this? It looks like an import statement needs to contain a parsing error to force `endIndex` to be `null`, but I couldn't trigger that.

[2016-02-04 08:53] davidfestal commented on #1688
Don't know exactly how it happened.Maybe during a parsing or typechecking.

[2016-02-04 12:30] davidfestal commented on #1609
Fixed. @jvasileff : I tested it under Linux. Can you check it works also on OS X ?

[2016-02-04 12:30] #1609 closed

[2016-02-04 14:13] #1687 closed

[2016-02-04 14:49] jvasileff commented on #1609
It works. Thanks David!

[2016-02-04 14:58] #1662 closed

[2016-02-04 15:08] davidfestal commented on #1689
Fixed by 67abb05ab5c93df899a012cea615adc3d3e444e2

[2016-02-04 15:08] #1689 closed

[2016-02-04 16:14] #1613 closed

[2016-02-04 16:51] #1638 closed

[2016-02-04 16:52] #1691 closed

[2016-02-05 16:13] bjansen opened #1692 "Find references doesn't list Ceylon references to a Java declaration"
For example, in `com.redhat.ceylon.eclipse.ui`, if I do a ⌘-⇧-G on `ExportModuleImportProposal`, it shows usages in Java code, but not in `eclipseExportModuleImportQuickFix`, which is a Ceylon declaration.

[2016-02-08 08:46] bjansen commented on #1674
It looks like versions are only suggested when you call completion on module names, and if you call it inside the quotes it won't show anything because it's not supported (yet).

[2016-02-08 18:09] davidfestal commented on #1577
The CLI compiler doesn't produce this stack overflow. The reason of this is that the `AbstractModelLoader` expects the `TypeMirror.getQualifyingType()` method of a *static* inner class to return `null`. This is how this is implemented in the Javac-based mirrors: [this line of `ClassReader`](https://github.com/ceylon/ceylon/blob/3b430014ff4d7c5909934dec1f453d6e357e83b2/compiler-java/langtools/src/s

[2016-02-10 00:15] #1577 closed

[2016-02-10 00:27] davidfestal commented on #1611
Fixed now on `master` and `1.2.1-preparation` branches.

[2016-02-10 00:27] #1611 closed

[2016-02-12 14:12] FroMage opened #1693 "Quick-fix for imported type found in exported signature"
This error should have a quick-fix:

[code]

Which would turn the `ceylon.net` module import into `shared`.

[2016-02-15 21:56] bjansen opened #1694 "Missing bundles in update site"
It looks like something recently went wrong with the build, the update site is missing bundles:

[code]

vs

[code]

This is causing NPEs because `CeylonBuilder.getCeylonPluginRepository()` is returning `null` on my machine (`EMBEDDED_REPO_PLUGIN_ID` is missing).

[2016-02-17 18:31] bjansen commented on #1694
Fixed by ceylon/ceylon@cc6c7a10d7acfdbb1c322b26e41c9e8a7a65374b

[2016-02-17 18:31] #1694 closed

[2016-02-17 18:37] bjansen commented on #1693
There's already a quick fix for that, I'll have to check why it's not showing up in your case.

[2016-02-19 00:18] rlz opened #1695 "Can't install IDE"
Hello,

When I try to install IDE after selecting plugins and clicking "Finish" button I got:

[code]

[2016-02-19 09:39] davidfestal opened #1696 "Rename resource folders accordingly when renaming a package or module"

[2016-02-19 09:53] quintesse commented on #1696
And don't forget the `doc` and `script` folders!

[2016-02-22 08:55] ttobin62 opened #1697 "Ceylon plugin doesn't seem to be available from the update site"
When I try to install the plugin using eclipse all I see are the GEF components:

![ceylon-plugin-updatesite](https://cloud.githubusercontent.com/assets/17276180/13213490/3bf585c4-d941-11e5-9b50-1229bcec7308.png)

[2016-02-22 09:28] davidfestal commented on #1697
@ttobin62 : what happens if you uncheck "Hide items that are already installed" ?

[2016-02-22 09:49] davidfestal commented on #1695
@rlz : That's quite strange. I have access to them it seems. Could you give me more details about your scenario (installation steps) and configuration (if you have a proxy for example) ?

[2016-02-22 10:01] ttobin62 commented on #1697
2 more GEF items appear. No Ceylon items.

Tim

From: David Festal [mailto:notifications@github.com]
Sent: 22 February 2016 09:29
To: ceylon/ceylon-ide-eclipse
Cc: Timothy Tobin
Subject: Re: [ceylon-ide-eclipse] Ceylon plugin doesn't seem to be available from the update site (#1697)

@ttobin62<https://github.com/ttobin62> : what happens if you uncheck "Hide items that are already installed" ?

—
R

[2016-02-22 10:09] davidfestal commented on #1697
@ttobin62 : Could you go into the "Available Software Sites" dialog, and reload the Eclipse update site ? You might have some wrong cached information about this update site. And retry then. I've just tried on a fresh Mars installation, and it works well.
Could you also give more information about your configuration, OS, proxy, etc ... And look in you have some errors reported in the Eclipse log ?

[2016-02-22 10:15] rlz commented on #1695
Hello,

I was trying to install on Windows 10. I have java-8 installed. I download and run latest Eclipse IDE (mars). So I have fresh installation of IDE.

Not sure about proxy. I use just broadband from my internet provider (Virgin Media) without any customizations.

[2016-02-22 10:25] davidfestal commented on #1695
@rlz : Does it work better from the following update site: `http://downloads.ceylon-lang.org/ide/eclipse/prod/` ?
In fact it points to the same place. The official update site URL is just a composite update site that redirects to this one.

[2016-02-22 10:30] ttobin62 commented on #1697
I have the following from the eclipse log:

!ENTRY org.eclipse.equinox.p2.core 4 0 2016-02-22 10:15:08.882
!MESSAGE Provisioning exception
!STACK 1
org.eclipse.equinox.p2.core.ProvisionException: HTTP Server Unknown HTTP Response Code (301):http://downloads.ceylon-lang.org/ide/eclipse/prod/content.xml
                at org.eclipse.equinox.internal.p2.repository.CacheManager.createCache(CacheManag

[2016-02-22 10:44] davidfestal commented on #1697
what if you add the following update site URL: https://downloads.ceylon-lang.org/ide/eclipse/prod/  ?

[2016-02-22 10:47] ttobin62 commented on #1697
That seems to work.

Thanks David.

Tim

From: David Festal [mailto:notifications@github.com]
Sent: 22 February 2016 10:45
To: ceylon/ceylon-ide-eclipse
Cc: Timothy Tobin
Subject: Re: [ceylon-ide-eclipse] Ceylon plugin doesn't seem to be available from the update site (#1697)

what if you add the following update site URL: https://downloads.ceylon-lang.org/ide/eclipse/prod/ ?

—
Reply to this emai

[2016-02-22 10:53] davidfestal commented on #1697
Do you think you could uninstall the plugin, and retry with the official update site ? I've just made a small change that avoids an automatic http-to-https redirection. This might have been to reason of your problem.

[2016-02-22 10:57] davidfestal commented on #1695
@rlz : Could you go into the "Available Software Sites" dialog, and reload the Official Ceylon update site, and then reopen the "Install Software" dialog to retry the installation ?
I've just made a small change that avoids an automatic http-to-https redirection. This might have been the cause of your problem.

[2016-02-22 10:59] ttobin62 commented on #1697
That works now. The only difference is that the update site provides GEF components whilst the prod site does not.

From: David Festal [mailto:notifications@github.com]
Sent: 22 February 2016 10:54
To: ceylon/ceylon-ide-eclipse
Cc: Timothy Tobin
Subject: Re: [ceylon-ide-eclipse] Ceylon plugin doesn't seem to be available from the update site (#1697)

Do you think you could uninstall the plugin, an

[2016-02-22 11:02] davidfestal commented on #1697
Thanks @ttobin62 for your confirmation !

[2016-02-22 14:55] #1697 closed

[2016-02-22 21:29] rlz commented on #1695
@davidfestal I tryed both options: new URL and reload Ceylon update side. Still do not work for me. Same errors - Eclipse can't find ceylon bundles.

[2016-02-22 21:41] rlz commented on #1695
I tried to install something from oficial Eclipse repository and it was successfull.

[2016-02-23 00:24] gavinking opened #1698 "lots and lots of errors when browsing language module source"
Lots of these when looking at the language module:

[code]

[code]

Also some of these:

[code]

These even occur in my own code!

[2016-02-26 14:10] simonthum opened #1699 "Import overwrites .gitignore"
Importing ceylon projects wipes out their .gitignore and writes one with ".exploded/". Since .gitignore is ususally checked in it's not a big issue, but could be handled better.

[2016-02-26 14:12] jvasileff commented on #1699
Yes. Very annoying. From some old notes I have, try this:

[code]

[2016-02-26 16:04] simonthum commented on #1699
Thanks!

That probably means it's not Ceylon IDE's fault, so I'm closing.

[2016-02-26 16:04] #1699 closed

[2016-02-26 18:33] davidfestal commented on #1612
So let me summarize the current state of this:
With the last master IDE (compiler from the master of all projects), the required actions are:
- in the required Ceylon projects, in the `Java Build Path` Properties Page, on the `Order and Export` tab, check the `Ceylon Language Module` and `Ceylon Project Modules` lines to *export* the corresponding classpath entries
- in the Java project that uses

[2016-02-26 19:07] gavinking opened #1700 "duplicated see annotations in doc hover"
Hover, for example, `Object`, and look at how it renders the `see()` links.

[2016-02-26 21:37] xkr47 opened #1701 "Add separate highlighting color setting for identifier category override prefixes"
I would like if the `\i` and `\I` identifer prefixes could be syntax-coloured more subtly, for example something closer to the editor background color. That way they would still be there to see but not stick out unnecessarily. More for the compiler and less for the user that already understands from the colouring of the identifier.

Above current visual, below example implementation of proposed ch

[2016-02-26 21:57] gavinking commented on #1701
That would be nice, I agree.

Sent from my iPhone

[2016-02-27 06:11] xkr47 commented on #1701
Would this perhaps be eligible for the BEGINNER label?

[2016-02-27 08:25] gavinking opened #1702 "local of type Ceylon Character renders as an integer in debugger"
Looks like we don't handle `Character`s correctly in the Variables view. @davidfestal?

[2016-02-28 11:40] #1700 closed

[2016-02-28 18:01] gavinking opened #1703 "New Module wizard should add native("jvm") or native("js") to module descriptor"
We can infer the `native` annotation from the enabled backends for the project.

[2016-02-28 23:17] gavinking opened #1704 "add module import quick fix is broken"
The "add module import" quick fix is completely broken, it seems.

[2016-02-28 23:17] gavinking commented on #1704
@davidfestal @bjansen would you guys take a look, please?

[2016-02-29 01:33] #1703 closed

[2016-02-29 01:33] gavinking commented on #1703
Done!

[2016-02-29 09:02] bjansen commented on #1704
Looks like the same kind of problems as https://github.com/ceylon/ceylon-ide-common/issues/25:

[code]

[2016-02-29 09:08] #1704 closed

[2016-02-29 09:13] bjansen commented on #1688
I was able to reproduce it with an unclosed import statement:

[code]

[2016-02-29 09:22] #1688 closed

[2016-02-29 09:26] simonthum commented on #1634
I'd be on boat, provided that only named argument /invocations/ are colored differently. This is also pretty much the only place where they are being written out but are not introduced as names.

[2016-02-29 09:35] simonthum opened #1705 "Add separate colouring for function, value and void"
It would be nice if these quasi-types could be coloured more like types and less like keywords (which they are, but this fact is seldom relevant for my reasoning).

[2016-02-29 09:35] simonthum commented on #1705
BTW is the eclipse IDE really the best place for this kind of bug?

[2016-02-29 09:43] simonthum opened #1706 "Eclipse tends to hang when ceylon is installed"
Quite a few central functions (search & replace, completion) tend to hang Eclipse (fresh Mars 1) "on my machine (TM)".

After much frustration I figure eclipse just didn't get it was done already - classical race involving the the UI thread. Probably something blocks that shouldn't.

What I see is the hourglass and 100% CPU, until I minimize eclipse and bring it up again. Then, the UI thread seems

[2016-02-29 10:59] gavinking commented on #1704
Thanks!

[2016-02-29 22:59] gavinking opened #1707 "NPE in CeylonBuilder"
This one is new:

[code]

[2016-03-01 09:31] #1707 closed

[2016-03-02 14:27] gavinking opened #1708 "NPE"
[code]

[2016-03-02 14:54] bjansen opened #1709 "Missing .class files in compilation output"

[2016-03-02 16:29] gavinking opened #1710 "builder does not compile Java classes into cars"
Currently I can't even debug the IDE, because Java classes are missing from the generated car.

[2016-03-02 16:29] bjansen commented on #1710
Duplicate of #1709 :)

[2016-03-02 16:29] #1710 closed

[2016-03-02 17:09] davidfestal commented on #1709
This should have been fixed by da0759868f69f2ce38f086ee13cae18c40997faf and ceylon/ceylon-ide-common@aea58397958eb3783148f8ec460df9a457b1add0
@bjansen, @gavinking : can you confirm this is OK for you too ?

[2016-03-02 17:36] bjansen commented on #1709
It looks like it's working, yes.

[2016-03-02 17:42] gavinking commented on #1709
Agreed. It's fixed. Thanks.

[2016-03-02 17:42] #1709 closed

[2016-03-03 15:50] simonthum opened #1711 "NPE in correction proposals"
Not quite #1708

[code]

[2016-03-03 15:52] davidfestal commented on #1711
@simonthum : does it occur on the release 1.2.1 plugin, or in the master-based just-built plugin ?

[2016-03-03 15:54] simonthum commented on #1711
1.2.1 release.

[2016-03-03 15:56] bjansen commented on #1711
@davidfestal make sure you also fix ChangeDeclarationQuickFix on master ;)

[2016-03-03 15:57] davidfestal commented on #1711
please add a link to the `ceylon-ide-common` file here :-)

[2016-03-03 15:58] bjansen commented on #1711
https://github.com/ceylon/ceylon-ide-common/blob/master/source/com/redhat/ceylon/ide/common/correct/ChangeDeclarationQuickFix.ceylon

[2016-03-03 15:59] davidfestal commented on #1711
Thanks !

[2016-03-03 16:33] davidfestal commented on #364
This issue is obsolete, since all those objects are now stored in the `CeylonProject` object in the `ceylon-ide-common` project.

[2016-03-03 16:33] #364 closed

[2016-03-03 20:32] simonthum commented on #1706
I'm not sure, but I suspect this is a followup error (from eclipse core jobs):

[code]

[2016-03-03 23:38] gavinking opened #1712 "assertion failure in Open Declaration dialog"
This is brand new.

[code]

[2016-03-04 09:17] #1712 closed

[2016-03-04 14:14] gavinking opened #1713 "New NPE"
[code]

[2016-03-06 18:22] bjansen opened #1714 "Compilation error in package-info.java"
If I create a file `package-info.java` in a Ceylon module, I get an error in Ceylon IDE:

[code]

[code]

It compiles without errors in the CLI, so I suppose it's related to the plugin.
The error does not appear if I remove the `TypeDef` annotation from the file.

[2016-03-07 11:03] simonthum opened #1715 "NPE from styling"
Hi,

I get a ton of these in 1.2.1 when opening appearance preferneces and then closing (with OK I guess) without doing anything. Looks like an unfortunate interaction of theming and visible search results.

I guess to reproduce you have to have a window manager that actually asks windows to redraw.

[code]

[2016-03-07 11:08] simonthum commented on #1706
FWIW I am no longer experiencing the issue. Most noticeable thing I did is switch eclipse to dark theme (which was reeeeally slow) and back again - issue gone.

Unfortunately, this only underlines the brittle nature of race conditions.

[2016-03-07 12:17] gavinking commented on #1715
What OS?

[2016-03-07 12:36] gavinking opened #1716 "clean build of ceylon-ide-common results in errors in com.redhat.ceylon.eclipse.ui"
When ever I rebuild the ceylon-ide-common project, I end up with errors in the com.redhat.ceylon.eclipse.ui project, and I have to manually rebuild com.redhat.ceylon.eclipse.ui. @davidfestal do you know why this is?

[2016-03-07 12:41] gavinking commented on #1715
So it happens on [this line](https://github.com/ceylon/ceylon-ide-eclipse/blob/1.2.1/plugins/com.redhat.ceylon.eclipse.ui/src/com/redhat/ceylon/eclipse/code/search/SearchResultsLabelProvider.java#L139)?

[2016-03-07 12:42] bjansen commented on #1716
errors in `modelJ2C.java`?

[2016-03-07 12:45] davidfestal commented on #1716
yeah, errors on `JDTModule` etc always come back in this file only, and I never found out why.
Just saving this file again and so triggering an (very small) incremental Java build is sufficient to get rid of these errors.

[2016-03-07 12:45] davidfestal commented on #1715
it seems there might be cases when the source attachment can be null. Shouldn't we simply test this ?

[2016-03-07 13:26] gavinking commented on #1715
OK, so probably fixed now, but @davidfestal you'll need to cherry-pick this commit I guess...

[2016-03-07 13:27] gavinking commented on #1716
OK.

[2016-03-07 14:32] jvasileff opened #1717 "bugfix for clicking on test results not in 1.2.1"
The fix for https://github.com/ceylon/ceylon-ide-eclipse/issues/1677 was not included in the 1.2.1 build. Can this be added to 1.2.2?

[2016-03-07 15:36] simonthum commented on #1715
Sorry, gentoo linux with Eclipse Mars sr1 on Java 8.

The source attachment might be a good guess: I had a search window open which pointed at some jars for which sources were in limbo: The search window was showing source matches but I could not see any sources when clicking them. I believe something went wrong when generating those source jars.

[2016-03-07 15:38] simonthum commented on #1715
see:

![eclipse_ceylon_bug_1_220x192](https://cloud.githubusercontent.com/assets/580723/13574097/f58b3410-e482-11e5-8cbc-d515036af51a.png)

[2016-03-08 15:47] simonthum opened #1718 "Completion misses candidates"
When I have a method

[code]

and in the calling scope there is an `X[] sequence`, the 1.2.1 eclipse IDE provides me with `empty` and `[]` but misses `sequence` when I type a new method call to `m` and try to complete the first argument.

Sure, the method's generic `T` is not resolved at this point due to more arguments still missing, but since there is a concrete upper bound on `m`, `seq` could b

[2016-03-08 17:01] gavinking commented on #1718
We would need to distinguish type parameter types that are not defined in a containing scope, and replace them with their upper bounds. Has to happen recursively too.

[2016-03-09 05:48] gavinking opened #1719 "navigation + hover broken for references to Java declarations"
Suddenly I can't do hyperlink navigation to Java declarations from Ceylon code. Nor do I see any hover information.

[2016-03-09 08:15] gavinking commented on #1718
I have pushed a hacky fix that solves the problem in certain special cases, including the important case mentioned above (sequences) but not yet in full generality.

[2016-03-09 09:56] simonthum commented on #1718
Cool, and well before 1.3 ;)

[2016-03-09 10:01] gavinking commented on #1718
Well I'm not sure which IDE release this would go into. It's only on master for now.

Sent from my iPhone

[2016-03-09 11:17] simonthum commented on #1718
OK, thanks!

[2016-03-09 12:10] gavinking commented on #1718
This is fixed.

[2016-03-09 12:10] #1718 closed

[2016-03-09 12:49] jvasileff commented on #1717
@davidfestal, can you please take a look at this?

[2016-03-09 15:38] simonthum commented on #1718
Yay!

[2016-03-09 20:09] #1719 closed

[2016-03-09 22:12] gavinking commented on #1719
thanks.

[2016-03-10 17:45] gavinking opened #1720 "refine formal members quick fix"
Given:

[code]

I no longer see the "Refine formal members" quick fix from within the body of `Foo`.

[2016-03-10 17:48] gavinking opened #1721 "split and join declaration quick fixes are broken"
I can's split this:

    String chars = "";

Or this:

    class Foo(String characters)

Nor, once split manually, can I join them again.

[2016-03-10 17:55] gavinking opened #1722 "can't autocomplete after adding a functional parameter"
Given:

    void foo(String foo, void bar()) {
        //autocomplete here
    }

Code like this suddenly breaks autocompletion.

[2016-03-10 18:00] gavinking opened #1723 "lots of assertion failures"
Here's three different bugs I ran into:

- 1

[code]

- 2

[code]

- 3

[code]

[2016-03-10 18:03] gavinking opened #1724 "no typechecker error when Java and Ceylon classes have same name"
If I have a package with a Ceylon class and a Java class which share the same name, I don't get any error at all on incremental build. After a full build I get a rather ugly-looking backend error.

[2016-03-10 19:35] #1720 closed

[2016-03-10 19:36] #1721 closed

[2016-03-10 19:50] #1722 closed

[2016-03-10 20:25] bjansen commented on #1723
Number 1 was the root cause of #1722.

I can't reproduce the other two, it looks like your model wasn't fully initialized or something like that. Do you have a specific example that fails?

I tested them on this sample:

[code]

The proposals showed up as expected, I didn't have assertion errors.

[2016-03-10 21:31] davidfestal opened #1725 "Add support for the `ceylon bootstrap` command"
Provide:
- an Option  in the `New Ceylon Project` wizard
- a Project contextual menu item
that call the new `ceylon bootstrap` command to create the `ceylonb` boostrap scripts at the root of the Ceylon project.

[2016-03-11 12:35] gavinking opened #1726 "Extract Function does not extract to outer scope"
Given:

[code]

If I select the expression `now().date()` and invoke Extract Function, the new `function` declaration is placed inside `method()`. It should be placed *outside* `method()`. This was due to a recent change to the typechecker, I suppose.

[2016-03-11 15:46] davidfestal opened #1727 "Hovers broken when the theme is Ceylon alt"
This is due to a recent change in the management of hyperlink and active hyperlink colors

[2016-03-11 23:36] gavinking opened #1728 "problem with quick fix in unsaved editor"
If I have this code in an _unsaved_ editor:

[code]

Then I get this error:

[code]

The error goes away if I save the editor.

[2016-03-11 23:48] #1726 closed

[2016-03-11 23:48] gavinking commented on #1726
Fixed.

[2016-03-12 10:11] gavinking opened #1729 "Extract Function to outer scopes"
I have implemented a popup that lets you select the scope you want to extract a function to. Very useful.

[2016-03-12 10:15] #1729 closed

[2016-03-12 14:08] simonthum commented on #1706
Sure enough, it crept back again. I still do not have a definite cause, but I get consistently better usability when unchecking the "Link with editor" button. Perhaps this one does too much on the UI thread.

[2016-03-12 14:15] quintesse commented on #1706
Bummer :(

[2016-03-12 18:56] Vorlent opened #1730 "Quickfix for switch expressions"
The quickfix `add else clause` and `add missing case clauses` should also work with switch expressions.
Right now this feature already exists but only for switch statements
![statement](http://i.imgur.com/Zdhdtfn.png)
but not for switch expressions
![expression](http://i.imgur.com/nXPNlPu.png)

[2016-03-12 18:57] simonthum commented on #1706
Absolutely. A nice symptom I got today was the launch progress dialog still pretending to do "pre-lauch checks" while the unit test part went to green...

[2016-03-12 19:00] Vorlent commented on #1730
I forgot to mention that I'm still using version 1.2.0 of the IDE. Is this perhaps already implemented?

[2016-03-12 19:05] bjansen commented on #1730
It seems the current version of Ceylon IDE still doesn't support `switch` expressions.

[2016-03-12 19:07] bjansen commented on #1730
(of course this has to be implemented in ceylon-ide-common 😉)

[2016-03-14 19:36] gavinking commented on #1624
Closing this one in light of https://github.com/ceylon/ceylon/issues/5955.

[2016-03-14 19:36] #1624 closed

[2016-03-14 21:08] quintesse commented on #1725
You didn't actually test it, did you? ;)

It doesn't work. I forgot to mention that the `lib/ceylon-bootstrap.jar` isn't actually the same as the `repo/ceylon/bootstrap/x.y.z/ceylon-bootstrap-x.y.z.jar` ! The lib version is smaller and more stripped down. So I'm afraid we'll still have to include it in the `embeddedRepository`.

And even then it won't work because we need to say which versions the

[2016-03-14 21:14] davidfestal commented on #1725
I tested the generation of the `ceylonb` command sure. But what you mean is that I didn't test the execution of the resulting `ceylonb` script right ?

[2016-03-14 21:14] quintesse commented on #1725
Yeah :)

[2016-03-14 21:16] davidfestal commented on #1725
But I don't get it in the `lib` version. I get it in the embedded repo, at `ceylon/bootstrap/<version>/bootstrap-<version>.jar`

[2016-03-14 21:19] quintesse commented on #1725
like I explained, that's not the correct version, you need the lib one

[2016-03-14 21:21] davidfestal commented on #1725
so you need "smaller and more stripped down" version. The bigger doesn't work? OK

[2016-03-14 21:21] davidfestal commented on #1725
It's a pity that I didn't know that when adding this in release 1.2.2 :-)

[2016-03-14 21:24] quintesse commented on #1725
A pity we didn't test it when adding it in the 1.2.2 release :-p

Luckily you can easily update the IDE

[2016-03-14 21:24] davidfestal commented on #1725
yeah

[2016-03-14 21:28] quintesse commented on #1725
But we can't wait too long with fixing this. Anyone making new projects with this Eclipse version will be creating broken bootstraps :(

[2016-03-14 21:32] davidfestal commented on #1725
I'll do it tomorrow

[2016-03-14 21:41] quintesse commented on #1725
Sure, not now obviously ;)

[2016-03-15 14:32] gavinking opened #1731 "navigation broken within conditions"
Given `if (is Tree.Body node)`, if I click on `node`, it should take me to the _original_ definition of `node`. I'm sure that used to work.

[2016-03-16 14:32] FroMage opened #1732 "Android: support alternate Jdk provider"
The model loader now supports alternate `JdkProvider` modules: you select one of the modules you import and say this is the Jdk provider. The IDE UI needs the ability to select a `module/version` as a Jdk Provider and pass this on to the model loader.

[2016-03-16 14:55] davidfestal commented on #1732
did you open an IDE issue to explain what has to be implemented ?

[2016-03-16 15:09] davidfestal commented on #1732
how does it work on the command line ? is it a command line option, a module annotation ?

[2016-03-16 18:23] gavinking opened #1733 "IDE no longer respects linked mode preferences"
There is a preferences screen that lets you turn off the use of linked mode with refactorings. The IDE currently ignores these preferences, at least on master.

[2016-03-17 10:53] gavinking opened #1734 ""invert if/else statement" assist is broken"
Given:

[code]

Try "invert if/else statement". It gives you:

[code]

Which isn't correct, since `!` has a higher precedence than `||`. IMO, it should give you:

[code]

[2016-03-17 10:58] bjansen commented on #1734
This also happens in Ceylon IDE 1.2.2 (which is using the non-abstracted assist).

[2016-03-17 11:08] gavinking opened #1735 "Find References / Find Assignments and shortcut refinement"
Find References and Find Assignments are broken w/r/t shortcut member refinement.

[code]

- Selecting `name` in `Super` and running either Find References or Find Assignments should give me the assignment in `Sub1`.
- And in the case of Find References, it's also supposed to give me the refinement in `Sub2`, IIRC, though I'm not 100% sure on that one.

[2016-03-17 11:14] bjansen commented on #1735
Same thing in Ceylon IDE 1.2.2

[2016-03-17 14:21] quintesse opened #1736 "`.SNAPSHOT` versions"
Take a look at the `snapshot-versions` branches in the Ceylon distribution and the SDK.
They've now switched to using modules that have `.SNAPSHOT` qualifiers in their versions.

The IDE needs to be adjusted to use those versions.

This could perhaps be made less of a burden by turning the Ceylon version number into a variable that gets substituted at build time, see for example the [OSGi MANIFEST

[2016-03-18 19:49] gavinking opened #1737 "wrong icon for see links in doc hover"
In the doc hover, `see` links are rendered with an exclamation mark, which is the icon for an _exception_. It should be the little chain-link icon.

[2016-03-19 19:21] gavinking opened #1738 "problem with Java 8 default methods"
In the IDE, ceylon-sdk has a compile error in `ceylon.interop.java::JavaIterator`, because `remove()` refines a Java `default` method, and the model loader doesn't know what to do with that yet.

[2016-03-20 00:24] gavinking opened #1739 "Extract Function does not handle inherited members correctly"
References to inherited members aren't treated as local refs by Extract Function. They should be.

[2016-03-20 12:26] simonthum commented on #1706
OK, since upgrading to 1.2.2 eclipse's default behaviour prevents any form of productivity. However, since the other IDEs aren't there yet, I did two things:

1. Switch off automatic building - this impairs usability but restores performance to a workable degree.

2. In an effort to move my ceylon flow to traditional editors, I measured compiler performance. Lo and behold:

project a (the smaller

[2016-03-20 12:51] jvasileff commented on #1706
@simonthum that looks way too slow. Perhaps there is something specific in your code that is causing a problem for the typechecker or compiler. For reference, compiling the entire SDK and all test modules on my small 2-core laptop takes only 1m27s (2m34s of user time << 4m12s).

[code]

[2016-03-20 14:37] gavinking opened #1740 "completion of qualified types inside "case (is X.Y)""
Attempting to complete `case (is X.Y)` is impossible.

[2016-03-20 14:42] gavinking opened #1741 "refinement completions and overloading in Java"
Given this class:

[code]

Attempting to autocomplete refinements of additional overloads of `visit()` fails to show any options.

[2016-03-20 14:43] gavinking opened #1742 "refinement completions and qualified parameter types"
Autocompleting the refinement of `visit()`, results in this code:

[code]

Its should be `Tree.Resource`, not just plain `Resource`.

[2016-03-20 14:46] gavinking opened #1743 "type hierarchy of Tree.Term"
The type hierarchy of `Tree.Term` does not show its subclasses. This seems to be specific to this Java class.

[2016-03-20 14:46] gavinking commented on #1743
@davidfestal do you understand why this would occur?

[2016-03-20 14:51] gavinking opened #1744 "import list in Outline popup"
The Outline popup shows a list of all imported packages, fully expanded, which sometimes pushes the more interesting stuff off of the visible section of the tree. Probably this list should be collapsed by default.

[2016-03-20 15:01] gavinking commented on #1744
Ah. This is a bug that only occurs when hide private members is selected.

[2016-03-20 15:16] #1744 closed

[2016-03-20 15:16] gavinking commented on #1744
Fixed.

[2016-03-20 15:37] gavinking commented on #1742
Oh, wait, apparently this is specific to Java classes. @davidfestal any idea why?

[2016-03-20 15:43] gavinking commented on #1742
Simple Java code to reproduce:

[code]

Try extending `Visitor` in Ceylon.

[2016-03-20 15:45] gavinking commented on #1742
Well, actually this appears to be a problem with `TypePrinter`, which omits the qualifying type for some reason.

[2016-03-20 15:49] gavinking commented on #1742
In fact, it is the Java model loader which appears to be at fault here. It doesn't set the qualifying type in this case.

[2016-03-20 17:22] gavinking commented on #1739
Fixed.

[2016-03-20 17:22] #1739 closed

[2016-03-20 17:52] simonthum commented on #1706
Thanks, at least I know that something's clearly wrong now.  I'll see if profiling gets me further.

[2016-03-20 20:09] #1737 closed

[2016-03-20 20:38] #1733 closed

[2016-03-20 20:38] gavinking commented on #1733
fixed.

[2016-03-20 20:40] gavinking commented on #1727
@davidfestal this is fixed now, isn't it?

[2016-03-20 20:52] gavinking commented on #1723
I have fixed number 2. Eyeballing the code I can't see how 3 could ever reasonably occur.

Closing.

[2016-03-20 20:52] #1723 closed

[2016-03-20 21:33] gavinking commented on #1728
Fixed now, probably.

[2016-03-20 21:33] #1728 closed

[2016-03-20 21:46] gavinking commented on #1711
Probably fixed now.

[2016-03-20 21:46] #1711 closed

[2016-03-20 21:50] gavinking commented on #1715
@simonthum is this one fixed now?

[2016-03-20 22:41] #1731 closed

[2016-03-20 22:41] gavinking commented on #1731
Fixed.

[2016-03-20 23:21] #1735 closed

[2016-03-20 23:22] gavinking commented on #1735
Fixed, with loverly special cases. :-/

[2016-03-21 09:36] simonthum commented on #1706
OK, for the larger project I'm down to

[code]

Eclipse feels much more useable now, although I'm less than sure the race conditions cease to exist.

Out of a hunch, I checked my self type declarations and found them to be at odds to those of the langauge module, e.g. ``Comparable<Other>``. I was missing Comparable's `of Other` clause equivalent in my declarations - this did not change anything bu

[2016-03-21 09:42] simonthum commented on #1715
Apparently, yes. Thanks!

[2016-03-21 09:43] #1715 closed

[2016-03-21 10:21] gavinking commented on #1706
Wow! That is ... unexpected. I can't even begin to think of an explanation for that...

[2016-03-21 11:01] simonthum commented on #1706
Same here. I would never have checked those types if I hadn't observed that, besides ceylon upgrades and IDE fuzzing, increased use of abstraction seemed a likely cause. Which dearly reminded me of c++ ;)

[2016-03-21 13:42] jvasileff opened #1745 "ceylon.test: StringIndexOutOfBoundsException clicking on JavaScript failure trace"
For a JavaScript test like:

[code]

clicking on the first line in the "Failure Trace" results in the exception below.

Since JavaScript stack traces don't provide ceylon file and line number info, perhaps clicking in this area for JavaScript stack traces should be a no-op.

[code]

[2016-03-21 14:00] simonthum opened #1746 "Exception when trying to open type"
I got the below exception in 1.2.2, but when retrying it worked fine:

[code]

[2016-03-21 16:17] gavinking opened #1747 "navigation to methods of ide-common "nodes" from Java"
When I try to navigate to any of the methods of `nodes` from within the Java code of the IDE, I get taken to the Java editor instead of the Ceylon editor.

[2016-03-21 21:22] bjansen opened #1748 "Error every time I save a file"
I'm suddenly getting this error every time I save a file:

[code]

I can't really tell what actions I did to cause this :/

[2016-03-22 12:26] lukedegruchy opened #1749 "Class-level refine equals()/hash doesn't regenerate existing equals()/hash based on new attributes"
In the latest version of the Eclipse IDE, the option to generate equals() and hash always appears but it will not regenerate equals() and hash if they already exist.  For example, create this class:

[code]

Then CTRL 2 H"

[code]

Add a new attribute (Integer number):

[code]

Using CTRL-1 > Refine equals() and hash of Thingee or CTRL 2 H does nothing and the current implementations of equals() a

[2016-03-22 19:29] quintesse commented on #1736
@davidfestal I've made all the changes I wanted to make to the distribution, SDK, formatter, conversion tool and ide-common projects but I can't get the last step, the Eclipse plugin, to work. Can you please take a look at that? It' probably some "1.2.3" I've forgotten to change into "1.2.3.SNAPSHOT" somewhere, but I can't find it.

[2016-03-23 15:55] gavinking opened #1750 "quick assist to convert for loop to while loop over Iterator"
This would be a nice-to-have.

[2016-03-23 16:12] bjansen commented on #1750
This should be in ceylon-ide-common ;)

[2016-03-23 19:10] thradec commented on #1745
Fixed, thanks.

[2016-03-23 19:10] #1745 closed

[2016-03-24 17:03] gavinking opened #1751 "two new errors"
Found these in the log:

[code]

And:

[code]

@bjansen would you take a look at them, please?

[2016-03-24 17:24] #1751 closed

[2016-03-24 17:32] gavinking commented on #1751
Thanks man.

[2016-03-25 15:47] DiegoCoronel opened #1752 "Integrate with ceylon-gradle-plugin"
@renatoathaydes did really amazing plugin that makes integration with maven dependencies easy, i believe it must be integrate with ceylon plugin with options like:
- Option to create the project with build.gradle
- Add overrides.xml generated by gradle --> build/overrides.xml
- Add maven repo generated by gradle --> build/maven-settings.xml
- Use plugin lifecycle
- Etc..

It will make new projects

[2016-03-26 11:57] maiermic opened #1753 "command to abbreviate type"
You can use the command (quick fix) **Expand type abbreviation** to expand for example `[String]` to `Tuple<String,String,Empty>`. It would be great to be able to do the opposite with a command **Abbreviate type** that shortens `Tuple<String,String,Empty>` to `[String]`.

[2016-03-26 14:23] DiegoCoronel opened #1754 "Creation of a new project using ceylon bootstrap we have ceylonb visible only after refresh"
After create a new project with ceylon bootstrap option we can see the files ```ceylonb```and ```ceylonb.bat```only after refresh the project.

[2016-04-04 11:41] gavinking commented on #859
Working now, AFAICT.

[2016-04-04 15:18] bjansen opened #1755 "Exception when saving file"
[code]

Not sure what caused this... I get it when I save a file.

[2016-04-06 09:03] quintesse opened #1756 "Make sure the `ceylonb` script has it's executable bit set"

[2016-04-06 12:44] tombentley opened #1757 "Socket timeout causes startup error."
On starting the IDE I got "An internal error occurred during: "Initializing Java Tooling".", with the following stacktrace. I don't know why it's even bothering to do this, as ceylon.language-1.2.2.src is in the cache.

com.redhat.ceylon.model.cmr.RepositoryException: java.net.SocketTimeoutException: Timed out during connection to https://modules.ceylon-lang.org/repo/1/ceylon/language/1.2.2/ceylon

[2016-04-06 23:10] jvasileff opened #1758 "rename refactoring of type parameters misses shortcut refinements"
Rename refactoring of `Element` in the code below leaves `foo` as is:

[code]

[2016-04-07 13:40] jvasileff opened #1759 "StackOverflowError while editing files"
I've gotten this a few times, but I have no idea what triggers it:

[code]

[2016-04-11 23:43] gavinking commented on #1734
Fixed.

[2016-04-11 23:43] #1734 closed

[2016-04-12 14:41] jvasileff opened #1760 "mangled identifier with rename refactoring"
If you have an unsaved file, rename refactoring may not work correctly.

Start with the files below, saved:

`fileA.ceylon`:
[code]
`fileB.ceylon`:
[code]

Then:

1. Add a space character before `void bar` in `fileB.ceylon`, so that there will be unsaved changes
2. CMD-Option-R on `fileA.ceylon`'s `foo`. Rename to `fooBar`
3. Click "OK" in the "Save Modified Resources" dialog that will appear

The

[2016-04-12 14:45] gavinking commented on #1760
Strange. Stuff like this definitely shouldn't happen. Perhaps it's a regression.

[2016-04-12 17:05] #1760 closed

[2016-04-12 17:07] gavinking commented on #1760
OK, fixed now, and you get nicely prompted to save files, which didn't work before.

[2016-04-12 17:10] jvasileff commented on #1760
Cool, thanks!

[2016-04-14 12:55] DiegoCoronel opened #1761 "Support relative path for aether repository"
This is a new feature in backend, it would be good to have support in eclipse.
https://github.com/ceylon/ceylon/issues/6142

[2016-04-14 13:40] quintesse commented on #1761
Btw, possibly within the IDE the relative path would be taken relative the the Eclipse startup folder instead of the project folder (you might have different projects open after all). If that's the case I imagine the IDE would have to convert the relative path to an absolute path when passing it to the compiler etc. If so care has to be taken that that absolute path doesn't end up in the config fi

[2016-04-14 15:59] fwgreen opened #1762 "Ceylon IDE changes JDT launcher preferrences"
After creating a new Java project, from the Java perspective, you are forced to pick a launcher the first time you run the project.  This behavior appeared with Ceylon IDE 1.2.2.

OS X 10.11.4
JDK8 u72
Eclipse Mars.2
![screen shot 2016-04-14 at 11 45 49 am](https://cloud.githubusercontent.com/assets/7098161/14534372/e7c595ec-0236-11e6-993d-0692b44bb031.png)

[2016-04-14 16:04] davidfestal commented on #1762
Yes, this dialog appears as soon as you have several available launchers for a launch configuration type.
You can avoid it by setting the preferred launcher in your workspace settings.

However we'll try to find a way to set this preference to the default (non-ceylon-aware) launcher automatically.

[2016-04-14 17:20] gavinking opened #1763 "initializer annotation and highlight range are completely broken"
`AdditionalAnnotationCreator` is busted :-(

[2016-04-16 16:19] DiegoCoronel opened #1764 "Support for relative path for maven settings localRepository path"
Currently Im using a local maven repository generated by ceylon-gradle-plugin:
[code]
and eclipse works fine, but when i try to use relative path:
[code]

Eclipse is not able to use the repository and my code breaks with lots of compilation errors for not found imports in module

I tried with CLI and it works nice. This looks something eclipse only.

[2016-04-16 21:50] simonthum opened #1765 "Rename refactoring places ill-fomed imports with keyword package names"
If I rename packages (with subpackages) that have keyword sub-packages, the new imports are illegal.

E.g. a.x -> a.y leads a.x.out to become a.y.out, but imports and package declarations of that identifier are not protected (a.y.\iout). In fact they become a.y.outut in some places, probably because the protection which was there before is not being accounted for.

[2016-04-18 11:55] simonthum commented on #1706
**TL;DR: Eclipse.org downloads considered harmful**

To give an update, eclipse is snappy again for me. My solution?

_Use Ooomph to create the smallest-possible eclipse distro you could possibly install ceylon in. _

By wasting a day on investigation, I noticed that most hangs were associated with

 * resource abuse (AERI being the top abuser; 30 megs of .metadata space and 4/5 open file handles)

[2016-04-18 11:55] #1706 closed

[2016-04-20 07:46] simonthum commented on #1464
Just had this issue with Neon M7

[2016-04-20 07:54] simonthum opened #1766 "Neon compatibility"
I just tested ceylon against Neon M7. Besides an API change already reported, there was this interesting error:

[code]

Perhaps ant has moved or became optional? But maybe only launch configs in the IDE need fixing (I had ceylon IDE projects open).

[2016-04-20 09:53] simonthum opened #1767 "Cannot create ceylon file in keyword package using the wizard"
I know, I'm asking for trouble, but then again there is no other way to root  out those bugs. Behold:

![eclipse_ceylon_bug_2_220x193](https://cloud.githubusercontent.com/assets/580723/14670602/1a87df56-06ee-11e6-9768-21b6192416e7.png)

Either the package needs to be auto-unprotected / reprotected or manual protection (as entered in the screenshot) has to be parsed.

[2016-04-21 09:25] FroMage opened #1768 "Plugin works too much when non-Ceylon projects get saved"
I have the IDE and ide-common projects open, and their dependencies, but I'm not touching any file from these projects. The build is done and Eclipse is doing nothing.

Now I edit a file from the `ceylon-lang.org` project, and when I save it, Eclipse crawls to a halt and the CPUs wake up and get busy. It doesn't appear to be the GC so I took a thread dump:

[code]

You can see we have two Ceylon t

[2016-04-21 10:22] FroMage opened #1769 "Control-hover on Java element super slow"
When the IDE projects are open, if I go on `CeylonBuilder.java` in `generateBinaries` and hover with `Ctrl` pressed over the `compile()` call, I don't get the click pointer until about 20 seconds, to show me that I can navigate in that function. A thread dump showed the IDE busy doing this before it showed the pointer:

[code]

Notably it slowed down the IDE considerably, preventing me from even n

[2016-04-21 12:30] simonthum opened #1770 "Eclipse performance (with better info)"
With the eclipse UI responsivity diagnosis and some luck, I was able to pinpoint two things.

First, I am reliably unable to switch panels in the eclipse preferences while a ceylon program is running from the IDE. As soon as the program stops, I see the new preferences page. Not even minimizing the main UI solves the block, which helped in many other occassions.

While the use case is admittedly w

[2016-04-21 15:45] gavinking commented on #1770
@davidfestal would you take a look at this one, please?

[2016-04-21 15:49] gavinking commented on #1769
I have also been experiencing some things like this. Another one for @davidfestal.

[2016-04-21 17:48] simonthum commented on #1770
The two other stack traces are largely identical - up to

``
at org.eclipse.jface.viewers.AbstractTreeViewer$1.run(AbstractTreeViewer.java:818)
``
but they all hit the unzip stuff through CeylonArchiveStore. I can provide them too if desired.

[2016-04-21 20:25] bjansen opened #1771 "Rename refactoring shows invalid dialog:"
While trying to rename a declaration, an error pops up stating that the file I'm currently refactoring is not saved:

<img width="627" alt="capture d ecran 2016-04-21 a 22 23 55" src="https://cloud.githubusercontent.com/assets/281528/14723134/c9673662-080f-11e6-8d4d-67f68c0bda87.png">

[2016-04-21 21:07] bjansen commented on #1771
Some references to `TestDocument` were not updated in other files.

[2016-04-23 08:05] bjansen opened #1772 "Invalid error on default type arguments"
In `ceylon-ide-common`, we have this interface:

[code]

And an implementation for unit tests:

[code]

Everything builds fine in the CLI, but I get these errors in Eclipse:

| Description | Resource | Path | Location | Type |
---------------- |-------------- | ------- | ------------ | ---------
| Some classes are missing from the generated module archives, probably because of an error in the Java

[2016-04-23 15:52] jpragey opened #1773 "NPE if a non-empty resource folder name is a java keyword"
For example, if I create a `resource/static/file.html` file, I get:

``
The Ceylon Java backend compilation failed
  with a throwable : java.lang.NullPointerException
	at com.redhat.ceylon.compiler.java.tools.JarOutputRepositoryManager$ProgressiveJar.getJavaFileObject(JarOutputRepositoryManager.java:435)
	at com.redhat.ceylon.compiler.java.tools.JarOutputRepositoryManager.getFileObject(JarOutputRe

[2016-04-23 17:32] gavinking commented on #1773
Is this really a bug in the IDE, or does it also occur with the CLI?

[2016-04-24 10:11] gavinking opened #1774 "Enter Import Alias results in broken code"
This refactoring is broken.

[2016-04-24 22:00] jpragey commented on #1773
Well, after re-checking, the bug occurs also in CLI if the faulty dir is inside a module (`resource/mymodule/static/file.html`), and in Eclipse wherever it is.
So this bug should be moved to `ceylon`. Is there an easy way to do it ?

[2016-04-25 01:56] gavinking commented on #1773
Not really, just open a new issue and close this one.

[2016-04-25 08:53] bjansen commented on #1774
That's a sign it should be abstracted in ceylon-ide-common ;)

[2016-04-25 12:13] jpragey commented on #1773
Moved to https://github.com/ceylon/ceylon/issues/6231

[2016-04-25 12:13] #1773 closed

[2016-04-25 19:39] #1774 closed

[2016-04-25 19:40] gavinking commented on #1774
Fixed. It was me who broke it, naturally.

[2016-04-25 21:56] #1763 closed

[2016-04-25 21:57] gavinking commented on #1763
Fixed on master. This is a strong candidate for backporting to the fixes branch.

[2016-04-27 09:13] FroMage opened #1775 "New Ceylon-aware Java Launcher does not work"
I have a Ceylon proejct with `CeylonType` and a Java project with `JavaUser` which uses that type. The Java project has the Ceylon project's output `.car` file in its build path (`Add Jar`).

When I run my Java main, with the `Ceylon-aware runner` I get the same exception as the non-Ceylon-aware one:

[code]

[2016-04-27 09:19] FroMage opened #1776 "Allow Java projects to click on Ceylon declarations"
Figure out if we can make Java projects that depend on Ceylon projects navigate to Ceylon types by clicking on them. ATM you get to the bytecode, which is not useful.

[2016-04-27 09:26] FroMage commented on #1775
I have to add that when I import the Ceylon project from the Java project (as opposed to just its `.car` file) then I do get further:

[code]

But that's about setting up the metamodel, which I think the `Ceylon-aware` runner doesnt do.

[2016-04-27 09:46] davidfestal commented on #1775
you mean the error changed after you exported the Ceylon-related classpath entries in the used Ceylon project ?

[2016-04-27 09:58] FroMage commented on #1775
yes

[2016-04-27 10:27] gavinking commented on #1776
Eyeballing the code, it's not at all clear why this doesn't already work...

[2016-04-27 10:29] davidfestal commented on #1776
yes, that's what I thought also. Probably something in `JavaSearch`. I'll have a look.

[2016-04-27 10:33] gavinking commented on #1776
In fact, it works for me. @FroMage you have to select Open Ceylon Declaration from the little drop down menu thingy, not just click.

[2016-04-27 10:37] gavinking opened #1777 "Ceylon classpath containers should be exported by default"
If a Java project depends on a Ceylon project, it needs the classpath containers to be exported. There's _no way_ that any user is ever going to realize that, so they should be exported by default.

[2016-04-27 10:40] davidfestal commented on #1777
I would prefer a clean error with a quick fix.

[2016-04-27 10:41] gavinking commented on #1777
I'm not sure why.

[2016-04-27 10:41] gavinking commented on #1777
I think things should Just Work by default.

[2016-04-27 10:42] davidfestal commented on #1777
as much as possible yes :-)

[2016-04-27 10:45] davidfestal commented on #1777
This may have impact on the model loader in case some other Ceylon project depends on the Ceylon project with exported entries. some times ago it would surely have introduced problems, but now I think it's not a problem anymore due to the model loader being much more robust when choosing the classpath entries in which it searches for declarations. However I'll check still.

[2016-04-27 10:53] gavinking opened #1778 "confusing error running Java code that calls Ceylon"
I have a Java project that depends on a Ceylon project, and I've exported the Ceylon classpath containers.

I attempt to run the following Java class:

[code]

And I get this error:

[code]

This might be because I have not done whatever magical invocations of the `Main` API are necessary, but, if so, a much better error message is necessary.

[2016-04-27 10:54] gavinking commented on #1776
To be clear: it _only_ works if the Ceylon project exports its classpath containers.

[2016-04-27 11:01] FroMage commented on #1778
Weird, I did get that to work without any metamodel set up. Sounds like your Ceylon module has dependencies, no?

[2016-04-27 11:08] davidfestal commented on #1778
It's probably not related to metamodel registering. But to the dependencies
of the Ceylon project.
Le 27 avr. 2016 13:01, "Stéphane Épardaud" <notifications@github.com> a
écrit :

Weird, I did get that to work without any metamodel set up. Sounds like
your Ceylon module has dependencies, no?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly or view i

[2016-04-27 11:17] gavinking commented on #1778
Sorry, false alarm, and I'm a retard. This was indeed a side-effect of the flat classpath (my module transitively imported two different versions of `ceylon.collection`), and so the error message was exactly correct.

However, it would be rather nice if the error would have pointed me to *which* module was the cause of the problem!

[2016-04-27 11:17] #1778 closed

[2016-04-27 11:18] gavinking commented on #1778
@FroMage do you think we could at least improve the error message?

[2016-04-27 13:33] FroMage commented on #1776
OK, so I found that popup. For it to become visible I need to `Ctrl-hover-move` the mouse over the declaration for a second before it shows up. Just Ctrl-clicking it leads to the bytecode. That's not enough, guys, nobody can discover that.

[2016-04-27 13:33] FroMage commented on #1776
Note that the tooltips could be improved too:

[code]

[2016-04-27 13:56] FroMage commented on #1778
I bet that message was printed on stderr. That tool was meant to be used as a tool, and it's reused programmatically so the error ended up in a place where it was lost. You could open an issue in the IDE so that we create an API for getting this classpath rather than reusing the tool itself.

[2016-04-27 14:29] gavinking commented on #1776
Open an issue against Eclipse. On Mac the menu pops up *immediately* with no delay.

[2016-04-27 14:30] gavinking commented on #1776
What tooltips are these? I've never seen a tooltip like that.

[2016-04-27 15:58] gavinking commented on #1776
@maxandersen Do you know how to make our hyperlink detector the first one in the Java editor?

[2016-04-28 13:11] FroMage commented on #1768
Hell, today I have all Ceylon projects closed and I still get those threads doing "stuff". Slows down my Eclipse.

[2016-04-28 13:13] FroMage commented on #1768
Closing/reopening shows those Ceylon threads gone. So something is up with closing projects?

[2016-04-30 17:42] #1758 closed

[2016-04-30 17:42] gavinking commented on #1758
Fixed, thanks.

[2016-04-30 18:52] gavinking commented on #1771
Should be fixed now.

[2016-04-30 18:52] #1771 closed

[2016-04-30 18:54] gavinking commented on #1772
One for you, @davidfestal.

[2016-05-01 17:17] maxandersen commented on #1776
I do not think there are a way to sort/order hyperlink detectors.

But I also do not think this is the right way to solve this issue.

If you are ending up with bytecode in an editor it is because the source lookup mechanism is not right. As I recall it you can add custom source code lookup to projects which will be activated when eclipse can't locate it - @fbricon might know of the best place to

[2016-05-01 18:43] gavinking commented on #1776
@maxandersen even if the source lookup was able to locate the Ceylon source code, that still wouldn't be good enough, since it would still not be enough to convince the Java editor to open the linked source code in the *Ceylon* editor instead of the Java editor.

[2016-05-01 18:51] gavinking opened #1779 "source lookup for project source code broken"
If I create a Ceylon project containing Java code that depends on Ceylon code, and I attempt to navigate from the Java code to the Ceylon code using Open Declaration instead of Open Ceylon Declaration, I get sent to a bytecode viewer with no source attachment. It should at least be able to find the Ceylon source, it seems to me. WDYT, @davidfestal?

[2016-05-01 18:52] gavinking commented on #1779
Note: relates to #1776.

[2016-05-02 15:28] DiegoCoronel commented on #1601
This is fixed in current master

[2016-05-02 15:28] #1601 closed

[2016-05-03 04:20] maxandersen commented on #1776
do you know of a bug already open against JDT to fix that ? If not, lets get one open with this imo very valid usecase.

[2016-05-03 23:15] gavinking commented on #1776
I do not, no.

[2016-05-04 00:13] gavinking opened #1780 "errors building the SDK when disconnected from internet"
I tried to clean build the SDK from inside Eclipse while disconnected. I got lots of these:

[code]

[2016-05-04 08:43] davidfestal commented on #1780
I already had to fix it there:
b59f20a18636bdf86c6f9bfd4b99193e39794552
But visibly it's not sufficient.

This error seems to related to the following change ceylon/ceylon@57e84269bbaa76d3df8cb4a8d2ab021c08c90183

[2016-05-04 09:48] gavinking commented on #1780
@tombentley your thoughts?

[2016-05-04 10:09] tombentley commented on #1780
Let me try it with `urlExists()` returning false when it encounters an `IOException`, to see whether that defeats the changes I made to make CMR better able to cope with rubbish connections.

[2016-05-04 10:40] tombentley commented on #1780
@gavinking does that resolve it for you?

[2016-05-04 11:00] gavinking commented on #1780
Building...

[2016-05-04 11:37] gavinking commented on #1780
Looks good to me :)

[2016-05-04 11:37] #1780 closed

[2016-05-04 11:38] gavinking commented on #1780
Thanks.

[2016-05-05 17:47] DiegoCoronel commented on #1761
This issue for me is a blocker, because my team contains 10 devs and I really want to start coding in ceylon, but i need to make a smooth transition, so this is something my team will complain if i try right now

[2016-05-05 17:47] DiegoCoronel commented on #1764
This issue for me is a blocker, because my team contains 10 devs and I really want to start coding in ceylon, but i need to make a smooth transition, so this is something my team will complain if i try right now

[2016-05-06 20:53] #1765 closed

[2016-05-06 20:53] gavinking commented on #1765
Fixed, thanks.

[2016-05-06 21:11] #1767 closed

[2016-05-06 21:11] gavinking commented on #1767
Fixed.

[2016-05-07 19:34] sgalles opened #1781 "NPE on malformed Iterable source code"
This (broken) code (because of `{String*}>`)

[code]

compiled with the IDE 1.2.2`:

[code]

[2016-05-09 14:17] gavinking commented on #1464
With the current milestone I get:

[code]

[2016-05-09 15:43] realms50 opened #1782 "Frequent lockups"
This is a spinoff from another issue, where I mention I use CLI tools because Eclipse locks up from time to time.

It seems to happen when I type and the "intellisense" is about to kick in. IIRC I was not able to reproduce consistently. This was the initial 1.2.2 release, sorry if this has been fixed in an update.

[2016-05-09 15:46] gavinking commented on #1782
Should have already been fixed by @3a586f98944812a43a61cd2262e2c2bec1400d2c and by some optimizations to the typechecker.

[2016-05-09 15:46] #1782 closed

[2016-05-09 15:50] realms50 commented on #1782
OK, thank you. Doesn't this warrant an interim release? The IDE is fairly unusable as is, so if this indeed solves the problem...

[2016-05-09 21:55] gavinking commented on #1750
Done.

[2016-05-09 21:55] #1750 closed

[2016-05-09 21:56] gavinking commented on #1750
@bjansen I guess you need to add this to IntelliJ too.

[2016-05-10 08:32] simonthum commented on #1770
Here is another stacktrace from Eclipse's UI checkingthat - I believe - pinpoints bad UI thread behaviour:

``
eclipse.buildId=4.5.2.M20160212-1500
java.version=1.8.0_60
java.vendor=Oracle Corporation
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Command-line arguments:  -os linux -ws gtk -arch x86_64

org.eclipse.ui.monitoring
Info
Tue May 10 11:25:51 CEST 2016
Sample at 11:25:50.

[2016-05-10 08:35] davidfestal commented on #1770
@simonthum : Thanks for these information.  I didn't forget your issue and will work on it asap.

[2016-05-10 09:07] simonthum commented on #1770
Good to hear! FWIW, I think the biggest benefit lies in caching CeylonArchiveFileStore.fetchInfo() to avoid I/O.

The blocker I just posted only caused a second or so, but the interesting fact (as I remember it) is that I did not use completion at that point. I used it before, while ceylon was busy compiling, and it did not work (but eclipse remained responsive). I suppose the completion call was

[2016-05-10 11:46] gavinking opened #1783 "eclipsePlatformServices.createTextChange() creates wrong sort of TextChange"
For quickfixes using the new API, we get a `DocumentChange`, not a `TextFileChange`, which isn't correct and screws up the Undo stuff.

[2016-05-10 12:34] #1783 closed

[2016-05-10 13:35] simonthum commented on #1770
Just to back my argument for a cache, here's another fresh zip I/O trace (through CeylonArchiveFileStore.childEntries) sampled during a 6 second outage:

``
eclipse.buildId=4.5.2.M20160212-1500
java.version=1.8.0_60
java.vendor=Oracle Corporation
BootLoader constants: OS=linux, ARCH=x86_64, WS=gtk, NL=en_US
Command-line arguments:  -os linux -ws gtk -arch x86_64

org.eclipse.ui.monitoring
Info
Tue

[2016-05-10 13:46] davidfestal commented on #1770
Yeah, I know for a long time that the CeylonExplorer tree management  would need some optimization regarding how the refresh is managed

[2016-05-10 13:50] simonthum commented on #1770
OK, ok, that last one for today, but it had 45 secs. I'm not playing this up - the machine is fairly modern (although not equipped with an SSD).

[code]

All three stack samples are zip magic in hasChildren() like above. Please give it a try.

[2016-05-10 14:05] gavinking commented on #1783
Thanks man.

[2016-05-13 13:57] gavinking opened #1784 "NPEs from hierarchy view"
[code]

[2016-05-13 13:58] gavinking opened #1785 "NPE instantiating EclipseEditorData"
[code]

[2016-05-13 13:58] gavinking opened #1786 "NPE creating quick fix"
[code]

[2016-05-13 13:59] gavinking commented on #1784
Also this very similar thing:

[code]

[2016-05-13 14:06] davidfestal commented on #1784
Yeah, I'm aware of this issue. This occurs when a Unit built by a previous typechecking is accessed just after a rebuild.Another issue catched this problems afair. It's on my plate.

[2016-05-14 16:41] gavinking commented on #1740
Fixed.

[2016-05-14 16:41] #1740 closed

[2016-05-18 21:03] LisiLisenok opened #1787 "add --javac compile option"

[2016-05-29 12:52] simonthum opened #1788 "Unit test view and peformance"
I have another - very reproducible - performance issue: Eclipse with a visible ceylon unit test view constantly eats 1/2 core, independent of the presence or volume of unit test results. As soon as I close or hide the view, eclipse drops to zero CPU usage, only to creep up when opening/showing it. I did not observe such behaviour with other views.

[2016-05-29 13:04] gavinking commented on #1788
@thradec would you be able to find time to take a look at this one, please?

[2016-05-29 15:22] gavinking commented on #1727
@davidfestal Ping. Is it fixed?

[2016-05-29 15:25] gavinking opened #1789 "hyperlink navigation to Find References, Refined Declaration, and Type Hierarchy"
I have added menu items for these Navigate actions to the little popup menu for hyperlink navigation. Partly inspired by IntelliJ.

[2016-05-29 15:25] #1789 closed

[2016-05-30 09:05] davidfestal opened #1790 "Cross-project dependencies to Java sources incorrectly tracked"
If I modify a class of a Java source file in a Ceylon project, and this class is used in a depending Ceylon project, the files that depend on this class in the depending project are not rebuilt.

[2016-05-30 10:56] gavinking opened #1791 "autocompletion inside expression case"
Autocompletion inside a `case` condition of a `switch` expression is broken.

[2016-05-30 13:25] #1790 closed

[2016-05-30 13:45] davidfestal commented on #1727
Yes, I just tried it and it seems fixed. Don't know why I had not closed the issue...

[2016-05-30 13:45] #1727 closed

[2016-05-30 14:48] gavinking commented on #1727
Thanks.

[2016-05-30 20:30] simonthum commented on #1788
In hindsight, this issue is behind a fair share of the performance problems I experience(d). E.g. when the view is open, switching preference panels is next to impossible. Hiding it fixes that. It'd really help if you could reproduce it; I'm on Gentoo Linux, Java 8 r74 and Eclipse Mars.2.

[2016-05-31 08:28] bjansen opened #1792 "Changes in a dependency project are not detected"
I have both ide-common and ide-eclipse open. If I remove a formal function from `DocGenerator`, save then go delete the actual declaration in `EclipseDocGenerator`, it does not see the changes I made in ide-common and complains that `Formal member getUnitName of DocGenerator not implemented in class hierarchy`. I have to clean build both projects to remove the error.

* I didn't change my project

[2016-06-01 21:09] bjansen opened #1793 "Model loader gets confused when it finds empty Java files"
In ceylon-ide-common, we have a file named `SingleSourceUnitPackage.java`, which is entirely commented because it was rewritten in Ceylon in a file named `SingleSourceUnitPackage.ceylon`, located in the same package.

When I try to import this class in a _Ceylon_ unit that belongs to another project that depends on ceylon-ide-common, I get a strange error in Eclipse:

[code]

If I remove the empty

[2016-06-01 21:12] bjansen commented on #1793
I can also work around the problem by renaming the Java file. It looks like the JDT model loader assumes that `Foo.java` will always contain a class `Foo`, whereas the file can be empty.

[2016-06-03 20:18] bjansen opened #1794 "CCE when renaming a parameter in shortcut syntax function"
[code]

When I try to rename `that`, I get this exception:

[code]

[2016-06-04 20:15] gavinking commented on #1730
Fixed by ceylon/ceylon-common@d9cf4e4

[2016-06-04 20:15] #1730 closed

[2016-06-04 20:16] gavinking commented on #1730
Done!

[2016-06-04 23:08] lucono opened #1795 "Development update site not updated since version 1.2.0"
The Ceylon IDE eclipse plugin development update site ([specified here](http://ceylon-lang.org/documentation/1.2/ide/install/#installing_from_the_development_unstable_update_site)) does not contain versions of the IDE subsequent to 1.2.0.

Is there a way to get development builds of versions of the IDE subsequent to the latest stable 1.2.2 release version?

Much thanks.

[2016-06-05 07:42] lucono commented on #1464
Errors occurred during the build.
Errors running builder 'Ceylon Builder' on project 'ceylon-sdk'.
org.eclipse.jdt.internal.compiler.env.IBinaryMethod.getParameterAnnotations(I)[Lorg/eclipse/jdt/internal/compiler/env/IBinaryAnnotation;
[code]

[2016-06-05 12:12] lucaswerkmeister opened #1796 "NPE creating source folder in compiler-js project"
When I tried to create a new Ceylon module in `compiler-js`, and in that dialog create a new source folder `src/main/ceylon`, I got this unhandled event loop exception:
[code]

[2016-06-05 12:36] lucaswerkmeister opened #1797 "Error importing JS module without .src"
- dependency tree: com.redhat.ceylon.compiler.js.typescript/1.0.0 -> tsc/1.0.0

The CLI compiler builds this just fine, but the IDE complains unless a `.src` zip file exists.

[2016-06-05 17:32] gavinking commented on #1796
But `compiler-js` isn't a Ceylon project, is it?

[2016-06-05 17:32] lucaswerkmeister commented on #1796
No… should the “create new module” option be completely disabled?

[2016-06-05 20:17] #1796 closed

[2016-06-05 20:18] gavinking commented on #1796
Should be fixed.

[2016-06-05 20:18] lucaswerkmeister commented on #1796
Thanks.

[2016-06-05 21:07] bjansen commented on #1797
I'm not sure the model loader used by IDEs can load declarations from a `.js` file?

[2016-06-05 21:07] lucaswerkmeister commented on #1797
Isn’t that what the `-model.js` file is for? Are you saying people can’t use the IDE to work with closed-source libraries?

[2016-06-05 21:12] bjansen commented on #1797
I wouldn't be surprised if that was the case with the current version. Maybe we could just reuse the existing model loaders for JS and Dart. @davidfestal should have a better overview of this.

[2016-06-05 21:17] #1791 closed

[2016-06-05 21:19] gavinking commented on #1791
Fixed.

[2016-06-06 16:22] gavinking opened #1798 "Find References in ceylon-ide-common returns no results"
Find References doesn't seem to work at all in the ceylon-ide-common project.

[2016-06-06 19:18] gavinking commented on #1475
Almost done.

[2016-06-06 19:41] gavinking commented on #1475
Yay! Finally!

[2016-06-06 19:41] #1475 closed

[2016-06-06 20:14] gavinking commented on #1794
Fixed.

[2016-06-06 20:14] #1794 closed

[2016-06-06 20:14] bjansen commented on #1794
thanks!

[2016-06-07 09:05] davidfestal opened #1799 "Ceylon Explorer broken"
It seems that the `CeylonExplorer` is broken and, on some projects, doesn't show any child.

[2016-06-07 09:50] davidfestal commented on #1799
After analyzing and debugging, it appears that the `JDKRepository` is not added to the `RepositoryManager`, even when `CeylonRepoManagerBuilder.isJDKIncluded(true)` has been called.

In fact, in `CeylonUtils` :

[code]

it tries to call `builder.repositoryBuilder().absolute(cwd, repoUrl)`
and `RepositoryBuilderImpl` iterates all the builders to try to call the absolute function with the `jdk` url

[2016-06-07 15:53] davidfestal commented on #1799
Fixed by https://github.com/ceylon/ceylon/commit/d6a53ce3a88a7f2f3cf8efae950ddb5e86d9a09b

[2016-06-07 15:53] #1799 closed

[2016-06-07 16:40] davidfestal opened #1800 "Null check in `EclipseAbstractRefactoring`"
[code]

[2016-06-07 21:50] #1800 closed

[2016-06-07 21:51] gavinking commented on #1800
Should be fixed.

[2016-06-09 08:06] gavinking opened #1801 "typing letter from results in Open Declaration should focus filter box"
Like in IntelliJ, when you're navigating the result list, and you type a letter, that should refocus the filter input.

[2016-06-09 08:44] #1801 closed

[2016-06-09 08:45] gavinking commented on #1801
Done. We actually should send this change as a patch to Eclipse's `FilteredItemsSelectionDialog`.

[2016-06-09 09:13] bjansen commented on #1801
I want that in the outline popup too :)

[2016-06-09 09:14] gavinking commented on #1801
I'll have a look.

Sent from my iPhone

[2016-06-09 10:08] gavinking commented on #1801
@bjansen done, just especially for you, because I love you.

[2016-06-09 10:22] bjansen commented on #1801
Aww that's really sweet of you, man!

[2016-06-09 16:06] bjansen opened #1802 "Parameters tooltip broken for named arguments"
The tooltip doesn't detect when named arguments are not in the same order as the parameter list:

<img width="591" alt="capture d ecran 2016-06-09 a 18 02 42" src="https://cloud.githubusercontent.com/assets/281528/15936783/8de38b44-2e6c-11e6-8f1d-bd799fb78e6c.png">

It also fails to detect anonymous arguments:

<img width="475" alt="capture d ecran 2016-06-09 a 18 06 05" src="https://cloud.githubu

[2016-06-11 14:36] bjansen opened #1803 "Errors in refinements involving static methods"
Related to https://github.com/ceylon/ceylon/issues/6310

With these 2 Java classes

[code]

and this Ceylon class in the same module:

[code]

The typechecker in Eclipse thinks I'm trying to refine the static method, but it works in the CLI.

[code]

[2016-06-11 14:48] bjansen commented on #1785
Duplicate of #1800, which has been fixed.

[2016-06-11 14:48] #1785 closed

[2016-06-11 14:59] #1786 closed

[2016-06-14 11:18] thradec commented on #1788
I would like to help, but it is not reproducible on my machine (osx 10, java 8, eclipse mars 2). I have ceylon test view opened all the time and I have never observed any performance issue. Maybe somehow connected with linux eclipse distribution. Is anybody else observing this issue? Are you able to track where the time is spend?

[2016-06-14 19:10] simonthum commented on #1788
Hi Thomas, thanks for looking into it!

I can't really track it down so far. I can observe through top that my eclipse which is 1-4% CPU when idle suddenly doesn't every go below 100% when the view is visible. So according to top, that would be ~1 CPU eaten away.

I guess that it has to do with rendering as minimizing eclipse has roughly the same effect, the CPU goes back to normal, but that doesn

[2016-06-14 20:34] simonthum commented on #1788
One more: the JVM memory is pretty much constant without visible unit test view (eclipse being idle), but with the view it increases at about 5 MB / s. It's not a memory problem per se, the GC will clean up just fine, but there is a lot of churn. It looks a lot like constant forced view updates.

[2016-06-15 06:14] simonthum commented on #1788
So I checked with perf top.

 4.92%  libgdk-3.so.0.1800.7        [.] gdk_cairo_region_create_from_surface
     2.06%  libjvm.so                   [.] _ZNK13ParMarkBitMap19live_words_in_ran
     1.87%  libjvm.so                   [.] _ZN14PhaseIdealLoop13get_late_ctrlEP4N
     1.47%  libglib-2.0.so.0.4600.2     [.] g_hash_table_lookup

4.82%  libgdk-3.so.0.1800.7        [.] gdk_cairo_region_create_

[2016-06-15 06:26] simonthum commented on #1788
OTOH the more reliable number is again the generic one:

[code]

Idle no-UTV eclipse sees 250 irqs (not sure which it counts) and 50 % kernel time, consistent with top reporting high CPU for eclipse.

An interesting bit is that the gdk_ciaro stuff is on top even when minimized. I guess I need to do more java-specific profiling ubt that needs to wait a bit.

[2016-06-15 06:32] thradec commented on #1788
@simonthum thanks for additional information, if you could provide _more java_ profilling, it would be great

@davidfestal did you experience some performance issues, which will affect only specific platform?

[2016-06-15 18:44] simonthum commented on #1788
For now, I preferred to use the source and ask whether

https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.test.eclipse.plugin/src/com/redhat/ceylon/test/eclipse/plugin/ui/TestRunViewPart.java#L349

is really neccessary. Granted, the code looks right, but unless most other views have such a "thread" too I'm focusing on that.

[2016-06-16 05:05] thradec commented on #1788
Similar "thread" can be found in junit plugin [1], it's role is to update UI only when the test is running and only in specific time interval, not after every change in model.

[1] https://github.com/eclipse/eclipse.jdt.ui/blob/master/org.eclipse.jdt.junit/src/org/eclipse/jdt/internal/junit/ui/TestRunnerViewPart.java#L844

[2016-06-16 15:31] simonthum commented on #1788
You. nailed. it.  I don't believe it! The JUnit view is slightly less expensive, making up for 80% CPU according to top. Fun fact: They don't add up, i.e. they top at 100% when both are open.

The question is what to do about it. Can I pretty please get a system property to adjust the interval?

[2016-06-17 07:41] thradec commented on #1788
It is really strange, that on your system the UI update is so expensive, but for now I'm happy to go with system property workaround.

Done via 73a91d7, the property is `eclipse.ceylon.testview.refresh`, let me know if it helped.

[2016-06-17 19:15] simonthum commented on #1788
I'm building now but it'll take some time. The more interesting fact, to me, is that nothing should even be "running" without results. Maybe they aren't really `null` but something empty?

[2016-06-17 21:14] simonthum commented on #1788
Strange enough,  no  difference  with `-Declipse.ceylon.testview.refresh=3000`. I'll see if I can fire up the perf jvmti tooling,  unless you come up with something better.

[2016-06-18 00:32] JohnWillow commented on #1464
FYI: Neon will be released 4 days from now, and "everyone" will start using it.
I plan to upgrade, is this issue fixed?

[2016-06-18 09:13] simonthum commented on #1788
Looks a lot like https://bugs.eclipse.org/bugs/show_bug.cgi?id=378077 and maybe https://bugs.eclipse.org/bugs/show_bug.cgi?id=354842

[2016-06-18 09:13] #1788 closed

[2016-06-18 09:33] simonthum commented on #1788
OK, going back to GTK+ 2.x fixes all these funny issues I experienced.  TL;DR:

[code]
is the way to go on linux with gtk2 and 3 installed. I suspect SWT's still missing flushes, subjecting itself to X protocol randomness. But at eclipse there are enough bugs open; I'll retry with Neon maybe.

[2016-06-18 09:39] simonthum commented on #1788
@stempler you might want to know about the above?

[2016-06-18 09:54] simonthum commented on #1788
This is just such a vast improvement, I recommend that you stick it to the download instructions or something! No reason to frustrate others.

I can't believe what a well-behaved application is now in front of me. The popups are now readable (used to be white on black) and completion comes up reliably. It all feels much more useable!

@thradec Tanks for you help and kicking me to it. If you want t

[2016-06-18 10:58] stempler commented on #1788
@simonthum Thanks for the hint. Had the same issue since updating to Ubuntu 16.04 - Eclipse / HALE was unusable more or less from the start. Switch to GTK 2 can also be done by adding
[code]
 to `eclipse.ini` (before the VM arguments).

[2016-06-18 12:45] simonthum commented on #1788
Good to know, thanks!

[2016-06-18 18:48] thradec commented on #1788
@simonthum I'm glad it is working for you now

[2016-06-20 22:05] gavinking opened #1804 "add import quick fix in a dirty editor crashes the editor"
Something to do with the way the `TextChange` is applied, I assume. There was work done in this area to make this quick fix "lazy" in IntelliJ, and I suspect this is a side-effect.

[2016-06-21 10:16] davidfestal commented on #1764
@DiegoCoronel : in this documentation: https://maven.apache.org/guides/mini/guide-configuring-maven.html, in section *Configuring your Local Repository*, the last note specifies that:

Is this `settings.xml` automatically generated by the gradle plugin ?

[2016-06-21 12:42] davidfestal commented on #1764
After debugging it, this is doable but would require a change in the CMR APIs, to pass the repository manager current working directory up to the `AetherResolverImpl` object.
I'll do it.

[2016-06-21 14:03] DiegoCoronel commented on #1764
@davidfestal yes, but i dont know if its something @renatoathaydes plugin generates or if its delegated to gradle.

[2016-06-21 14:42] renatoathaydes commented on #1764
The Ceylon Gradle plugin generates the `settings.xml` file on the location given by the `mavenSettings` property, as explained in the [docs](https://github.com/renatoathaydes/ceylon-gradle-plugin#configuring-the-ceylon-build). That could be an absolute path or relative path (relative to the project's root).

[2016-06-21 14:46] davidfestal commented on #1764
OK. Anyway, I have identified the required change in the CMR to also allow a relative path in the `localRepository` Maven setting. So no change would be needed in the gradle plugin, and the `settings.xml` could be generated only once (with a project-relative path) and then shared as-is to team members.

[2016-06-21 16:02] gavinking commented on #1804
I can't reproduce this now. I guess it was probably already fixed.

[2016-06-21 16:02] #1804 closed

[2016-06-21 16:04] gavinking commented on #1804
Just in case it comes back, here is the stack trace:

[code]

[2016-06-21 16:41] #1464 closed

[2016-06-21 16:45] gavinking commented on #1464
👏

[2016-06-22 00:46] JohnWillow opened #1805 "Eclipse Neon NPE"
Installed Ceylon (from current trunk) over Neon release, gets NPE at line 111 in ModelLoaderTypeRequestor.java

[2016-06-22 01:32] JohnWillow commented on #1805
Nevermind, I built on a branch where I experimented with that file (the lookup code is three nested loops and it stood out in the profiler as very slow... Ceylon in Neon lags a lot at times, not sure why)

Everything works fine on master.

[2016-06-22 01:32] #1805 closed

[2016-06-22 14:27] #1764 closed

[2016-06-22 14:32] davidfestal commented on #1764
Now if I add:
[code]
in my `.ceylon/config` file,

and I have:
[code]
in `<my project root>/maven/settings.xml`

Maven artifacts are searched/downloaded in the following local repository:
`<my project root>/maven/repository`

@DiegoCoronel : do you confirm that is works for you also on master ?

[2016-06-22 14:34] davidfestal commented on #1761
It already worked when I tried, it seems the real blocker was #1764 that is now fixed. @DiegoCoronel : do you confirm?

[2016-06-22 15:00] DiegoCoronel commented on #1764
@davidfestal I promise you that Ill take a look tonight, tks for you efforts in this issue

[2016-06-23 01:39] DiegoCoronel commented on #1764
@davidfestal It looks great, at really its amazing :) . I just have one point:

- When using project properties --> ceylon build --> module repositories and import using Add Maven Repository it would be great if the folder is in the root project to make it relative, currently its importing using absolute path

[2016-06-23 15:25] DiegoCoronel commented on #1761
@davidfestal confirmed, perfect !! Thanks :)

[2016-06-23 15:25] #1761 closed

[2016-06-26 23:56] gkutiel opened #1806 "Completion prevent typing"
Can not type while content completion is triggered. To reproduce, set the Auto-activation delay to 1ms and start typing, all the keystrokes while content completion dialog is loading are gone.

Ubuntu 16.04

Eclipse:
Version: Neon Release (4.6.0)
Build id: 20160613-1800

Ceylon IDE
Version: 1.2.2 ("Charming But Irrational")

[2016-06-30 21:27] RevCBH commented on #1695
I'm having a similar issue, in that I can't see the ceylon products in the update site. It appears to be to a custom CA setup we have on our corporate network as I get the following error:

unable to find valid certification path to requested target

I'm on Mac and assume that it's a symptom of Eclipse not using the system keychain for it's trusted CAs.

[2016-07-07 09:05] tombentley opened #1807 "Debugging: select the suspended thread"
I'm debugging ceylon.http.server, which indirectly uses XNIO which uses a couple of thread pools. When one of those pooled threads hit a breakpoint the editor pane jumps to the relevant line, highlights etc, but the suspended thread is not selected in the debug window, so I can't see the local variables nor step using the function keys.

I must admit I don't recall whether JDI does this better, bu

[2016-07-07 10:35] gavinking commented on #1807
I'm pretty sure this is a bug in JDT but I could be wrong.

Sent from my iPhone

[2016-07-08 09:29] davidfestal opened #1808 "The results of local typechecking (especially error annotations), disappear after completion"
This might to be a result of the optimization made here: 0cafe6b91c9dbf5caeed1fc99324ad5ea4311d0d.

[2016-07-08 11:37] gavinking commented on #1808
If this is something that happens _occasionally_ (I think it is) then I think it's tolerable. The java editor also exhibits this sort of behavior at times. OTOH, you could try just using `REPARSE_SCHEDULE_DELAY*2` and see if that helps.

Please don't remove the optimization, it is very useful.

[2016-07-08 11:38] davidfestal commented on #1808
In fact I already fixed it without removing your optimization. I still have to push it though.

[2016-07-08 13:25] davidfestal opened #1809 "Non-generated classes are not detected anymore"
This seems broken for a while, but I didn't have the time to fix it, so I added this message on stdout to remember that there is something wrong:

[code]

[2016-07-08 14:03] #1808 closed

[2016-07-08 14:03] #1809 closed

[2016-07-13 14:18] DiegoCoronel opened #1810 "Support new feature fat-jar from version 1.2.3"
The release 1.2.3 have a feature to create fat-jar and IDE can have the options:
- Create fat-jar
- Run as Java Application (fat-jar) //or something like that

[2016-07-13 14:21] DiegoCoronel commented on #1810
The usecase i have now is to use JBoss Swarm, after talk to @FroMage we believe that JBoss Modules is currently a problem and one approach to make it work is with fat-jar.

[2016-07-13 15:04] FroMage opened #1811 "Support NPM modules"
If In the IDE I have a JS-only project, and add the following module imports:

[code]

The build will resolve them, however if I try to use them in a file:

[code]

I get one error on each package import:

[code]

I also get these exceptions in the console:

[code]

[2016-07-19 21:35] davidfestal commented on #1811
@FroMage: can you confirm this works as you were expecting ?

I tested on both eclipse and IntelliJ : The changes  were done in `ceylon-ide-common`

[2016-07-19 22:14] #1725 closed

[2016-07-20 12:41] FroMage commented on #1811
OK it works, thanks. I do get that exception when I save, though:

[code]

But it's not reflected in the IDE, so it's not problematic for my demo.

[2016-07-20 12:45] davidfestal commented on #1811
This is a known problem that is not related to the NPM support, and has already a pending issue. Anyway, do you confirm that the exception is only dumped on the output, but doesn't trigger a popup inside Eclipse ?

[2016-07-20 12:46] FroMage commented on #1811
Yes it's only in the output.

[2016-07-20 12:46] davidfestal commented on #1811
OK, let me close this issue then.

[2016-07-20 12:46] #1811 closed

[2016-07-20 13:07] FroMage commented on #1811
Thanks

[2016-07-24 13:38] lukedegruchy opened #1812 "Enhancement: Ceylon Repository Explorer: Display, open or link to module documentation"
This is a feature/enhancement request.

Currently the Ceylon Repository Explorer only shows the module name as well as all available compatible versions with the current release, as well as "Add Module Import".

It would be useful to allow the user to at least do a cursory review of the module's documentation before actually using it.  They should be able to browse the module documentation either

[2016-07-24 14:25] gavinking commented on #1812
WDYM? What's wrong with this:

<img width="599" alt="screen shot 2016-07-24 at 4 24 28 pm" src="https://cloud.githubusercontent.com/assets/579974/17084333/2d85d50a-51bb-11e6-882e-8b68dff278f4.png">

[2016-07-24 14:28] lukedegruchy commented on #1812
Odd I don't see this in the IDE that I built on July 18th and I'm getting build errors building this today.  Was this added recently?

[2016-07-24 14:30] lukedegruchy commented on #1812
Nevermind, I didn't click the show/hide documentation button.

[2016-07-24 14:30] #1812 closed

[2016-07-26 06:29] simonthum commented on #1770
Same issue as #1788

[2016-07-26 06:29] #1770 closed

[2016-07-26 06:48] simonthum commented on #1788
Epilogue

It turned out that GTK 2 wasn't the only performance problem I hit. My laptop's manufacturer managed to slip a folded plastic clip onto the CPU package, fittingly protecting the heat conductor from excessive CPU heat.

However, the relative improvement between fixing a CPU constantly running into overheat protection and switching to GTK2 is definitely on GTK2's side. Just to give you an

[2016-07-26 08:34] gavinking commented on #1788
Wow!

[2016-07-27 12:27] karimiumar opened #1813 "Ceylon IDE fails to build project"
I've the following Project structure:

JOOQ-Ceylon (Project Name)
  |
  |----source
  |----gen-source (Some Java classes generated using JOOQ utility
  |----resource
           |---jooq-config.xml

So far everything works fine.

Now when I add a few files under subdirectory under resource folder
![structure](https://cloud.githubusercontent.com/assets/9896893/17175113/4ab08dae-5423-11e6-900d-582e64

[2016-07-27 15:21] simonthum commented on #1788
Yep. My very own epic bug journey ;( Sorry to have bothered you all!

[2016-07-28 08:01] Aguinore opened #1814 "Very slow autocompletion work"
Hi!

Eclipse Ceylon IDE freezes for a while after typing `.` and pressing `ctrl+space` for autocompletition. It would be not so bad if I could continue typing, but IDE prevents it until completition computing will be done which might take up to 30-40 seconds on my i7 desktop.

[2016-07-29 12:49] martyn-evgeny opened #1815 "Double dots"
Hi!

After typing two dots  Eclipse Ceylon IDE is freezes. This issues like: https://github.com/ceylon/ceylon-ide-eclipse/issues/1814 but the IDE hangs much longer.

[2016-08-02 15:04] SyndromeDayna opened #1816 "Ceylon plugin breaks dark theme"
If dark theme is enabled Ceylon Plugin overwrites all settings located at
`Window->Preferences->General->Editors->Text Editors->Annotations`
on every startup .

It does not change annotations colors, but changes highlighting styles.
For example it forces compilation errors to use style that fills background.

[Developer fix this plz (image 1)](http://imgur.com/a/IK7HH)
[Developer fix this plz (ima

[2016-08-03 14:26] martyn-evgeny opened #1817 "very long assembly project"
In case I edit any of module.ceylon IDE begin building workspace and folds project tree. every time it takes a some time. it gives discomfort

[2016-08-03 14:34] jvasileff commented on #1817
I've also noticed the tree sometimes doesn't show new files that haven't been compiled yet. I guess the behavior makes sense in a way, but it would be nice if the tree more consistently showed what's on the filesystem.

[2016-08-07 16:51] jvasileff opened #1818 "rename variable refactoring needs to lock the editors"
If you:

1) Perform a rename refactoring on an identifier for a variable, then
2) Immediately make another change (e.g. edit `value renamed ...` to `valu e renamed ...`

you get an eclipse error "Not a legal Ceylon identifier".

If you then click "continue", the identifier (all locations) and neighboring characters may become mangled, seemingly due to bad character-positions due to the edit in (2)

[2016-08-12 12:16] lukedegruchy opened #1819 "Preferences > Keys > When > "Working in Ceylon Perspective" only applies to "Ceylon" perspective"
The key binding "When" category "Working in Ceylon Perspective"  only applies to the literal "Ceylon" perspective and not any perspective copied from "Ceylon".   So, for example, creating and using a perspective called "Ceylon2" will invalidate that key binding.

The expected behaviour should be that any perspective spawned from Ceylon should gain a "When" "Working in Ceylon Perspective" key bindi

[2016-08-12 13:31] gavinking commented on #1819
Hrm. Do you know how to do that?

[2016-08-13 15:26] lukedegruchy commented on #1819
After a lot of Googling and grepping for "perspective" in the ceylon-ide-eclipse source code, this is still mysterious to me.

This seems to be the best resource I could find:

http://www.programcreek.com/2013/02/eclipse-plug-in-development-creat-a-perspective/

Near as I can tell, there's no concept of a "perspective type" or "perspective family", although there might be better documentation that

[2016-08-13 15:26] #1819 closed

[2016-08-22 11:27] Aguinore opened #1820 "com.redhat.ceylon.model.loader.ModelResolutionException in ceylon vertx module"
I've written a very simple verticle using vert.x 3.2.2 and celyon 1.2.2 and I get the following error at runtime:
com.redhat.ceylon.model.loader.ModelResolutionException: Failed to load declaration [ReflectionClass: class io.vertx.ceylon.web.RoutingContext]: Failed to load methods in io.vertx.ceylon.web.RoutingContext

In order to reproduce this issue, you can use the following code:

[code]

[2016-08-22 13:07] #1820 closed

[2016-08-27 21:34] quintesse opened #1821 "Editing resources causes problems"
See https://github.com/ceylon/ceylon/issues/6345#issuecomment-242857233

[2016-08-28 21:01] fwgreen commented on #1815
This happened to me!  I entered two dot operators by accident and the IDE locked up (much worse than the regular "Preparing completions..." freeze).  Force quitting generates a crash report.

![screen shot 2016-08-27 at 10 48 19 am](https://cloud.githubusercontent.com/assets/7098161/18036689/004b946c-6d40-11e6-92f9-b6d07a211815.png)

[2016-08-31 15:33] jvasileff commented on #1717
This was done.

[2016-08-31 15:33] #1717 closed

[2016-09-06 14:27] davidfestal commented on #1732
@FroMage : you already did it right ?

[2016-09-06 15:06] FroMage commented on #1732
Command Line or config. Tbh i don't remember if the ide supports it or not.

[2016-09-08 13:40] #1738 closed

[2016-09-08 13:48] davidfestal commented on #1756
Fixed

[2016-09-08 13:48] #1756 closed

[2016-09-08 14:13] davidfestal commented on #1792
I just tested and this works correctly. Closing.

[2016-09-08 14:13] #1792 closed

[2016-09-08 15:06] #1777 closed

[2016-09-08 15:22] davidfestal commented on #1676
This was visibly fixed by commit ceylon-ide-common@519dcd341e8c3261f238c21f983b431f4a9acbee

[2016-09-08 15:22] #1676 closed

[2016-09-08 15:22] davidfestal commented on #1784
This was visibly fixed by commit ceylon-ide-common@519dcd3

[2016-09-08 15:22] #1784 closed

[2016-09-08 15:23] gavinking commented on #1784
@davidfestal "visibly" 👅

[2016-09-08 15:24] davidfestal commented on #1768
I'll have a look to this when I migrate `ceylon-ide-eclipse` to the abstract  build system. The migration itself might fix the problem.

[2016-09-08 15:34] davidfestal commented on #1784
Ah, my poor english ;-) *Obviously* of course !

[2016-09-08 16:38] #1747 closed

[2016-09-08 21:19] #1757 closed

[2016-09-08 21:22] davidfestal commented on #1610
It seems to work correctly here. @gavinking  do you still have the problem?

[2016-09-08 21:23] davidfestal commented on #1732
There is also a text box one can fill when creating a project.

[2016-09-09 12:53] #1762 closed

[2016-09-09 12:55] davidfestal commented on #1775
@FroMage : Since I now export Ceylon-related classpath containers by default, and the second error is related to the fact that the model loader was not initiated, I assume I can close this issue ?

[2016-09-09 12:58] davidfestal commented on #1755
@bjansen : do you still have these errors ? The error line doesn't match the current code, soI cannot understand what's going on without reproducing it...

[2016-09-09 12:58] davidfestal commented on #1748
@bjansen : do you still have these errors ? The error line doesn't match the current code, soI cannot understand what's going on without reproducing it...

[2016-09-09 13:00] bjansen commented on #1755
Well, I don't really use Eclipse anymore, so we can probably close this one. I didn't see that error again after I opened the issue.

[2016-09-09 13:00] #1755 closed

[2016-09-09 13:02] bjansen commented on #1748
I don't really use Eclipse anymore, so we can probably close this one too.

[2016-09-09 13:02] #1748 closed

[2016-09-09 13:03] gavinking commented on #1610
Agreed. Seems to be working now.

[2016-09-09 13:03] #1610 closed

[2016-09-09 13:07] davidfestal commented on #1813
@karimiumar is it intentional that you have spaces in the resource file name : `web/js/jqwidgets/styles/images/metro-icon-right - Copy.png` ?

[2016-09-09 13:28] davidfestal commented on #1769
Didn't manage to reproduce it for now. postponing to 1.3.1

[2016-09-09 13:36] tombentley opened #1822 "Editing module.ceylon collapses Ceylon Explorer tree"
When I edit a module.ceylon in Eclipse the Ceylon Explorer collapses the expended tree nodes on the path in the tree to that module.ceylon (I'm in hierarchical package presentation, if that makes any difference).

[2016-09-09 16:14] davidfestal commented on #1787
This is now working through the `.ceylon/ide-config` file.

Just create such an `ide-config` text file besides the well-known `.ceylon/config` file, with the following content:

[code]

For example:

[code]

You can add as many as `javac=` lines as you need, knowing that each `javac=` line contains only one javac option.

Does it fit your need @LisiLisenok ?

[2016-09-10 02:50] karimiumar commented on #1813
Well, I suppose jqwidget which is a third party library has mistakenly
provided a copy alongwith the original file in their packaged
jqwidgets-ver4.1.2.zip archive. And that is causing the issue. I'll
manually remove the copy.

On 9/9/16, David Festal <notifications@github.com> wrote:

--
regards

Umar

[2016-09-10 16:01] davidfestal commented on #1589
related to #1815 and #1814

[2016-09-12 11:10] LisiLisenok commented on #1787
@davidfestal yes, thank you, this is nice.

[2016-09-12 11:10] #1787 closed

[2016-09-14 16:52] jvasileff opened #1824 "when creating a new project, bootstrap version 1.3.0 is not available"
Bootstrap version `1.3.0` is not available. The latest is `1.2.2`:

<img width="323" alt="screen shot 2016-09-14 at 12 49 10 pm" src="https://cloud.githubusercontent.com/assets/236050/18521444/243bbfb8-7a7a-11e6-86f9-dd9459c94af1.png">

[2016-09-14 17:23] jvasileff opened #1825 "NPEs when output directory includes '../'"
It would be nice to support output directories that are "above" the project directory, which can be very useful for multi-component applications. Currently, this results in NPEs and error dialogs.

For example, with `.ceylon/config`:

[code]
you get
[code]
and associated GUI error dialogs.

[2016-09-14 18:11] quintesse commented on #1824
Well Ceylon 1.3.0 isn't released yet, so that's correct ;)

[2016-09-16 09:22] tombentley opened #1826 "Better syntax aware completion proposals"
I have a declaration, like this:

[code]

where `FooBar` is not imported, and rather that using the "import FooBar from org.example.foobar" quickfix I have asked for completion of `FooBar` I get a list of completions that includes org.example.foobar::FooBar, which is great. But I would dearly, dearly love if that list was ordered in a context sensitive way, because it suggests completing as the in

[2016-09-16 14:57] davidfestal commented on #1589
Finally fixed for release 1.3.0 !

[2016-09-16 14:57] #1589 closed

[2016-09-16 14:58] davidfestal commented on #1815
Fixed

[2016-09-16 14:58] #1815 closed

[2016-09-16 14:58] davidfestal commented on #1814
Fixed

[2016-09-16 14:58] #1814 closed

[2016-09-18 19:15] simonthum opened #1827 "Stack trace during build"
Hi,

I don't know what exactly is causing this as I just switched to neon and the latest published development IDE, but here we go:

[code]

[2016-09-18 19:16] simonthum commented on #1827
I forget to add, the show is repeatable by cleaning &  rebuilding.

[2016-09-19 20:29] simonthum commented on #1827
Today's release 1.3 seems to fix this. Congrats!

[2016-09-19 20:29] #1827 closed

[2016-09-20 14:05] DiegoCoronel opened #1828 "Support navigation to java source when the origin is maven"
Using imports from maven in modules and trying to navigate in declared classes in ceylon source give me the message:
`the JAR of this class belongs to container Ceylon Project Modules which does not allow modifications to source attachments on its entries` and this way i cant add/navigate the source.

[2016-09-20 14:20] bjansen commented on #1828
I believe this is caused by `CeylonProjectModulesContainer.getSourceArtifact()` that instantiates an `ArtifactContext` with a `null` namespace, which means source archives are never retrieved correctly for Maven dependencies.

[2016-09-21 13:43] tombentley opened #1829 "Autocompletion of warning names in suppressWarnings"
I would love auto complete on warning names:

[code]

[2016-09-21 13:48] bjansen commented on #1829
Indeed, that would be very helpful.

[2016-09-21 14:25] gavinking commented on #1829
@tombentley well, OK, but really you should be using the quick fix to add `suppressWarnings` annotations!

[2016-09-22 14:20] jvasileff opened #1830 "completion stops working: "no proposals""
Even after restarting Eclipse, completion attempts fail immediately with "no proposals".

This also happened shortly before release. I then installed a release candidate build of the plugin from a url provided by @davidfestal, and this fixed the issue. But, yesterday, it happened again, without any changes to my installation that I am aware of.

So, I fixed it again by upgrading the plugin again,

[2016-09-22 14:54] bjansen commented on #1830
The behavior changed just before the release. It used to show "no proposals" when the completion was cancelled because you continued typing or moved the caret using the arrows etc. Now it will simply cancel the completion without showing the popup.

Keep in mind that the first call to the completion system can take a little while, because it scans your dependencies and loads declarations in memory

[2016-09-22 15:07] jvasileff commented on #1830
@bjansen I wouldn't rule out something specific to my environment, but that doesn't sound like the cause. The errant state persisted across multiple Eclipse relaunches, was present in different projects (even after closing all but a very simple project), after waiting, after "project clean" etc, and for multiple days. After upgrading the plugin, completion works great.

[2016-09-22 17:29] ncorai opened #1831 "Ceylon errors missing from Problems view when Project scoped"
In **Ceylon IDE 1.3.0.v20160916** and **Eclipse Neon**, in the _Problems_ view, with the down arrow select _Configure Contents..._ then uncheck _All Errors_ and check _Errors/Warnings on Project_. After clicking _OK_, no Ceylon errors or warnings are displayed anymore.

Workaround: check _Errors/Warnings on Selection_

[2016-09-25 12:13] karimiumar commented on #1813
@davidfestal please close this issue. See my comments above regarding the same

[2016-09-25 12:51] gavinking commented on #1813
Well, not so fast! I'm not sure we should close this. Surely it's wrong that our compiler is throwing `java.lang.IllegalArgumentException`.

[2016-09-26 06:58] eugenpp opened #1832 ""New Ceylon project" wizard failed at FINISH."
eclipse-neon-jee, ceylon plugin 1.3.0-v20160916-1407-Final

* New Ceylon project wizard
* STEP1: At first page fill "project name" only, other as is (JDK 1.8 etc.) + NEXT
* STEP2: NEXT
* STEP3: FINISH

After FINISH, STEP3 still open and ErrorLog show unhandled exception.
New project seems to be created.

After that I have a problem to create "Run configuration..." until restarting eclipse.

[code]

[2016-09-26 17:27] ncorai commented on #1832
FWIW, I've also noticed this

[2016-09-26 17:36] ncorai opened #1833 "NPE while typing in the Open Type dialog"
Was working fine for a few days, then suddenly I get `An internal error occurred during: "Items filtering".`

[code]
Restarting Eclipse didn't help

Eclipse Neon, Ceylon IDE 1.3.0v20160916-1407-Final, Windows 10

[2016-09-26 17:48] bjansen commented on #1824
This has been fixed in the released version of Ceylon IDE 1.3.0

[2016-09-26 17:48] #1824 closed

[2016-09-26 18:25] ncorai opened #1834 "An internal error occurred during: "Retrieving Fixes""
When hovering a missing type in the Ceylon IDE _editor_, the popup displays the above error message.

The Eclipse log contains the following stack trace:

[code]

In the _Problems_ view, the compile error for that type reference is `type is not defined: 'Foo' might be misspelled or is not imported` ~~(I'm not sure why Ceylon IDE couldn't read it from a .car file in a module repository that's withi

[2016-09-26 21:11] gavinking commented on #1834
@davidfestal I'm handing this one to you.

[2016-09-26 21:14] gavinking commented on #1833
@davidfestal I'm giving this one to you, because I don't understand in what circumstances `CeylonProject.getModules()` is allowed to return `null`. The code is:

[code]

[2016-09-26 21:29] gavinking commented on #1832
@eugenpp @ncorai should be fixed no, thanks for reporting.

[2016-09-26 21:31] gavinking commented on #1832
@davidfestal Commit @cf4411f needs to be cherry-picked into the next fixes release but there is no branch yet.

[2016-09-27 06:29] bjansen commented on #1834
It's possible that `BadLocationException`s were previously caught by the Java quick fixes, and are now ignored by the code I ported in ceylon-ide-common (i.e. we should catch them again, probably in `CeylonCorrectionProcessor`).

[2016-09-28 06:06] ncorai commented on #1496
Just realized that I was having difficulties distinguishing between local values and attributes and that made understanding the code harder for me.

At the same time, if I use `this` to prefix the attributes, they are indeed displayed differently, so I suppose it should be doable to change the style even when `this` is omitted.

[2016-09-28 12:18] gavinking commented on #1806
I can't reproduce this, at least not on Mac with the 1.3.0 release.

@gkutiel would you try updating to the latest release of Ceylon IDE and see if you still experience this? Thanks.

[2016-09-28 15:25] gavinking commented on #1806
Actually, I'm certain this must have been fixed by @davidfestal's recent work on completion. So I'm going to take the liberty of closing this one, and @gkutiel can reopen it if necessary.

[2016-09-28 15:25] #1806 closed

[2016-09-28 16:35] ncorai commented on #1496
Similarly, `Foo.bar` is displayed differently than `bar` when it is statically imported.
[code]
[code]
In general, I think syntax coloring should depend on the nature of a word, not on whether it follows a dot symbol.

[2016-09-28 16:38] gavinking commented on #1496
@ncorai syntax highlighting is done on the basis of *syntax*, not semantics. The code is not typechecked at the point the coloring is applied, it's only parsed.

[2016-09-28 16:46] ncorai commented on #1496
That's your prerogative, however it makes the code less readable to me, more like a custom profile I'd create for Notepad++, as opposed to a more meaningful (to me) color scheme, such as the one offered by the Eclipse JDT.

[2016-09-28 17:12] ncorai commented on #1496
So I guess what I'm really asking is whether to use syntax-based coloring (faster) or semantics-based coloring (more featured) could maybe be left as a choice to the user.

My assumption is that, as I type code, most of the file remains identical so most of the coloring should already be in place and little would be impacted by the timeliness of the typechecker's analysis completion. I don't know

[2016-09-28 17:15] gavinking commented on #1496
You would have to wait for the whole file to be typechecked to see the effect. Which means that you would get a noticeable "flicker" after a change to the file. And remember that typechecking Ceylon is relatively slower than typechecking Java, so the flicker would be worse than it is in the Java editor.

[2016-09-29 13:36] DiegoCoronel commented on #693
i can not see this behavior in current ide plugin .. so many things improved :)

[2016-09-29 13:36] #693 closed

[2016-09-29 13:37] DiegoCoronel commented on #1442
this was fixed.

[2016-09-29 13:37] #1442 closed

[2016-09-29 13:43] DiegoCoronel opened #1835 "Support ceylon swarm plugin"
Currently we have a plugin to run swarm but we need to do all steps manually, it would be awesome to have integration with IDE, something like:
- Be able to run as swarm module
- Be able to debug as swarm module

[2016-09-29 18:54] ncorai opened #1836 "Add "Show Occurrences in File" search functionality"
JDT has a very useful Search function, _Show Occurrences in File_ (activated by **Ctrl+Shift+U**) that lists all the individual lines where occurrences of the selected item (field, method, parameter, local variable) happen, color-coded for read or write access (an item can even appear twice in a line with each background color if it's both read and written on that line).

[2016-09-30 05:40] ncorai opened #1837 "Eclipse Neon.1 release messes up Ceylon IDE colors in dark mode"
Now the text is all dull and hard to distinguish from the background in dark mode. I haven't tried regular mode.

Eclipse Neon.1 (4.6.1) - Ceylon IDE 1.3.0.v20160916-1407-Final - Windows 10

[2016-09-30 16:51] bjansen commented on #531
Not necessary now that https://github.com/ceylon/ceylon/issues/4389 has been implemented.

[2016-09-30 16:51] #531 closed

[2016-10-05 08:10] davidfestal commented on #1833
`Modules` can be `null` at the start of a full build, or before every project has been built at least once.

[2016-10-05 08:46] #1833 closed

[2016-10-06 17:26] gavinking opened #1838 "completion of keywords broken"
Completing `function` inserts the text `functionun`.

[2016-10-07 14:21] gkutiel commented on #1838
same problem with `value` see [ilustration](https://postimg.org/image/h7vqcd7kd/)

[2016-10-11 09:33] davidfestal commented on #1832
fix is cherry-picked

[2016-10-11 09:33] #1832 closed

[2016-10-11 16:46] gavinking opened #1839 "clean build results in error on static member class"
Running a clean build on this code results in a backend error:

[code]

[2016-10-12 14:32] FroMage opened #1840 "Override functional-interface methods in model loader"
To support ceylon/ceylon#1617. See:

- `CeylonModelLoader.getFunctionalInterfaceType(TypeMirror)`
- `CeylonModelLoader.isFunctionalInterfaceType(TypeMirror)`
- `CeylonModelLoader.isFunctionalInterfaceType(ClassMirror)`

For inspiration. I assume Eclipse and IntelliJ will have enough infra to answer the question of whether a type is a SAM or not and give you the abstract method reference.

[2016-10-12 15:44] gavinking commented on #1840
@bjansen @davidfestal Just FTR, this is super-high priority.

[2016-10-17 17:58] davidfestal commented on #1840
@gavinking :I'm working on it.

[2016-10-17 19:11] gavinking commented on #1840
@davidfestal thanks

[2016-10-18 07:20] gavinking opened #1841 "npm support in Eclipse"
Feels like this has not actually been tested.

1. I needed to do a clean build to get Eclipse to give me any feedback at all. On incremental builds it just failed _silently_.
2. Then, I got this error:

[code]

It works on the command line, however.

[2016-10-18 07:29] gavinking commented on #1841
The same error occurs in IntelliJ. But at least it occurs *immediately*.

[2016-10-18 08:04] davidfestal opened #1842 "Update the android ceylon compatibility plugin to the new `AndMore` Eclipse project"

[2016-10-18 10:21] gavinking opened #1843 "com.redhat.ceylon.common.NonNull not found crashes the build"
I started getting:

[code]

[2016-10-18 22:18] davidfestal commented on #1843
This has been fixed for me. @gavinking  do you confirm ?

[2016-10-18 22:19] davidfestal commented on #1840
Done.

[2016-10-18 22:19] #1840 closed

[2016-10-18 22:20] davidfestal commented on #1840
@FroMage maybe you would like to test this more deeply. There are certainly cases I'm not aware of.

[2016-10-18 22:22] davidfestal commented on #1842
Now it works with the meta-model.
The last thing would be to provide the user with a decent repository to have access to android platform and android support modules.

[2016-10-18 22:25] #1736 closed

[2016-10-18 22:25] davidfestal commented on #1736
done.

[2016-10-19 08:11] gavinking commented on #1843
Yep, thanks, LGTM!

[2016-10-19 08:11] #1843 closed

[2016-10-20 08:58] #1732 closed

[2016-10-20 10:27] davidfestal commented on #815
not necessary anymore

[2016-10-20 10:27] #815 closed

[2016-10-20 10:28] davidfestal commented on #814
not necessary anymore. Done in another way.

[2016-10-20 10:28] #814 closed

[2016-10-20 10:28] davidfestal commented on #813
not necessary anymore. Done in another way

[2016-10-20 10:28] #813 closed

[2016-10-20 10:30] davidfestal commented on #681
will be done when migrating to the abstracted common build

[2016-10-20 10:30] #681 closed

[2016-10-20 22:15] gavinking opened #1844 "error with IntStream"
I'm testing this code:

[code]

Apart from ceylon/ceylon-ide-common#87, I get a second error in Eclipse:

This one doesn't occur in the CLI, nor in IntelliJ, AFAICT.

[2016-10-21 00:23] #1841 closed

[2016-10-21 06:35] gavinking commented on #1841
Excellent, thanks @davidfestal!

[2016-10-21 14:00] bjansen commented on #1787
@LisiLisenok in Ceylon 1.2.3 Eclipse will look for javac options in the new and official location in `.ceylon/config` instead of `.ceylon/ide-config`. These options will now be accepted by the CLI too.

* if you don't specify any `target` option, the build will use the current JDK version (`-target=8` for JDK 8 etc)
* you can force your own target using:
[code]
* or any other javac option using:
[

[2016-10-21 14:00] bjansen commented on #1787
Sorry, Ceylon 1.3.1, not 1.2.3 :D

[2016-10-21 21:10] LisiLisenok commented on #1787
@bjansen thank you very much! I am happy with the option :)

[2016-10-22 14:56] gavinking opened #1845 "npm modules not downloaded on incremental build"
Just adding an `npm:` import to the module descriptor is not enough to trigger installation of the module. You need to do a Clean build to force it to occur.

[2016-10-25 21:22] LisiLisenok opened #1846 "No way to run unit testing selecting the function annotated with `testSuite`"

[2016-10-31 16:46] FroMage opened #1847 "Support `--fully-export-maven-dependencies`"
See ceylon/ceylon#6597: it's mostly about adding a new checkbox and passing the option.

[2016-11-03 22:12] bjansen opened #1848 "can't navigate to *members* of a Java annotation"
While fixing https://github.com/ceylon/ceylon-ide-intellij/issues/570, I noticed that navigation to members of Java annotations doesn't work in Eclipse either.

[code]

We can navigate to `SuppressWarnings`, but not to `value()`. Similarly, the documentation popup works on `suppressWarnings`, but not on `\ivalue`.

[2016-11-07 16:50] #1844 closed

[2016-11-08 15:26] davidfestal commented on #1845
@gavinking : the fix for ceylon/ceylon-ide-common#90 also fixed this one. Do you also confirm that it's working correctly now , as it is for me locally ?

[2016-11-08 15:30] davidfestal commented on #1845
@gavinking please reopen it if it doesn't work for you.

[2016-11-08 15:30] #1845 closed

[2016-11-08 20:31] davidfestal opened #1849 "Move the `CeylonDebugEvaluationThread` from the `Launcher` to an agent available in the common car"
This will allow having the full Ceylon debug support even in launch configuration such as Fat-jar or ceylon Swarm.

[2016-11-10 11:21] #1849 closed

[2016-11-10 16:00] #1847 closed

[2016-11-10 16:04] gavinking commented on #1847
Great!

[2016-11-15 15:57] gavinking commented on #1834
I could not really see what was wrong with the code, but I have added a `catch` for the exception. Should be fixed.

[2016-11-15 15:57] #1834 closed

[2016-11-16 14:22] davidfestal commented on #1835
Finished:
- a new `Run/Debug Java Application Packaged As FatJar` menu item is available in the Ceylon Explorer on Ceylon project nodes and module nodes. It will create a `FatJar` from a given module (and its dependencies), set the starting method to the `run`module method, and run the FatJar as a standard Java application.
- if the one of the modules of a Ceylon project imports the `javax.javaeea

[2016-11-16 14:22] #1835 closed

[2016-11-16 14:22] davidfestal commented on #1810
Finished:
- a new `Run/Debug Java Application Packaged As FatJar` menu item is available in the Ceylon Explorer on Ceylon project nodes and module nodes. It will create a `FatJar` from a given module (and its dependencies), set the starting method to the `run`module method, and run the FatJar as a standard Java application.
- if the one of the modules of a Ceylon project imports the `javax.javaeea

[2016-11-16 14:22] #1810 closed

[2016-11-16 14:23] gavinking commented on #1835
Awesome! Thanks David!

[2016-11-16 14:28] davidfestal commented on #1838
I cannot reproduce this on master. @gavinking is it still broken for you ?

[2016-11-16 14:32] gavinking commented on #1838
Yep, still broken. But here's how to reproduce. Type "f", open the completion popup, type "un", and then select "function" from the popup.

[2016-11-16 16:40] davidfestal commented on #1839
I cannot reproduce this one, either in Java 7 and Java 8, either in the default module or in a real module.
@gavinking : is it the same for you ?

[2016-11-16 16:41] davidfestal commented on #1838
Ah, OK, I'll retry then.

[2016-11-16 16:51] davidfestal opened #1850 "NPE in the `OpenDeclarationDialog`"
[code]

[2016-11-16 17:49] davidfestal commented on #1803
I can't reproduce this. builds correctly in the eclipse plugin on master. @bjansen do you still have the problem ?

[2016-11-17 10:19] gavinking commented on #1839
Nope, it's still happening. I don't understand why you failed to reproduce it.

[2016-11-17 10:28] gavinking commented on #1839
Ah, OK, now I understand. To reproduce this bug, you must have a `.java` file somewhere in the project. (It can be empty.)

[2016-11-17 15:40] davidfestal commented on #1839
OK, now I have it, but only in the default module

[2016-11-17 16:33] bjansen commented on #1803
Hum, the code sample was broken, it should have been `abstract class Intervening extends Top`. Anyway, it works fine in Eclipse now, closing.

[2016-11-17 16:33] #1803 closed

[2016-11-17 20:14] davidfestal commented on #1839
@gavinking @FroMage : I also get the error when running from the CLI

[2016-11-17 21:33] gavinking commented on #1839
Well report it against the compiler then.

Sent from my iPhone

[2016-11-17 23:08] #1839 closed

[2016-11-17 23:08] #1838 closed

[2016-11-17 23:08] #1850 closed

[2016-11-17 23:10] davidfestal commented on #1839
I fixed it indeed

[2016-11-17 23:13] gavinking commented on #1839
Great!

[2016-11-17 23:14] gavinking commented on #1850
Thanks David!

[2016-11-20 14:46] gavinking opened #1851 "new bug using streams in Eclipse"
I have this code in Eclipse:

[code]

And I get an error on the import statement for `java.util.stream`:

[2016-11-20 14:59] gavinking commented on #1851
Oh, FFS, now I can't reproduce this. It might have been a side-effect, of ceylon/ceylon#6725, perhapsl

[2016-11-20 14:59] #1851 closed

[2016-11-23 01:28] fwgreen opened #1852 "Old clipboard data is retained when editing Ceylon files on Windows 10"
When editing a Ceylon file (and only Ceylon files), the clipboard will keep a previously copied item and not copy over it.  This is intermittent and started with 1.3.0, but once it starts only restarting Eclipse will correct it.  I think this an old Eclipse bug, but it doesn't occur in JDT or on macOS.

Windows 10, JDK 8 u102, Eclipse Mars 4.5.2

[2016-11-26 19:30] fwgreen opened #1853 "Empty or sparsely populated contextual menu in `run.ceylon`"
When right clicking outside of the `run` method, the contextual menu alternates between empty and sparsely populated.  This only happens in Windows 10 and is resolved by restarting Eclipse.
Here's a screenshot:
![screenshot 7](https://cloud.githubusercontent.com/assets/7098161/20642691/9baf4112-b3e3-11e6-9c99-55e182ff8283.png)

[2016-11-28 10:24] davidfestal opened #1854 "Annotation processors don't work inside the Eclipse plugin"
The Eclipse plugin uses an overridden Java backend compiler (in order to reuse the already typechecked model), and the changes made in the Java backend to support annotation processing rounds also required some changes in the eclipse Plugin / Java backend integration.
So currently annotation processors don't work correctly in the Eclipse plugin on Ceylon projects.

[2016-11-29 10:51] bjansen opened #1855 "Completion popup not showing automatically when I type letters"
On a simple hello world module, I enabled "Auto-activate completion proposal list", set it to "both" with a delay of "1ms". When I type a period, the popup is shown, but it doesn't work when I type letters.

When typing the following code:

[code]

`and` and `absolute` should be shown automatically, but I have to explicitly call ctrl-space to show the popup.

[2016-11-29 13:37] bjansen commented on #1855
Hum, now it's working as expected, I'm not sure if it's because I rebuilt the plugin or if it's a side effect of the fix I made for https://github.com/ceylon/ceylon-ide-intellij/issues/568.

[2016-11-29 13:37] #1855 closed

[2016-11-29 14:38] jvasileff opened #1856 "support compiler.jvm.target=7"
With `.ceylon/config` that includes:

[code]
and Eclipse on a system that does not have Java 7, I get a single error in the problems view: "The Ceylon Java backend compilation failed".

In the projects settings, "Compiler compliance level" is set to "1.7". Same result for "1.8".

[2016-12-01 11:09] gavinking opened #1857 "Run As > ... Fat Jar ignores selected function"
When I select a function not named `run()`, and try to run it as a fat jar, the function is ignored, and the IDE tries to run a function named `run()`.

[2016-12-05 10:34] davidfestal opened #1858 "Allow Ceylon-aware run configurations to leverage the full Ceylon debugging support"
Currently, the Ceylon-aware launch configurations (to run a Java remote application, an Eclipse application, etc...), allow opening the right Ceylon files when debugging Ceylon code.
However, it still doesn't support the complete Ceylon debugging support: stackframe renaming, ceylon variable names, Ceylon Debugging hovers, reified type parameters in the variable view, etc ...

We should make it po

[2016-12-05 10:36] davidfestal commented on #1854
Fixed, they work now.

[2016-12-05 10:36] #1854 closed

[2016-12-05 21:35] davidfestal opened #1859 "Unable to execute early startup code when the PDE plugin is not installed."
[code]

[2016-12-05 21:36] davidfestal commented on #1858
This is done for the Run as Eclipse Application

[2016-12-06 16:34] #1859 closed

[2016-12-07 09:37] davidfestal commented on #1858
let me close this, since supporting this with the remote Java configuration implies depending on ` tools.jar` to be able to attach an external VM and start the agent remotely.
And depending on `tools.jar` in the eclipse plugin is painful and error-prone.

[2016-12-07 09:37] #1858 closed

[2016-12-07 09:39] davidfestal opened #1860 "NPE with SAMs"
[code]

[2016-12-07 10:16] #1860 closed

[2016-12-07 10:37] davidfestal commented on #1856
@jvasileff I cannot reproduce this. could you provide more details, or an example project ?

[2016-12-07 14:20] jvasileff commented on #1856
@davidfestal this went from 100% reproducible (over multiple days/weeks!) to 100% non-reproducible :(

With an error like:

it's really hard to know what the precipitating factors are.

I guess we should just fix https://github.com/ceylon/ceylon/issues/6730#issuecomment-261806500 (correct the `target=7` config in ceylon-sdk) and see if people complain?

[2016-12-09 17:12] davidfestal opened #1861 "Buggy the SAM support implementation"
The current implementation was bug-prone, since it was possible that the search for a parametrized type would finally be done on the binding of the corresponding class. In fact for type bindings the SAM should be searched for when the TypeMirror is created.

[2016-12-09 17:15] davidfestal commented on #1861
This might be related to #1860

[2016-12-09 17:19] #1861 closed

[2016-12-21 14:22] bjansen commented on #1795
You can use nightly builds located here: https://ci-ceylon.rhcloud.com/job/ceylon-ide-eclipse/ws/site/target/repository/

[2016-12-21 14:22] #1795 closed

[2016-12-21 16:40] bjansen commented on #1766
I believe this issue is now obsolete, I've been using the plugin in Neon.1 for quite a while now, and didn't notice that problem.

[2016-12-21 16:40] #1766 closed

[2016-12-21 16:43] bjansen commented on #1749
If we allow this, it means that custom edits made to those functions will be lost as soon as they are regenerated...

[2016-12-21 16:54] bjansen commented on #1489
Since Ceylon 1.3.1, `javac` options can be configured in `.ceylon/config`, see my comment here: https://github.com/ceylon/ceylon-ide-eclipse/issues/1787#issuecomment-255384619

[2016-12-21 16:54] #1489 closed

[2016-12-21 17:27] bjansen commented on #963
This is now obsolete, closing.

[2016-12-21 17:27] #963 closed

[2016-12-21 17:28] bjansen commented on #737
I think this one has been fixed for a long time, I'm currently building the plugin with Maven 3.3.9 without any error.

[2016-12-21 17:28] #737 closed

[2016-12-22 11:34] #1828 closed

[2016-12-22 11:44] billoneil commented on #1828
👍

[2016-12-22 13:04] #1848 closed

[2016-12-22 13:05] bjansen commented on #1830
@jvasileff do you still have this error? Can we close the issue?

[2016-12-22 13:09] bjansen commented on #1831
@ncorai I can't reproduce your problem. I created an error in a project, and when I select it in the Ceylon Explorer view, I can see the errors immediately in the Problems view. If I open a second project and switch back and forth between them, the error is correctly shown/hidden, without having to select anything in the Ceylon Explorer.

[2016-12-22 13:29] bjansen commented on #1781
Looks like it's already been fixed, I get totally different errors (parse errors):

<img width="592" alt="capture d ecran 2016-12-22 a 14 28 54" src="https://cloud.githubusercontent.com/assets/281528/21427132/059a7db6-c853-11e6-8196-f3b9b0ea78f1.png">

@sgalles please reopen if you're still having the problem.

[2016-12-22 13:29] #1781 closed

[2016-12-22 16:25] jvasileff commented on #1830
ok

[2016-12-22 16:25] #1830 closed

[2016-12-22 16:59] bjansen commented on #1742
Seems to be fixed, the generated refinement for your last example is now:

[code]

Closing.

[2016-12-22 16:59] #1742 closed

[2016-12-22 17:00] bjansen commented on #1741
This works fine on the current master, closing.

[2016-12-22 17:00] #1741 closed

[2016-12-22 17:07] bjansen commented on #1582
There's already a quick fix for that, closing.

<img width="668" alt="capture d ecran 2016-12-22 a 18 06 29" src="https://cloud.githubusercontent.com/assets/281528/21433769/70e6e7bc-c871-11e6-956b-c10424dd1e0e.png">

[2016-12-22 17:07] #1582 closed

[2016-12-22 17:11] bjansen commented on #1690
I just tested it on a sample project, and everything works as expected, closing.

<img width="316" alt="capture d ecran 2016-12-22 a 18 09 57" src="https://cloud.githubusercontent.com/assets/281528/21433899/1241d04a-c872-11e6-82d2-28c982a75daf.png">

[2016-12-22 17:11] #1690 closed

[2016-12-22 17:23] bjansen commented on #1551
The problem is a bit more general than that: as soon as you click `Apply`, the project is rebuilt even if you didn't change any setting.

[2016-12-22 21:26] bjansen commented on #1538
If my calculations are correct, with bit fields I managed to save 5 bytes per `JDTClass` and 15 bytes per `JDTMethod`. With `ceylon-ide-common`, `com.redhat.ceylon.eclipse.ui` and `com.redhat.ceylon.eclipse.ui.jdt.debug.fragment` open in Eclipse, this gives me approximately 1.1MB of saved memory, which isn't *that* much but still better than nothing. This was measured right after the projects were

[2016-12-22 21:27] #1538 closed

[2016-12-23 02:45] lukedegruchy commented on #1690
Confirmed.

[2016-12-23 11:55] bjansen commented on #1826
I simply removed invocation proposals when completing a `Tree.BaseType` (they're still here for `Tree.BaseTypeExpression` though).

@gavinking could you please check if I didn't break completion in other cases that I didn't think of?

[2016-12-23 12:43] gavinking commented on #1826
@bjansen I'm pretty certain you'll need to roll back this change.

Consider:

[code]

That would be parsed as `Foo shared`.

I think the original bug report is garbage.

[2016-12-23 12:44] gavinking commented on #1826
@tombentley we just can't be sure of that. The IDE has to work correctly for lots of syntactically incomplete/broken code, as well as for well-formed code.

[2016-12-23 12:58] bjansen commented on #1826
@gavinking in that specific case you mentioned, the completion still behaves as expected, i.e. it will import `Foo` without suggesting invocations. I don't think an invocation at that location would be legal?

[2016-12-23 13:04] gavinking commented on #1826
@bjansen WDYM? Because I never want to insert a new line of code before an attribute or function declaration??!

[2016-12-23 14:54] #1829 closed

[2016-12-23 14:54] bjansen commented on #1829
Done!

<img width="427" alt="capture d ecran 2016-12-23 a 15 53 26" src="https://cloud.githubusercontent.com/assets/281528/21456395/119836c8-c928-11e6-8cc9-7b7eb79ec03f.png">

[2016-12-23 15:02] bjansen commented on #519
We have "Paste Java as Ceylon" now, closing.

[2016-12-23 15:02] #519 closed

[2016-12-23 15:08] bjansen commented on #1826
In your example, calling the code completion after `Foo` will now result in a single proposal `Foo`, that will automatically import the class. Previously, it also proposed `Foo()`, which I think is not valid at that specific location. So the new behavior is also correct in that case.

[2016-12-23 15:41] gavinking commented on #1826
Bastien, that's just not right.

This is legal Ceylon code:

[code]

But you don't want to help me write that. You're forcing me to add a `;` in order to make autocompletion work correctly. That's crazy.

Look, I know all the completion logic looks messy and crazy to you but in fact it was all quite carefully thought out on the basis of what is needed when I'm editing *incomplete* code.

[2016-12-23 15:42] gavinking commented on #1829
Great!!! Much better,

[2016-12-23 15:43] bjansen commented on #1826
Err right, I was only thinking about toplevel code, but it's legal inside a class... I'm going to revert my change and close the issue as "won't fix" then.

[2016-12-23 16:05] gavinking commented on #1826
@bjansen well, I suppose you *could* do it for the case of a *toplevel* `BaseType`. i.e. for one that is not nested inside any kind of `Body`.

[2016-12-23 16:20] #1826 closed

[2016-12-23 16:21] bjansen commented on #1826
I'm not sure it's really worth having that behavior in such a "limited" scope, so I reverted my change.

[2016-12-23 16:22] gavinking commented on #1826
OK.

[2016-12-29 10:05] tombentley commented on #1829
Cool, thanks!

[2017-01-02 09:27] karimiumar opened #1862 "Eclipse fails to compile Google guice"
I'm trying to execute the following example: https://github.com/ceylon/ceylon-examples-di
and it results in following errors for Google guice: It builds and runs successfully from CLI

`actual member does not refine any inherited member: 'configure' in 'anonymous#0' is annotated 'actual' but 'anonymous#0' does not inherit any member named 'configure'`

`class cannot be instantiated: 'AbstractModul

[2017-01-03 10:50] karimiumar commented on #1862
Closing as per https://github.com/ceylon/ceylon-ide-intellij/issues/599#issuecomment-270074909

[2017-01-03 10:50] #1862 closed

[2017-01-03 13:16] fwgreen opened #1863 "Module conflict error crashes FatJar packaging tool"
From the command line, a module conflict results in...
[code]
But from within Eclipse the same conflict results in...
![fatjar tool crash](https://cloud.githubusercontent.com/assets/7098161/21608800/a10edff2-d18c-11e6-82ad-d00f43c04455.png)

[2017-01-19 18:01] gavinking commented on #1863
Hi @davidfestal, could you take a look at this one please?

[2017-02-01 16:02] davidfestal opened #1864 "IDE broken after the move of ceylon metadata annotations"
The annotations cannot be correctly read, because they are in the model  jar, which is not added by default in the Java project classpath. This produces all sort of errors during the build.

[2017-02-01 16:16] #1864 closed

[2017-02-03 20:23] ncorai commented on #1816
Yeah, CeylonIDE has long messed up the JDT editor but in a way it's gotten worse recently. Between that and the totally muted colors I reported in #1837 I really feel like you guys should target 1.3.2 rather than 1.4

Ceylon has the grandest ambitions but keeps stumbling on the most mundane issues that make the dev lives harder and turns off potential adopters. Not everyone I know wants to install

[2017-02-22 11:26] gavinking opened #1865 "support assemblies"
There should be some way to build and/or run an assembly via the IDE.

[2017-03-04 12:22] fwgreen opened #1866 "Intermittent "Initializing Java Tooling" error on launch"
After updating to 1.3.2, on rare occasion, when launching launching Eclipse, with a Ceylon project already open from a previous session, I've encountered...
![initializingtoolingmessage](https://cloud.githubusercontent.com/assets/7098161/23578644/f9f9650a-00a9-11e7-8d44-d50ca871f24c.PNG)

Windows 10, JDK 8 u121, Eclipse Mars 4.5.2

[2017-03-05 11:36] ePaul opened #1867 "No "import ceylon project" available"
When starting to work on an existing maven project, I can usually use "File → Import... → Maven → Existing Maven Project", then choose the directory where I checked out the project from Github, configure some IDE settings, and be done.

With Ceylon projects, there seems to be no such import wizard available. Do I really have to create a new project using "File → New → Ceylon Project" and then choo

[2017-03-11 19:38] pureconfig opened #1868 "Modules: select most recent version first"
An small annoyance: when adding a module, I type the module name partially, and it presents a the module name with the latest version. Press enter and the version text is selected. I type enter right away, causing the 1.3.0 version to be selected instead of 1.3.2.

This is because a list of versions also appear after a small delay, which I didn't notice. This list has the 1.3.0 option first, not 1

[2017-04-10 09:13] fwgreen opened #1869 "Jooby "Hello World" triggers backend error in IDE"
This compiles and runs from the command line, crashes inside Eclipse
[code]
[code]
Maybe this is related to Lambdas as using an alternative API compiles...
[code]

[2017-04-15 10:32] gavinking commented on #1869
@fwgreen could you please show us your module descriptor? Thanks.

[2017-04-15 11:24] fwgreen commented on #1869
Sorry about that.
[code]

[2017-04-15 12:07] gavinking commented on #1869
@fwgreen I think you must also have an overrides file, is that right?

[2017-04-15 12:35] gavinking commented on #1869
Oh no, I see, you're using "fully export maven dependencies", OK, now I can reproduce.

[2017-04-15 12:57] gavinking commented on #1869
So yeah, it compiles and runs just fine in IntelliJ, but crashes the compiler in Eclipse :-(

[2017-04-15 13:07] gavinking commented on #1869
As noted by @fwgreen, it works with this:

[code]

So it's definitely something to do with lambda conversions in Eclipse.

[2017-04-26 12:48] gavinking commented on #1869
Assigned to you @FroMage

[2017-05-11 05:49] LisiLisenok opened #1871 "Service provider is lost when renamed"
steps to reproduce:

### 1. Code:
[code]
### 2. Run
everything is OK

### 3. Rename `C` to `C1`
so code looks like:
[code]

### 4. Run
Exception is thrown. Looks like service provider with old name `C` is searched instead of new one `C1`.

**stack trace:**
Exception in thread "main" java.util.ServiceConfigurationError: herd.test.schedule.chime.A: Provider herd.test.schedule.chime.C not found
	at j

[2017-05-11 12:39] gavinking commented on #1871
@davidfestal could you take a look at this one please, or at least let me know where to look? Thanks

[2017-05-12 06:06] gavinking commented on #1871
@lisilisenok the workaround is to do a clean build, I suppose, right?

[2017-05-12 14:53] LisiLisenok commented on #1871
@gavinking right, clean build helps

[2017-05-14 18:47] gavinking commented on #1869
@fwgreen This bug appears to have fixed itself. Your original code is now working. Closing.

[2017-05-14 19:37] gavinking commented on #1869
Oh, sorry, my bad. This is an Eclipse-specific bug. Ugh, reopening.

[2017-05-30 23:14] DiegoCoronel opened #1873 "Unable to open project because java.lang.LinkageError: org/apache/http/params/HttpParams"
This occurs trying to open the project https://github.com/DiegoCoronel/ceylon-spring-boot

[code]

[2017-05-31 08:31] gavinking commented on #1873
@DiegoCoronel I don't experience this. It's working for me.

[2017-06-02 21:23] CPColin commented on #1873
I ran into this a month ago and reported it here: https://bugs.eclipse.org/bugs/show_bug.cgi?id=466003#c3

Things worked fine once I deleted version 4.5.2 of `httpclient` and version 4.4.6 of `httpcore`.

[2017-06-05 21:47] ncorai commented on #1831
Sorry for taking so long to get back to you. I've since upgraded Ceylon to 1.3.2 (in-place) and still see the issue but I'll install Eclipse Oxygen from scratch soon and let you know whether the issue is still happening.

[2017-07-01 13:31] jvasileff commented on #1866
Same on "Oxygen Release (4.7.0)" w/Ceylon 1.3.2

[2017-07-01 14:09] jvasileff commented on #1866
Stack trace from a fresh install:

[code]

[2017-07-02 18:48] jvasileff opened #1874 "Make keyboard shortcuts work (better)"
This one has really bugged me since [2015](https://github.com/ceylon/ceylon-ide-eclipse/issues/1513): the shortcut `⌘⇧T` disappears, and there is no easy way to access "Open Declaration". I'm guessing other shortcuts are affected as well.

I now know a workaround, but I'm guessing most users would just go on missing this feature.

The problem is that when re-installing the plugin (e.g., instal a n

[2017-07-02 19:18] gavinking commented on #1874
@jvasileff I think you should report this as a bug against the Eclipse platform. We don't have any code at all to handle the Ceylon perspective, just stuff in `plugin.xml`. I don't believe it can possibly be anything the Ceylon plugin is doing wrong.

[2017-07-02 19:36] gavinking commented on #1874
@jvasileff it's *vaguely* possible that b22cd15882b2ca9b3bfc705f5289809fb4edd629 might help. But probably not.

[2017-07-02 20:33] jvasileff commented on #1874
Is there some reason 'T' and 'H' aren't configured for "Editing Ceylon Source"? Manually making the change makes this work in the "<Ceylon>" perspective.

<img width="767" alt="screen shot 2017-07-02 at 4 22 06 pm" src="https://user-images.githubusercontent.com/236050/27773288-322b60ce-5f44-11e7-8153-950573ed8b8b.png">

[2017-07-02 21:05] gavinking commented on #1874
'Editing Ceylon Source' means the shortcut is only active when a Ceylon editor is focused. That's not the behavior we want. We want the shortcut active whenever we're in the Ceylon perspective. The job of `CeylonStartup.updateContext()` is to detect when we switch in and out of the perspective.

[2017-07-02 21:10] jvasileff commented on #1874
I don't understand why it would hurt to have the shortcuts work when editing Ceylon source in other perspectives, but if this is not a bug I'll go ahead and close it.

[2017-07-02 21:10] #1874 closed

[2017-07-02 21:20] gavinking commented on #1874
Well, because in the Java perspective, that shortcut is supposed to open the *Java* 'Open Type' dialog.

Anyway, like I said, this is actually a bug in Eclipse.

[2017-07-02 21:26] jvasileff commented on #1874
If in a Java perspective and editing Java files, then yeah, but at that point you wouldn't be editing Ceylon sources.

It seems to me everything is working as intended, even if I don't agree with some of it. Too much weight is given to perspectives given their fragility.

[2017-07-02 21:34] gavinking commented on #1874
Well, not precisely: if upgrading the plugin sometimes breaks the keybindings, that's certainly a problem.

[2017-07-03 16:50] fwgreen opened #1875 "Cannot install on Eclipse Oxygen from update site"
Using the update site https://ceylon-lang.org/eclipse/updatesite/, the process ends in failure.
[code]
Windows 10, JDK 8u121

[2017-07-03 18:09] jvasileff commented on #1875
FWIW, I was able to install the plugin from the update site on a fresh download of Oxygen on macOS.

[2017-07-04 16:21] gavinking commented on #1875
No problem with installation here either.

[2017-07-04 16:22] gavinking commented on #1866
Confirmed: I just started seeing this error after upgrading to Oxygen.

[2017-07-04 16:59] gavinking commented on #1866
I can make that error go away, but then I just get this one instead:

[code]

So it looks like we have a major problem with the metamodel not being set up.

@davidfestal @FroMage I'm going to need your help here:

1. in OSGi, what event is responsible for setting up the metamodel, and
2. why might that be broken in Eclipse Oxygen?

[2017-07-04 17:42] fwgreen commented on #1875
This seems to be a Windows issue: I too had no problems installing on macOS.  These Windows quirks are starting to pile up.  Sadly my Windows desktop is way more powerful than my MacBook Air.

[2017-07-04 20:45] davidfestal commented on #1866
It seems to be a race condition that could sometimes happen in previous Eclipse versions, but now happens systematically under Oxygen when starting Eclipse with a Ceylon project opened. The Ceylon meta-model is registered in a Job, and it happens that, now, the Ceylon classpath-container initializer of a project is indirectly called by the JDT initialization *before the end of Ceylon meta-model re

[2017-07-04 23:08] gavinking commented on #1866
Thanks David.

[2017-07-10 14:00] lukedegruchy commented on #1866
This is not intermittent for me but happens every single time I launch/restart Eclipse on Linux and macOS.

[2017-07-10 14:08] gavinking commented on #1866
Right, me too.

[2017-07-10 14:39] gavinking commented on #1875
Who here has a Windows box to test this on?

[2017-07-18 13:11] DiegoCoronel commented on #1873
@CPColin tks for your answer, this is my current `.p2/pool/plugins` should i remove from this folder?

I tried to remove all `.p2` folder and install everything from 0 but Im having same issue and Im not able to use eclipse + ceylon anymore since this issue date :(

[code]

[2017-07-18 14:58] CPColin commented on #1873
Try deleting `org.apache.httpcomponents.httpclient_4.5.2.v20170210-0925.jar` and `org.apache.httpcomponents.httpcore_4.4.6.v20170210-0925.jar`.

[2017-07-18 15:43] davidfestal commented on #1873
Afair I was able to fix this by removing some of the `Recommenders` plugins added (more or less by default) in the last Eclipse releases.

[2017-07-18 16:40] DiegoCoronel commented on #1873
@CPColin it works \o/ .. Tks. @davidfestal or @gavinking should I close this issue ? I dont know if this something you can workaround in ceylon plugin

[2017-07-27 22:48] ncorai commented on #1831
Works in my new dev environment, which I've recreated from scratch for Eclipse Oxygen. Closing the issue.

[2017-07-27 22:48] #1831 closed

[2017-08-09 04:54] cloudvapor commented on #1875
I tried installing from the update site on my Windows VM running Windows 10 and it failed too but with a different error:

[code]

[2017-08-10 14:41] gavinking opened #1877 "upgrade Eclipse dependencies to Oxygen"
The Eclipse IDE now depends on Oxygen, but the generated list of module dependencies in `module.ceylon` is still being generated from the Luna platform. I tried changing the couple of places where "luna" is hardcoded in the build scripts and `pom.xml` to "oxygen", but apparently that wasn't enough, since I get build errors.

I need to do this upgrade in order to make use of the new support for hig

[2017-08-11 10:03] davidfestal commented on #1877
I'm looking into it

[2017-08-11 11:37] gavinking commented on #1877
Thanks David.

[2017-08-14 23:25] gavinking opened #1878 "maven imports broken in Eclipse"
`maven:` imports result in the error:

This is blocking the release of 1.3.3.

[2017-08-14 23:51] gavinking commented on #1878
The `RepositoryManager` has no `CmrRepository` with the namespace `maven`.

[2017-08-15 07:43] FroMage commented on #1878
Probably due to the new aether module being optional?

[2017-08-15 09:34] gavinking commented on #1878
Not sure what you mean by that. Optional how?

[2017-08-15 10:11] FroMage commented on #1878
It's an optional import from the CMR. The old modules were forced imported in the eclipse plugin, perhaps.

[2017-08-15 11:19] gavinking commented on #1878
Well I tried adding it to the `META-INF` and to the module descriptor but neither helped.

[2017-08-16 10:41] FroMage opened #1879 "Latest plugin throws exceptions"
Latest plugin throws this left and right:

[code]

[2017-08-16 10:41] FroMage commented on #1879
Blocks 1.3.3

[2017-08-16 13:16] FroMage opened #1880 "AssertionError"
Just got this in the logs:

[code]

[2017-08-16 13:20] gavinking commented on #1880
Have not seen this one; I'll take a look.

[2017-08-16 13:21] gavinking commented on #1879
@FroMage I'm pretty sure this must be because you're not on Oxygen.

[2017-08-16 13:24] FroMage commented on #1879
Yes, but is it a requirement now?

[2017-08-16 13:25] FroMage commented on #1878
Got this stack to help:

[code]

[2017-08-16 13:28] FroMage commented on #1879
Also note that since I upgraded the Ceylon plugin this morning, my Eclipse's all broken and has redraw issues, including flickering :( Not just in the Ceylon mode.

[2017-08-16 13:31] FroMage commented on #1878
The manifest for the cmr-aether module appears correct, though:

[code]

[2017-08-16 13:32] FroMage commented on #1878
And the exception class is there:

[code]

[2017-08-16 13:33] FroMage commented on #1878
And this is an Eclipse classloader, not a jboss modules one.

[2017-08-16 13:34] FroMage commented on #1878
AH, the manifest for the new aether module has a wildcard export package that is wrong (it does not include the shared packages):

[code]

[2017-08-16 13:35] FroMage commented on #1878
So, who creates this manifest?

[2017-08-16 13:38] FroMage commented on #1878
That's done in the distrib

[2017-08-16 13:39] FroMage commented on #1878
DAMNIT.

[2017-08-16 13:39] gavinking commented on #1879
Yes, Oxygen is 100% required for 1.3.3.

[2017-08-16 13:46] FroMage commented on #1879
ah, ok, I guess I have to upgrade then

[2017-08-16 13:46] FroMage commented on #1879
shouldn't the plugin say so and refuse to install then?

[2017-08-16 13:47] FroMage commented on #1878
Meh, that line was added by you @gavinking ;) Lemme remove it and see if that fixes the issue.

[2017-08-16 13:57] gavinking commented on #1880
@FroMage it should be fixed by https://github.com/ceylon/ceylon-ide-common/commit/5422b0cdd230f2fed43cf207c81a3e62a9b63242.

[2017-08-16 13:57] gavinking commented on #1880
Can you verify, please?

[2017-08-16 13:58] gavinking commented on #1879
It's a real surprise to me that it doesn't.

So yeah.

Perhaps there is some item of metadata we need to change?

[2017-08-16 13:59] gavinking commented on #1878
@FroMage which line?

[2017-08-16 14:00] gavinking commented on #1878
This one?

[2017-08-16 14:02] gavinking commented on #1878
Wasn't added by me, I don't think, I guess it was generated by the Maven shade plugin. (Look at `ceylon/aether/pom.xml`.)

[2017-08-16 14:04] gavinking commented on #1878
Oh, no, you're right, it *is* explicit in the `pom.xml` file, so it *was* me.

[2017-08-16 14:22] FroMage commented on #1879
Surely, but no idea where.

[2017-08-16 14:29] gavinking commented on #1879
No, I'm searching, and I have not found anything obvious.

[2017-08-16 14:51] FroMage commented on #1878
So I fixed the `Export-Package`, but the jar that ends up in the Eclipse plugin's build is not the one that comes from the distrib, and that one still has it. Or it's put back by _something_. The distrib one is fine, though.

[2017-08-16 15:02] FroMage commented on #1878
Where could it possibly come from????

[2017-08-16 15:35] FroMage commented on #1878
I rebuilt it all and it keeps coming back. I've no idea where it comes from.

[2017-08-16 15:39] gavinking commented on #1878
Oh, I forgot: generation of the shaded jar isn't part of the build. We have to manually copy the jar over!

[2017-08-16 15:40] FroMage commented on #1878
No I put it there myself, that's not it.

[2017-08-16 15:41] gavinking commented on #1878
oh.

[2017-08-16 15:42] FroMage commented on #1878
Try it yourself, you'll get the same issue: `ceylon/dist/osgi/build/dist/plugins/com.redhat.ceylon.aether_3.3.9.CEYLON-DEPENDENCIES-v1.jar` is fine, but `ceylon-ide-eclipse/site/target/repository/plugins/com.redhat.ceylon.aether_3.3.9.CEYLON-DEPENDENCIES-v1.jar` has the wrong manifest.

[2017-08-16 15:42] FroMage commented on #1878
and I've _no idea_ where that can come from.

[2017-08-16 15:43] gavinking commented on #1878
The Ant build rewrites the MANIFEST files of the jars.

[2017-08-16 15:44] gavinking commented on #1878
And I'm not sure but think it even runs BND on them.

[2017-08-16 15:45] FroMage commented on #1878
heh, it's worse: it gets that jar from _somewhere else_ because the manifest is entirely different. That jar in Eclipse is built in jdk7, while my jdk is 8.

[2017-08-16 15:45] gavinking commented on #1878
Perhaps if we add in explicit `Export-Package` tags to the shaded jar, they will be left alone by the build?

[2017-08-16 15:46] FroMage commented on #1878
No, I tried to change other tags to verify, like the license, and the change doesn't get carried over. Try it yourself, see if it carries the new manifest?

[2017-08-16 15:46] FroMage commented on #1878
I just pushed the shared jar copied to the runtime repo that I forgot.

[2017-08-16 15:48] gavinking commented on #1878
Trying now.

[2017-08-16 15:49] FroMage commented on #1878
For fun, I can even remove the jar from the ceylon distrib and Eclipse still compiles and gets that jar from _somewhere else_

[2017-08-16 15:50] gavinking commented on #1878
huh?!

[2017-08-16 15:50] FroMage commented on #1878
yes, it's that bad.

[2017-08-16 15:50] FroMage commented on #1878
and I've no other file named that way in my entire home dir.

[2017-08-16 16:03] FroMage commented on #1878
Well I'm fresh out of idea. I checked my entire FS for that file and it's not there (except in Eclipse plugin installations, but I don't think it can get it from there). I can't imagine it gets it from online either, because where would _that_ be?

[2017-08-16 16:03] gavinking commented on #1878
No, it's surely being created by the build.

[2017-08-16 16:04] gavinking commented on #1878
Have a look, for example, at what the `addRequiredOSGIHeaders` target does in `ceylon/dist/build.xml`.

[2017-08-16 16:06] gavinking commented on #1878
I suspect `bnd` is doing this.

[2017-08-16 16:37] gavinking commented on #1878
But @FroMage, the other thing I don't get is: what is wrong with that `Export-Package` header anyway? What *should* it be?

[2017-08-16 16:48] gavinking commented on #1878
Oh, `Export-Package` can't have wildcards, is that it?

[2017-08-16 18:19] FroMage commented on #1878
It should export everything including the shaded packages we're using.

[2017-08-16 18:20] FroMage commented on #1878
Oh damn you're right this is the right prefix. Duh. Such wasted time. Then why doesn't it work?

[2017-08-16 18:41] gavinking commented on #1878
Well my reading of the OSGi spec (which might be wrong), is that `Export-Package` doesn't support wildcards, and packages have to be enumerated explicitly.

OTOH, if I'm right and this line is being generated by the `bnd` tool, then I don't see why `bnd` would be generating something wrom.

So I'm confused.

[2017-08-16 19:22] FroMage commented on #1878
It's not generated, bnd is only called if there's no existing manifest.

[2017-08-16 19:24] gavinking commented on #1878
So where *the hell* does it come from?!

[2017-08-16 19:29] FroMage commented on #1878
No idea. Did you try ?

[2017-08-17 09:45] FroMage commented on #1878
HAHA FOUND IT!!!!

[code]

It had a slightly different name, that's why I didn't find it. So _that_'s where it's coming from (not the ceylon build dir).

[2017-08-17 10:03] FroMage commented on #1878
And when I remove that file, I confirm I can rebuild and the plugin works.

[2017-08-17 10:04] FroMage commented on #1878
So now, we have to figure out how to make that folder have a lesser precedence than the ceylon distrib.

[2017-08-17 11:04] gavinking commented on #1878
Ugh. OMG. So nuking the `.m2` dir is a bandaid solution?

[2017-08-17 11:28] FroMage commented on #1878
No clue.

[2017-08-17 11:29] FroMage commented on #1878
At least `~/.m2/repository/p2` yes.

[2017-08-17 13:02] FroMage commented on #1878
Well, at least the error changed:

[code]

[2017-08-17 13:04] FroMage commented on #1878
Of course, that package is now explicitly exported.

[2017-08-17 13:06] FroMage commented on #1878
Ah, my Eclipse installation still has the OLD OLD version with the wildcard. Brilliant.

[2017-08-18 15:05] #1877 closed

[2017-08-18 15:05] #1879 closed

[2017-08-18 15:06] gavinking opened #1881 "high density icons"
I have upgraded most of the icons to @2x, except for the documentation hover.

[2017-08-18 15:06] #1881 closed

[2017-08-18 15:06] gavinking commented on #1866
This is fixed, but at the cost of unnecessary binary builds on almost every startup. We need to come back and fix that.

[2017-08-18 15:07] gavinking opened #1882 "unnecessary binary builds at startup"
As a result of the fix for #1866, starup is now *much* slower.

[2017-08-18 15:08] gavinking commented on #1866
See #1882.

[2017-08-18 15:08] #1866 closed

[2017-08-18 15:09] gavinking commented on #1878
This is fixed, but all this wasted time has exposed a couple of issues with the build that really need fixing.

[2017-08-18 15:10] gavinking opened #1883 "two build issues"
1. The build will resolve stuff out of `~/.m2/repository/p2`, which it never cleans up.
2. `ant dist sdk eclipse` does *not* work unless you have *at least once* first published the SDK from the SDK build.

These are both actually pretty nasty problems.

[2017-08-18 15:10] gavinking commented on #1878
See #1883.

[2017-08-18 15:10] #1878 closed

[2017-08-18 17:50] bjansen commented on #1883
FTR, `1.` causes problems on Jenkins, because it puts new artifacts in the repo every night without ever removing old nightly builds.

[2017-08-21 17:43] fwgreen commented on #1869
This problem seems to have resolved itself with the latest plugin (1.3.3).  Closing.

[2017-08-21 17:43] #1869 closed

[2017-08-21 17:47] gavinking commented on #1875
@davidfestal can you take a look, please?

[2017-08-21 21:55] gavinking commented on #1869
Oh, good, yes, it indeed seems to be fixed.

[2017-08-24 16:12] gavinking opened #1884 "@2x gutter icons"
The gutter icons indicating refinement are still low-density.

[2017-08-24 23:01] gavinking commented on #1884
Oh, wait, forget it, we look just the same as the Java editor, and it's not us rendering the icon anyway.

[2017-08-24 23:01] #1884 closed

[2017-08-25 10:25] gavinking opened #1885 "running function in default package creates new run profile every time"
If you have a runnable function in the default package, then a new run profile gets created every time you execute it.

[2017-08-25 12:20] gavinking commented on #1885
Fixed.

[2017-08-25 12:20] #1885 closed

[2017-08-26 10:08] gavinking commented on #1865
Done: I have added a launcher for assemblies!

[2017-08-26 10:08] #1865 closed

[2017-08-26 10:09] gavinking commented on #1865
Done: I have added a launcher for assemblies!

[2017-08-26 10:14] gavinking commented on #1857
I have fixed this bug, and also added a field to select the toplevel function in the launch configuration dialog.

[2017-08-26 10:14] #1857 closed

[2017-08-26 10:18] #1863 closed

[2017-08-26 10:18] gavinking commented on #1863
Fixed, I've just added `--force` to the arguments passed to `fat-jar`.

[2017-08-26 10:20] gavinking commented on #1857
<img width="911" alt="screen shot 2017-08-26 at 12 19 28 pm" src="https://user-images.githubusercontent.com/579974/29740533-e6d58240-8a58-11e7-870c-eb56eeed3ae8.png">

Enjoy!

[2017-08-29 14:57] cloudvapor opened #1886 "Autocomplete suggesting 1.3.3 for some modules but 1.3.2 for others?"
From the image: `ceylon.bootstrap` is `"1.3.3"`, but `ceylon.buffer` is `"1.3.2"` for the module autocompletion etc

![image](https://user-images.githubusercontent.com/30367398/29827676-320c7230-8d0d-11e7-9001-189922b998c6.png)

[2017-09-07 20:10] OlafTitz opened #1887 "Can"

[2017-09-21 17:30] CPColin commented on #1887
This also makes it tough to run `tagged` tests.

[2017-09-26 22:06] negora opened #1888 "Multiple exceptions just after creating a Maven project"
Hello:

I'm trying to create a Maven project to use the ceylon-maven-plugin with it. However, when I create a Maven project and I click in the `Problems` panel, Eclipse throws multiple exceptions. I've included the stack trace as an attachment to this report: [java.lang.VerifyError: Bad type on operand stack](https://github.com/ceylon/ceylon-ide-eclipse/files/1335117/java.lang.VerifyError.log).

I

[2017-09-26 22:34] negora commented on #1888
By the way, these are the error messages (I forgot to include them):

Although I guess that the most important part is the exception stack trace.

[2017-09-27 07:07] bjansen commented on #1888
There's no explicit mention of Ceylon in the stack trace you provided, it might be caused by another plugin  (looks like it is GEF4 DOT). Or maybe there's a clash between the ANTLR we ship in our plugin and another version of ANTLR used by DOT, that would explain the `is not assignable` error.

Are you by any chance running Eclipse on Java 9?

[2017-09-27 08:02] negora commented on #1888
To install the Ceylon plugin, I follow the instructions of [Installing Ceylon IDE for Eclipse](https://ceylon-lang.org/documentation/1.3/ide/eclipse/install/). There, it says to **select all options** displayed in the `Install` window. But, in the screenshot, it only appears three options:

* Ceylon IDE
* Ceylon IDE Runtime bundles
* GEF (Graphical Editing Framework)

When I install the plug-in, h

[2017-09-27 08:09] negora commented on #1888
Ops, I did a mistake. The JVM is not bundled with Eclipse. It's the one from the Debian repository:

[code]

[2017-09-27 08:16] negora commented on #1888
I've just tested Eclipse with the Oracle JDK 1.8.0 Update 144, but the result has been the same. I had already tested it days ago, but I've preferred to re-test it again, just in case.

[2017-09-27 09:00] negora commented on #1888
You're right. The problem seems to be in the GEF DOT.UI component. I've started to install component by component, and I've isolated this component as the source of the errors.

I've looked for references to ANTLR under the `$HOME/.eclipse/` folder, and I've found these:

[code]

It seems that there is ANTLR 3 and 4. I've no idea about OSGi, but I thought that it kept the bundles isolated and that

[2017-09-29 21:27] gavinking opened #1889 "'Clean Imports' is broken in Eclipse"
I seem to have broken 'Clean Imports', but I'm not sure what I did, and I can't debug it. I might need some help with this one, @davidfestal.

[2017-09-30 06:42] bjansen commented on #1889
Why can't you debug it?

[2017-10-02 22:26] fwgreen commented on #1875
This problem seems resolved after performing a clean install of Eclipse 4.7.1 (September update).  Closing.

[2017-10-02 22:26] #1875 closed

[2017-10-16 20:39] fwgreen opened #1890 "Ceylon IDE does not support running on Java 9"
Eclipse Oxygen (4.7.1a) now supports running on Java 9.

![screen shot 2017-10-16 at 4 27 49 pm](https://user-images.githubusercontent.com/7098161/31633888-a82db0bc-b28f-11e7-9d4b-ebd65db5309c.png)

[2017-12-02 16:32] akornilov opened #1891 "Improvement: Trigger for completer"
The Idea IDE starting suggest me something when I typing text. It very helpful and save time. I don’t need write exactly “shared” and other annotations, keywords, values and etc. I just choose what required. But in Eclipse the completion tool triggered only when I have typed dot. Is it possible to change triggering logic? For example, activates completer when user typed at least 3 characters and a

[2017-12-06 10:51] luolong commented on #1891
You can always press `Ctrl+Space` to get context sensitive completion.

[2017-12-06 15:42] akornilov commented on #1891
I know, but it's so boring and work slowly :) For example when I use the Eclipse for Java I can change the autocompletion triggering logic like this:
https://stackoverflow.com/questions/5929773/improving-eclipse-autocompletion

[2018-01-15 21:46] Jezza opened #1892 "Unable to clone project on Windows"
`tests/org.eclipse.ceylon.ide.eclipse.ui.test/resources/model-and-phased-units/main-ceylon-project/imported_modules/source_and_binary_external_module/1.0.0/source_and_binary_external_module-1.0.0.src.sha1`
Fails to clone due to the length of the name.

It's not required by anything, so it can be worked around, but automated scripts now fail.
Such as using `ant setup-sdk setup-ide` on a completely

[2018-01-15 21:49] Jezza commented on #1892
Looking into it, it's not a problem specific to this repo.

https://stackoverflow.com/questions/22575662/filename-too-long-in-git-for-windows

[2018-01-15 21:49] #1892 closed

[2018-02-13 12:46] gavinking commented on #1891
Yes, you can change it in 'Preferences ... > Ceylon > Editor > Completion > Proposal list auto-activation'.

[2018-02-13 12:46] #1891 closed

[2018-02-14 09:12] akornilov commented on #1891
Naturally, I have tried this option, but it doesn't work for me (like in Idea).

[2018-04-05 05:33] ajaypaudel opened #1893 "Roku Plugin installing in eclipse"
Hello,
I am trying to install Roku Plugin in eclipse but when i try it always says"cannot perform operation"  and after sometime it gives error of:
"Cannot complete the install because one or more required items could not be found.
  Software being installed: BrightScript Core 1.2.0.201610272359 (com.roku.brightscript.ide.eclipse.core.feature.group 1.2.0.201610272359)
  Missing requirement: Bright

[2018-04-05 15:04] luolong commented on #1893
This does not sem to be Ceylon-IDE related issue?

[2018-04-05 16:17] #1893 closed

[2018-04-10 20:33] CPColin opened #1894 "Eclipse appears to get confused when combining native JS modules with "fully export Maven dependencies""
This is a weird one and I'm not sure it'll reproduce easily. You can see my project setup, minus the JS module, [here](https://github.com/CPColin/ceylon-spring-experiments). I have a few native Java modules that import some stuff from Maven. I'm using Spring Boot via a bunch of `spring-boot-starter` Maven imports, so I have to use the "fully export Maven dependencies" option in order for the code

[2018-04-11 04:05] CPColin commented on #1894
This project shows off the issue much more succinctly: https://github.com/CPColin/issue-1894

[2018-04-17 23:50] fwgreen opened #1895 "Errors in code can cause the IDE to crash"
This only happens in the Ceylon IDE and not JDT, but Ceylon isn't mentioned in the error message.  I also haven't experienced this on macOS.

![eclipse screenshot](https://user-images.githubusercontent.com/7098161/38904268-6aebc6e4-4277-11e8-9e50-bbf588e482a6.PNG)

The error message...
[code]
Eclipse 4.7.3a, Java 1.8u162, Windows 10

[2018-04-20 20:51] fwgreen commented on #1890
Using 4.7.3a on Windows 10 with JDK 10, this bug actually crashes the IDE.

[2018-05-11 21:01] fwgreen commented on #1895
Similar problem on Linux.  I just noticed that in both cases these were Maven projects.  This doesn't seem to happen with regular Ceylon projects.

![screenshot from 2018-05-11 16-51-50](https://user-images.githubusercontent.com/7098161/39946351-d5b1ba52-553b-11e8-8f00-1ded35c35150.png)
Eclipse 4.7.3a, Java 1.8u162, Ubuntu 18.04

[2018-12-03 20:22] kingjon3377 opened #1896 "Plugin crashes on Eclipse 2018-09 (and Photon?)"
On the recently-released Eclipse 2018-09 (i.e. Eclipse 4.9; I seem to recall this also happening on Eclipse Photon when I tried it soon after it was released), the following stack trace appears in the error log, and the Ceylon code in my project is not compiled.

[code]

Here's the "session data" in the "Event Details" for this in the Error Log:

[code]

[2021-01-12 07:22] baberrehman opened #1897 "Unable to install ceylon in eclipse 4.7"
I am following the instructions mentioned at https://ceylon-lang.org/documentation/1.3/ide/eclipse/install/ .
when installing ceylon for eclipse from https://ceylon-lang.org/eclipse/updatesite/ , I encounter the following error:

`Unable to read repository at https://ceylon-lang.org/eclipse/updatesite/content.xml.
Unable to read repository at https://ceylon-lang.org/eclipse/updatesite/content.xml.

[2021-01-12 10:43] FroMage commented on #1897
Hi, I've updated the certificate, can you try again?

[2021-01-12 11:26] baberrehman commented on #1897
Yes, it works now. Thanks!

[2021-01-12 13:11] FroMage commented on #1897
Great.

[2021-01-12 13:11] #1897 closed, assigned to nobody