[2015-08-20 12:32] FroMage commented on #1452
So, how can I debug this if you can't reproduce?

[2015-08-20 13:14] FroMage commented on #1452
I can reproduce even in Mars. 27 errors, then 25, then 0.

[2015-08-20 13:28] davidfestal commented on #1452
@FroMage : let me just finish my current task on my branch, and I'll test it then.

[2015-08-20 17:14] jvasileff commented on #1444
To reproduce, it seems to help to:

1. Restart Eclipse first. Once it works, it seems to continue to work.
1. Click "Apply" just prior to step 5 above (although, I think I triggered the error once w/o apply)

[2015-08-21 14:20] davidfestal commented on #1452
I don't succeed in reproducing it for the moment

[2015-08-21 14:30] davidfestal commented on #1452
even on Mars

[2015-08-21 16:37] FroMage commented on #1452
Bah, forget it, now that I have rebuilt everything, closed and reopened `ceylon.language`, I can't reproduce it either.

[2015-08-21 16:37] #1452 closed

[2015-08-29 12:14] gavinking opened #1455 "Extract Value broken for some expressions"
Given:

    print(loop(1)((a) => a<10k then a*10 else finished));

Select the argument of `print()` and try to Extract Value.

@davidfestal would you take a look please?

[2015-08-30 20:43] sgalles opened #1456 "Find matching if/then/else and switch/case in expressions"
I tend to use more and more Ceylon expressions  `if/then/else` and `switch/case` and tend to imbricate them a lot( ok, maybe I overuse them :smile: )

Problem is, it is very difficult to find the matching parts of a `if/then/else` expression (and to a lesser extend `switch/case`) when you code is not formatted.

With a traditionnal `if/then/else`, I use `ctrl+shift+P` to navigate the braces. I don

[2015-08-31 11:58] davidfestal commented on #1455
Yes, I'll have a look asap.

[2015-08-31 13:31] gavinking commented on #1455
Thanks.

[2015-08-31 14:43] davidfestal opened #1457 "NPE in "Retrieving Fixes" on a package import ..."
... when the package descriptor is not found.

[code]

[2015-08-31 15:17] #1457 closed

[2015-09-01 12:37] gavinking opened #1458 "use jaro-winkler instead of levenshtein distance for measuring identifier similarity"
We should try using [this algorithm](https://en.wikipedia.org/wiki/Jaro%E2%80%93Winkler_distance) instead of the levenshtein distance which I'm quite unhappy with.

[2015-09-02 14:36] tombentley opened #1459 "Error mis-classified as backend error"
https://github.com/ceylon/ceylon-compiler/issues/2292

[2015-09-02 20:31] #1455 closed

[2015-09-02 20:36] lucaswerkmeister commented on #1455
Should be fixed now.

[2015-09-03 08:12] gavinking opened #1460 "lots of new bugs in Rename refactoring"
OK, so Rename is now a big mess. (Not really anybody's fault, since there were no tests, of course.)

Things I've noticed:

1. In `x.member`, placing the caret right between `x` and `.` and hitting ⌘⌥R selects `member` for renaming instead of `x`. (This may be due to the changes to `FindNodeVisitor`.)
2. Very often, selecting a usage of a local variable, and hitting ⌘⌥R selects the usage for renam

[2015-09-03 08:53] davidfestal commented on #1460
I'll have a look to that today

[2015-09-03 08:55] gavinking commented on #1460
Thanks.

[2015-09-03 09:09] gavinking opened #1461 "quick fix to add formal annotation"
Given:

[code]

There should be a quick fix to add a `formal` annotation. There _is_ such a quick fix if `name` is a method.

[2015-09-03 09:52] #1461 closed

[2015-09-03 09:53] gavinking commented on #1461
Fixed. The problem was to do with the impl of `equals()` on `EditedSourceFile`.

[2015-09-03 17:11] bjansen opened #1463 "StackOverflowError when refining formal members"
This only happens in projects that have a lot of dependencies (think ceylon-ide-eclipse and ceylon-ide-intellij).

- create a class or an object that satisfies a random interface, say `IdeCompletionManager` in ceylon-ide-common
- call the quick fix "Refine inherited formal members of xyz"
- observe the following error:

[code]

[2015-09-04 13:06] thradec commented on #1400
I was able to reproduce this bug, when the `test.ceylon.net-1.1.1.car` was produced by eclipse, which run under java 8 (in that case it fails from IDE and from CLI too), with java 7 it works fine from both places.

I decompiled the non-functioning archive and in `$module_.class` found this
`@com.redhat.ceylon.compiler.java.metadata.Import(name="java.base", version="8")`.

[2015-09-04 13:31] luolong opened #1464 "API change in Eclipse Neon"
When installing Ceylon on top of recent milestone builds of Eclipse Neon (i.e. _Neon Milestone 1 (4.6.0M1)_), I get lots of errors in the Ceylon IDE.

Eclipse Error log shows error messages with the following stack trace:
[code]

[2015-09-04 13:35] lucaswerkmeister commented on #1464
Looks like this changed in eclipse/objectteams@210dc3aedceebf637dae1d761c2a61d31b823e1f

[2015-09-04 14:02] luolong commented on #1464
probably this interface change:

[code]

[2015-09-07 08:31] bjansen opened #1465 "Breakpoints in Java applications stop in .class instead of .ceylon"
When debugging a Java application that contains Ceylon code (for example ceylon-ide-eclipse), if I put a breakpoint in a Ceylon file, the debugger will stop and then step over/into/etc in the corresponding `.class file`:

![image](https://cloud.githubusercontent.com/assets/281528/9712477/24d685ca-554b-11e5-9348-185ab4053faf.png)

This causes several (minor) problems:
- the file is not correctly hi

[2015-09-07 14:10] davidfestal commented on #1460
@gavinking : Now that `nodes` and `FindNodeVisitor`, etc ... are in common, let me add tests for those. This will help finding out the underlying bugs that produced these regressions. So it will also be easier for you to give your thought about the expected result of specific use cases.

[2015-09-07 14:10] bjansen commented on #1460
Additional problem: in `value \imodule = ...`, placing the caret in `\imodule` and hitting ⌘⌥R selects `\imodu`.

[2015-09-08 15:42] #1408 closed

[2015-09-08 15:50] gavinking opened #1466 "Refine formal members quick assist much worse after change to FindNodeVisitor"
`FindNodeVisitor` has started returning statements that the caret is not inside of. That has broken the behavior of the refine formal members quick assist, which used to be able to add the refined members at the caret position, but can't anymore, even with the bugfix I just committed.

[2015-09-08 15:58] lucaswerkmeister commented on #1466
Can you give an example (code + caret)? The behavior should only have changed if the caret is on whitespace.

[2015-09-08 16:07] lucaswerkmeister commented on #1466
Example given on Gitter:
[code]
Putting the caret on line 2 or 4 selects `x`. I agree that this is incorrect.

[2015-09-08 16:15] gavinking opened #1467 "Extract Value expression suggestions"
Try Extract Value on:

[code]

You get rubbish expression suggestions.

[2015-09-09 07:24] gavinking commented on #1408
FTR: was actually fixed by @3e6769037dd8b2a3bcffe37c7c81beead84b9470.

[2015-09-09 08:13] #1466 closed

[2015-09-09 08:56] luolong commented on #1466
As I mentioned in the Gitter discussion, here's how I think the algorithm should be adjusted:

Basically, in case of a caret (the case where start and end positions of the selection are the same), the search for closest sibling node should be limited to the line of the caret's position.

If the selection spans two or more characters, then the search scope should be limited to the selection.

If no

[2015-09-09 08:59] luolong commented on #1466
In case of the example in #issuecomment-138613687:

When caret is either on line 2 or line 4, the body of the `class Foo` should be found.

If the caret is on line 3, then it should return `x` instead.

[2015-09-09 10:09] gavinking commented on #1466
Thanks, working now.

[2015-09-09 10:58] gavinking commented on #1467
Fixed by @255870fde211d7823193aa09c5f4cc3cfeaba427

[2015-09-09 10:58] #1467 closed

[2015-09-09 11:02] gavinking commented on #1448
Actually this is just a special case of the bigger bug mentioned in #1460. So I'm closing this dupe issue.

[2015-09-09 11:02] gavinking commented on #1460
Note: we need to check that the fix for this also fixes #1448.

[2015-09-09 11:03] gavinking commented on #1422
Could _possibly_ be related to #1460.

[2015-09-09 11:29] #1424 closed

[2015-09-09 11:30] gavinking commented on #1424
Fixed, along with a couple of other minor problems in match highlighting.

[2015-09-09 11:47] gavinking opened #1468 "add module import to module descriptor quick fix does not work from hover"
@davidfestal here's one more like this! For you.

[2015-09-09 11:50] gavinking commented on #1468
[code]

[2015-09-09 11:50] gavinking commented on #1417
This is working perfectly fine for me now. Closing. @bjansen reopen if it occurs again.

[2015-09-09 11:57] gavinking opened #1469 "with inter-project dependencies, Find References displays dupe matches in temp source archives"
If I have a project `p2` that depends on a ceylon project `p1` then running Find References any declaration in `p1` will result in dupe search results, for example:

    /project/source/p1/run.ceylon
    /Users/gavin/Documents/runtime-EclipseApplication/project/modules/p1/1.0.0/module1-1.0.0.src!/module1/run.ceylon

The match in the temp source archive should be suppressed, I believe.

@davidfesta

[2015-09-09 12:07] FroMage commented on #1202
I don't understand. This is already implemented by throwing, no? I don't think we can do better.

[2015-09-09 12:10] gavinking commented on #1354
Actually both Rename and Change Parameters both seem to handle `native` properly now!

Plus I disabled Inline for `native`s.

So the ones which don't properly handle `native` are Collect Parameters and Extract Parameter. So I can downgrade the priority on this.

[2015-09-09 12:13] gavinking commented on #1342
@quintesse @davidfestal what is the status of this issue?

[2015-09-09 12:56] bjansen commented on #1417
I'm still seeing the problem: I have a class in `ceylon-ide-intellij` that refines a `formal` function in `ceylon-ide-common`. If I use find references on the `actual` function, it shows 0 occurrence, but the `formal` version is used in `ceylon-ide-common`.
If I call find references on the `formal` function, it works as expected.

[2015-09-09 12:58] quintesse commented on #1202
@FroMage but isn't your progress stuff much more fine-grained? Meaning it would cancel much faster than what is possible now. At least as far as I know there are several phases in the compilation that have no task progress associated with them at all while your stuff seems to be everywhere :)
But if you think the current stuff is the best we can do you can close this if you want.

[2015-09-09 12:59] bjansen commented on #1417
FTR I'm searching usages of this function: https://github.com/ceylon/ceylon-ide-intellij/blob/master/plugin-ceylon-code/source/org/intellij/plugins/ceylon/ide/ceylonCode/completion/ideaCompletionManager.ceylon#L151

[2015-09-09 12:59] gavinking commented on #1417
@bjansen are they both Ceylon projects?

[2015-09-09 13:02] davidfestal commented on #1202
@quintesse ; I don't understand : do you really feel the cancelling of binary generation is long *now*?

[2015-09-09 13:27] #1417 closed

[2015-09-09 13:28] gavinking commented on #1417
OK, so after gitter discussion we realized the problem was the exact opposite of the original issue title. Now fixed.

[2015-09-09 13:31] gavinking commented on #1202
I agree with @quintesse.

[2015-09-09 14:52] quintesse commented on #1342
I'm not sure. My part of the work was done on May 19th, but it seems @davidfestal removed himself from this. Not sure if he did anything with what I wrote or if he fixed it in some other way. @davidfestal ?

[2015-09-09 15:02] quintesse commented on #1202
Ok, I must admit I'm currently unable to find a specific point where cancellation is slow (tried at several points during a build of the SDK and it never takes longer than a second). So maybe this has indeed improved sufficiently to close this issue.

[2015-09-09 15:19] davidfestal commented on #1342
I'll have a look very soon back to this issue. I don't remember very well my part currently.

[2015-09-10 09:22] davidfestal opened #1470 "NPE when the saving in the structured comparator."
[code]

[2015-09-10 12:01] davidfestal opened #1471 "Rename problem with quoted names"
In value `\imodule = ...`, placing the caret in `\imodule` and hitting ⌘⌥R selects `\imodu`.

[2015-09-10 12:05] davidfestal commented on #1460
Fixed by ceylon/ceylon-ide-common@0d0a755

However the `\imodule` case is not fixed. This is another problem for which I've just created issue #1471.

Also #1448 is finally *not* fixed by this. This seems to be a different (at least partly different) problem. So I'll reopen it.

@gavinking : apart from these 2 cases, can you confirm everything else is fixed also on your side ?

[2015-09-10 12:05] davidfestal commented on #1448
was not fixed by the fix of #1460.

[2015-09-10 12:57] jvasileff opened #1472 "Add imports when pasting code"
IIRC, until two or three months ago, imports would automatically be added as necessary when copying and pasting code from one file to another.

For example, in a project without errors, copying and pasting:

[code]
would add
[code]
if necessary.

[2015-09-10 14:12] davidfestal commented on #1422
Indeed this seems to be fixed by the fix of #1460
@gavinking : do you confirm ?

[2015-09-10 14:58] davidfestal commented on #1448
After some debugging, it appears that it is a side-effect of the following commit : e105b36

Since we fully skip the children of the object expression defined with the `SpecifierStatement`, we don't even visit the declaration of `counter`.

@gavinking : since I don't know your reasoning behind the involved commit, I'm not sure of the best way to fix this.

[2015-09-10 14:58] davidfestal commented on #1448
So I'll unassign myself from this issue

[2015-09-10 15:09] gavinking commented on #1448
Ah, OK, thanks.

[2015-09-10 15:28] gavinking commented on #1472
You recall correctly.

[2015-09-10 15:41] #1470 closed

[2015-09-10 17:07] gavinking commented on #1020
I have reverted the fix, which was the cause of #1422, and I'm reopening this issue.

[2015-09-10 17:09] gavinking commented on #1448
I have reopened #1020 and I'm closing this one.

[2015-09-10 17:09] #1448 closed

[2015-09-10 19:13] gavinking commented on #1020
OK, now refixed.

[2015-09-10 19:13] #1020 closed

[2015-09-10 19:19] gavinking commented on #1448
Confirmed fixed.

[2015-09-10 19:23] gavinking commented on #1460
For now it looks much better to me. If I notice anything else, I will open a separate issue.

Thanks!

[2015-09-10 19:23] #1460 closed

[2015-09-10 19:34] #1472 closed

[2015-09-10 19:35] gavinking commented on #1472
Fixed, thanks!

[2015-09-10 20:07] #1471 closed

[2015-09-10 20:07] gavinking commented on #1471
Fixed.

[2015-09-10 20:08] gavinking commented on #1422
Confirmed, thanks.

[2015-09-10 20:08] #1422 closed

[2015-09-11 12:27] #1469 closed

[2015-09-11 12:29] gavinking commented on #1469
Cool, thanks!

[2015-09-12 07:19] gavinking opened #1474 "convert between if/else statement and if/then/else expression should handle "if else" chains"
The proposal to convert an `if` statement to an expression, and the proposal to convert an `if` expression to a statement, should be able to handle greater than two blocks / `then` clauses.

[2015-09-12 07:20] gavinking opened #1475 "convert between switch/case statement and switch/case expression"
We should be able to convert `switch` statements to `switch` expression and vice-versa. We already have this for `if`.

[2015-09-12 07:22] gavinking opened #1476 "attach and detach nested if to else"
I very often want to join a nested `if` to the `else` clause it occurs in, resulting in `if else`.

And sometimes I want to do the opposite.

[2015-09-12 09:03] gavinking opened #1477 "npe calling delta builder"
For you @davidfestal

[code]

[2015-09-12 13:51] davidfestal opened #1478 "Correctly synchronize the parse controller typechecking"
Now that the typechecking performed inside the `CeylonParseController` isn't synchronized anymore by the `Workspace` scheduling rule, it seems that regularly the `unit` of some AST nodes is found to be `null`, which cause NPEs at various places.

We should find a way to avoid this without reintroducing the previous synchronization that was a cause of deadlock (#1412).

For example, see :
- https:/

[2015-09-12 14:04] gavinking commented on #1476
Done!

[2015-09-12 14:04] #1476 closed

[2015-09-12 14:05] gavinking commented on #1478
@davidfestal would it be enough to just fix the npes by adding null checks? We already have them in lots of places...

[2015-09-12 14:15] davidfestal commented on #1478
why not, but the thing is that each time we get a node, we should just have waited for the current typechecking to be achieved.
The problem is that *during the typechecking*, and mainly *during the `DeclarationVisitor` process*, intermediate nodes of the AST don't have the `unit` set.

The best way would be probably to just synchronize the `CeylonParseController` typechecking and the use of the `r

[2015-09-12 14:23] #1468 closed

[2015-09-12 14:24] gavinking commented on #1468
Fixed.

[2015-09-12 14:28] gavinking commented on #1478
Oh, sure. Yes we still do need to synchronize any typechecking that happens on the same tree.

[2015-09-12 15:38] davidfestal commented on #1478
Indeed it might be sufficient to use `CeylonParseController.getPhasedUnit().getCompilationUnit()` instead of `CeylonParseController.getRootNode()` at the various places where you want a *correctly typechecked* AST.

Because `rootNode` is set *as soon as* the parsing is finished whatever the typechecking state is of will be.

Then checking of `phasedUnit != null` should be sufficient to ensure that

[2015-09-12 15:38] davidfestal commented on #1478
closed by mistake

[2015-09-12 16:17] gavinking opened #1479 "suppressWarnings("unusedDeclaration") not working"
I have just spent an hour or so trying to chase this one down and I got as far as seeing that `UsageWarning`s are _not_ marked `suppressed` when `MarkerCreator` is called from `CeylonBuilder.addProblemAndTaskMarkers()`.

That's _really_ super-weird because on the line right before, we visit the tree using a `WarningSuppressionVisitor`. So for some reason, `WarningSuppressionVisitor` is not doing i

[2015-09-12 16:34] gavinking commented on #1479
Wait, no, that's not right. It's not `WarningSuppressionVisitor`'s fault at all. But it does seem like for some reason the `MarkerAnnotation`s are not being removed.

[2015-09-12 18:23] jvasileff opened #1480 "Retrieving Fixes has encountered a problem"
[code]
log file:
[code]

[2015-09-12 18:43] #1480 closed

[2015-09-13 09:49] gavinking opened #1481 "remove parentheses quick fix"
We need a quickfix to remove the parens around an expression.

[2015-09-13 10:58] #1481 closed

[2015-09-13 10:58] gavinking commented on #1481
Done.

[2015-09-13 21:24] gavinking opened #1482 "autocompletion inside indirect arg lists"
Given:

    void fun(String s)(Integer i) {}
    (-17..17).fold(0)();

Putting my caret inside the `()` and trying to autocomplete gives me nothing useful.

(If there are no parens at all, I get something awesome and useful.)

[2015-09-13 21:48] #1482 closed

[2015-09-13 21:50] gavinking commented on #1482
Simple fix!

[2015-09-14 13:52] davidfestal commented on #1478
closing since synchronization is not necessary anymore when the *right* node is retrieved and used

[2015-09-14 13:55] davidfestal opened #1483 "Replace the uses of `CeylonBuilder.getFile()` by calls to the right specialized units"
mainly use `ModifiableSourceFile.getResourceFile()` or `ModifiablePhasedUnit.getResourceFile()`

[2015-09-14 14:29] gavinking commented on #1478
Cool! :-)

That's gotta be a good thing, right? More responsive, do you think?

Sent from my iPhone

[2015-09-14 14:32] davidfestal commented on #1478
yes, I think it's globally better, but exposed this old misuse of the original `getRootNode()` method, which was previously hidden by the unnecessary synchronization.

[2015-09-14 14:37] jpragey opened #1484 "Ceylon IDE doesn't compile"
Seems that plugin compilation failed for a while:
https://vietj.ci.cloudbees.com/job/ceylon-daily/
Is there any recent change on compilation process ?

[2015-09-14 14:51] davidfestal commented on #1484
Not in the last week afair. I'll have a look more deeply. Thanks for the report !

[2015-09-14 16:33] #1483 closed

[2015-09-14 20:57] jvasileff opened #1485 "Random ConcurrentModificationExceptions"
I get a fair number of these at various times:

[code]

[2015-09-15 13:24] davidfestal commented on #1484
Until now, specifying a dummy version in a `<add>` directive of the `overrides.xml` was accepted if a corresponding `<set>` override was also present inside the file, since the `<set>` is intended to override the version number of all the modules version that have this name.

However, such a case of a dummy version overridden by a `<set>` override, is not explicitly specified and tested. Indeed it

[2015-09-15 13:28] #1484 closed

[2015-09-16 12:00] FroMage opened #1486 "Indentation of function arguments"
When I have:

[code]

And I press `ENTER` where indicated, I would like this indentation:

[code]

That is, aligned with the method parameter list. Instead I get this:

[code]

Aligned with nothing in particular, and very confusing.

[2015-09-16 12:02] lucaswerkmeister commented on #1486
I don’t see how that’s aligned with anything.

[2015-09-16 12:03] FroMage opened #1487 "Auto reindentation of multi-line string literals"
When I have:

[code]

And I press `ENTER` right before the string, to indent it, I get:

[code]

Which is just wrong now. I _think_ we should do something about the rest of the multi-line string when changing its first line, no?

[2015-09-16 12:03] FroMage commented on #1486
Sorry, I aligned it manually using the GitHub editor which is not a fixed-width font. Hold on.

[2015-09-16 12:04] FroMage commented on #1486
Fixed.

[2015-09-16 12:40] quintesse commented on #1486
Well that's what *you* want, but I don't particularly like lining up things, especially when that results in enormous indents.

Although perhaps this could be made smart enough to follow the following rules:

 1. if you press enter after an argument, we line up the cursor with the first argument
 2. if you press enter after the opening bracket, we just do a double indent

[2015-09-16 14:30] gavinking commented on #1486
I think the formatter has settings for this kind of thing. I doubt it would be a good idea to try to make `AutoEdit` do this automatically.

@quintesse forget about trying to add any "smart" rules to `AutoEdit`. It is fundamentally stupid and has to be that way because anything "smart" would have to assume syntactically legal code which is of course a totally unreasonable assumption here. `AutoEdi

[2015-09-16 14:32] lucaswerkmeister commented on #1486
The formatter doesn’t do alignment, just indentation. So the formatter will produce:
[code]
The indentation depth (4 spaces, 2 spaces, 7 tabs) is adjustable, but the number of levels introduced by the parameter list isn’t.

[2015-09-17 03:24] jvasileff opened #1488 "quickfix for missing members creates erroneous constructor"
For classes with 1) missing members, and 2) a constructor, like:

[code]
the "Refine inherited formal members" quickfix results in an extra constructor:
[code]

[2015-09-17 08:34] gavinking commented on #1438
This problem seems to have disappeared, though I was still experiencing it just a few days ago. I will close it for now, and reopen it if it reoccurs.

[2015-09-17 08:34] #1438 closed

[2015-09-17 13:35] davidfestal commented on #1478
That's not as simple as it seems, since some context require both an AST that is :
- up-to-date with source code (the very last parsed AST)
- fully-typechecked.

Previously we were always returning the very last AST, but sometimes it was not fully typechecked
Now we are returning the last typechecked AST, but it might be slightly inconsistent with the source.

This might have impacts on Refactorin

[2015-09-17 14:21] FroMage commented on #1486
I'm fine if it's an option, but yeah, I really want alignment, ATM I have to always do this manually and it sucks. The alternative of just indenting a random level is pretty much always wrong, even when the name of the method you're calling is smaller than the indent level, which would place the remaining arguments _after_ the alignment of your method. I don't see how this can be desired.

[2015-09-17 16:37] jpragey opened #1489 "How do you specify --javac=-target=8 ?"
Hi,
When you call a java 8 static interface method from ceylon, you get an error:

[code]

It's easy to add it in shell, but how do you do it in eclipse?

[2015-09-17 19:33] davidfestal opened #1490 "NPE in the construction of the Refactoring Menu"
The NPE was triggered when calling the constructor of `ExtractParameterRefactoring`, when the workspace is just opened and no file has been successfully parsed and typechecked by the parse controller.

[2015-09-17 19:37] #1490 closed

[2015-09-17 19:39] davidfestal commented on #1485
it should be fixed now.
please @jvasileff could you confirm this is fixed also for you, and, if not, reopen the issue ?

[2015-09-17 19:39] #1485 closed

[2015-09-17 21:44] jvasileff commented on #1485
Great, thanks @davidfestal! I'll let you know if I see it again.

[2015-09-18 08:27] davidfestal commented on #1478
Let me summarize what we have now :

- the `CPC.getLastCompilationUnit()` (used *by default* where `getRootNode()` was used previously) returns the compilation unit of the __*last typechecked `PhasedUnit`*__, which is *not necessarily* the last parsed AST (=> possibly not consistent with the document source code).

- the `getParsedRootNode()` always returns the __*most recently parsed AST*__ (=> a

[2015-09-18 08:55] gavinking commented on #1478
Well we have the following general areas to consider:

- navigation (from the source code, from Java code, from outlines, and from the hierarchy view)
- searching (various flavors of Find, and the Search page)
- refactorings
- quick fixes / assists
- Organize Imports
- The module properties page

I'm not sure what you would say about navigation and searching. Perhaps it's OK to return out-of-date

[2015-09-18 08:57] davidfestal commented on #1478
@gavinking : yes, very much. Thanks ! I'm currently having a deeper look at quickFixes.

[2015-09-18 09:00] davidfestal commented on #1478
As for navigation and searching : yes, I assume it's OK to return out-of-date locations. Indeed it's a case that doesn't happen easily : start a long build, fully change you current source file, and explicitely search something inside your current source file ...

It seems to me that for the moment we can keep it like it is, and let experience speak when we have played with it a bit more in real c

[2015-09-18 09:28] gavinking commented on #1478
I agree.

[2015-09-18 09:43] davidfestal commented on #1478
@gavinking : so now :

- For quickFixes, we use either the editor up-to-date root node only if fully typechecked, or the root node of the central model element if it exists.

- For QuickAssists, we always use the editor up-to-date root node only if fully typechecked.

[2015-09-18 10:59] gavinking commented on #1478
WDYM? What does "full typechecked" mean in this case?

[2015-09-18 11:14] davidfestal commented on #1478
it means that the CPC typechecking has be run until its end on it. So it's fully decorated with model elements and types

[2015-09-18 11:19] gavinking commented on #1478
@davidfestal OK, but we don't need to wait for the build to finish?

[2015-09-18 11:21] davidfestal commented on #1478
no.

Simply the actions that require such a consistent rootNode (consistent with  the editor source code and decorated with a consistent typechecked model), won't be proposed if it's not available (when `getTypecheckedRootNode()` returns null.

[2015-09-18 11:22] davidfestal commented on #1478
So it's not blocking, but respecting the concurrency constraints afaik.

[2015-09-18 13:42] bjansen opened #1491 "Allow attaching Java sources from a folder instead of an archive"
I would like to be able to attach sources from an exploded directory instead of a `.src` archive. It would be useful when we import Java modules for which we don't have sources in a single archive.

For example, IntelliJ dependencies consist of multiple JARs for which there's no source archive, only a git repository. Currently, I'm unable to have proper documentation or "go to declaration" when I

[2015-09-18 14:33] bjansen opened #1492 "Use CeylonIdeConfig for some settings"
I recently added `CeylonIdeConfig` in ceylon-ide-common, which is intended to store IDE-specific settings for:

- the java2ceylon converter
- project settings (compile for the JVM or to JS, etc)
- possibly other things in the future

Those settings will be shared between both IDEs, so in the future we may even integrate other settings from `Preferences > Ceylon`.

At the moment, the converter sett

[2015-09-18 15:34] FroMage opened #1493 "Use only one cleanup thread"
We should be able to use only a single one of these:

[code]

Rather than the ten I have on my IDE.

[2015-09-18 15:50] gavinking commented on #1493
We don't start our own threads.

[2015-09-18 16:08] davidfestal commented on #1493
@gavinking : we do here, but in a very controlled way and for a very specific and internal purpose. Note that :
- these are deamon threads
- these threads will stop as soon as the related `ModuleDependencies` object is garbage collected, so will be in turn eligible to garbage collection.

Afaik these threads get correctly cleaned (ie don't constantly increase, clean build after clean build).

Of c

[2015-09-18 16:11] gavinking commented on #1493
Oh, ok.

[2015-09-18 20:41] davidfestal commented on #1478
@gavinking : In this last commit I tried to choose the best CPC `rootNode` getter, for each remaining call to `CPC.getLastCompilationUnit()`, taking in account its specific use-cases.

The result seems quite OK for me, but of course, your remarks will help tweaking specific cases if necessary.

For the moment let me close the issue, since it's mainly done.

If you encounter anything you want to be

[2015-09-18 20:41] #1478 closed

[2015-09-18 20:47] gavinking commented on #1478
Cool.

[2015-09-18 21:10] sgalles opened #1494 "unjustified encoding error during rename refactoring with encoding CP1252"
First, this is minor because the workaround is simply to switch to UTF-8 instead of CP1252. But CP1252 is the default for an Eclipse project on Windows.

To reproduce :
* Set your Ceylon project encoding to CP1252
* Then create this class

[code]
And try to inline rename (`Shift+Alt+R`) the class parameter `simpleName` to `simpleName2`

You get

![encoding](https://cloud.githubusercontent.com/asse

[2015-09-18 22:13] #1488 closed

[2015-09-18 22:13] gavinking commented on #1488
Fixed.

[2015-09-18 22:25] gavinking commented on #1494
This is because it is trying to edit a class file in the `.exploded` directory: `L/project/.exploded/Location.class`

[2015-09-18 22:41] #1494 closed

[2015-09-18 22:41] gavinking commented on #1494
@sgalles should be fixed now, please check it for me.

[2015-09-18 22:56] gavinking commented on #1479
This problem appears to have resolved itself.

[2015-09-18 22:56] #1479 closed

[2015-09-18 22:57] gavinking opened #1495 "ceylon tests often don't seem to show up in the Ceylon Test view"
There seems to be a problem where you can run tests but the results don't show up in the view.

[2015-09-18 23:02] gavinking commented on #1321
I can't reproduce this, and given that this problem was reported back in April, I'll assumed it's fixed.

@sgalles please confirm. Thanks.

[2015-09-19 00:15] lukedegruchy commented on #1321
Still failing for me.   I just pulled from github tonight using the new procedures to build the IDE.

The Ceylon file for the unit test is the same as the one in the bug description.

If I right-click on the package with the unit test, I see only the following in the console but no green or red line in the Ceylon Test panel:

[code]

However, if I right-click on the ceylon file for the unit test,

[2015-09-19 01:17] gavinking commented on #1351
Done.

[2015-09-19 01:17] #1351 closed

[2015-09-19 01:19] gavinking commented on #1321
Well that's a totally separate issue (#1495).

[2015-09-19 01:21] gavinking commented on #1321
Wait. Your `testMe()` method isn't `shared`.

[2015-09-19 01:22] gavinking commented on #1321
OK, so now I _can_ reproduce it, if the test method is un-`shared`.

[2015-09-19 01:26] gavinking commented on #1321
I have changed the issue description to properly reflect the problem. @chochos @thradec could you guys decide what is the right thing to do here, please? Are `test` functions supposed to be `shared`? If not, that's probably a problem for JS.

Whatever, it's _definitely not OK_ that we get runtime failures like this:

[code]

I mean, wtf is `mm.t`?

[2015-09-19 01:28] lukedegruchy commented on #1495
I've tried running several tests, both by right clicking the package or Ceylon file in Ceylon Explorer and right-clicking within the editor Window and I don't see anything in the Ceylon Test View.

[2015-09-19 03:17] chochos commented on #1321
No, test methods don't have to be shared. Actually the unshared test method runs fine with `ceylon test-js` on CLI, so this is probably related to some outdated module in the IDE (either the language module, or `ceylon.test` or something)

[2015-09-19 03:17] chochos commented on #1321
did the test API change? If it did, was it updated on the IDE for JS?

[2015-09-19 03:52] sgalles commented on #1321
I assume that was for @lukedegruchy obviously

[2015-09-19 04:05] sgalles commented on #1494
Yes @gavinking it works now.

[2015-09-19 08:17] quintesse commented on #1351
Nice! thanks!

[2015-09-19 08:26] gavinking commented on #1494
Great, thanks for finding this one!

[2015-09-19 08:28] gavinking commented on #1321
Yes, of course. Sorry.

[2015-09-19 09:49] davidfestal commented on #1477
@gavinking : it's fixed, at least I think so, as for the fact that the name of Declaration can be null.
Can you confirm this fixed your problem ?

[2015-09-19 10:28] gavinking commented on #1477
Well, since I don't have any particular way I know to reproduce this, let's just close it. Thanks!

[2015-09-19 10:28] #1477 closed

[2015-09-19 12:23] davidfestal commented on #1444
@jvasileff  : Are you sure this till happens with a just-built-by-maven IDE reinstalled in your main Eclipse ? Please make sure that, when installing, you update the IDE features, but also the features of the Runtime Dependencies  category.

[2015-09-19 12:46] lukedegruchy opened #1496 "Support syntax coloring options as rich as Java's"
This is obviously not indented for 1.2 and is a feature request.

In Eclipse go to Preferences > Java > Editor > Syntax Coloring

There you will find a rich set of options for syntax colouring for Java.

Examples:

* Unique colour for the return keyword
* Unique colour for local variables
* Unique colour for method parameters (separate from local variables)

etc...

Currently the options under Cey

[2015-09-19 12:53] gavinking commented on #1496
One thing you need to keep in mind is that a lot of those syntax highlighting options depend upon having fully typechecked source. Now, typechecking is an asynchronous process which is kicked off after a delay. Which means that sometimes you can see the color/style of a token change. This problem would be much worse in the Ceylon editor because our typechecker is slower than Java's.

So currently

[2015-09-19 12:55] gavinking commented on #1496
Actually that's nonsense. This is one of the things that would require typechecking.

[2015-09-19 12:58] lukedegruchy commented on #1496
I'm guessing distinguishing between local variables and function params would be similarly difficult.

Is this something that could be supported much longer term, such as well beyond 1.3?

[2015-09-19 13:41] gavinking commented on #1459
So it seems to me that `CompileErrorReporter.setupMarker()` is being called when it should not be.

[2015-09-19 13:45] gavinking commented on #1459
And that's because the `Diagnostic` we're being sent has the wrong line number.

[2015-09-19 13:48] gavinking commented on #1459
OK, it's because `AnalysisMessage.getLine()` does not call `getIdentifyingNode()`.

[2015-09-19 13:53] #1459 closed

[2015-09-19 13:53] gavinking commented on #1459
Fixed.

[2015-09-19 14:43] jvasileff commented on #1444
As far as I know, I always update everything. I just reproduced this (first try) on two computers. It may help to try on a new project. Note that after several tries, I *can* create new profiles, and the formatter does work.

I'll post a few more artifacts:

1) Computer 1 installation summary
2) Computer 2 installation summary
3) An error log. I didn't notice before, but there are a few different

[2015-09-19 14:43] jvasileff commented on #1444
<img width="939" alt="screen shot 2015-09-19 at 10 27 29 am" src="https://cloud.githubusercontent.com/assets/236050/9976749/3b0f1ec8-5ebb-11e5-8020-cf73bc1de406.png">
<img width="832" alt="screen shot 2015-09-19 at 10 31 50 am" src="https://cloud.githubusercontent.com/assets/236050/9976750/3f09217c-5ebb-11e5-9527-2845afb838b5.png">

[2015-09-19 14:46] jvasileff commented on #1444
[code]

[2015-09-19 18:29] bjansen opened #1497 "Typechecker errors are removed when using native("js")"
I created a new project, enabled both "Compile for JVM" and "Compile for Javascript", then created two modules:

- one is annotated `native("js")`
- one is annotated `native("jvm")`

In the JS module, typechecker errors are not reported. This leads to the JS backend being invoked, and the compilation succeeds: I can run my code in the browser although the Ceylon code is incorrect. This only happen

[2015-09-19 18:33] gavinking commented on #1497
To be clear, the critical part of this is that when you annotate a module `native("js")`, some typechecker errors never get reported.

It is _not_ necessary to (a) enable the JVM compiler, nor (b) have a second `native("jvm")` module to observe this. The problem is completely in the JS side.

[2015-09-19 18:33] gavinking commented on #1497
@quintesse this is for you.

[2015-09-21 19:59] #1491 closed

[2015-09-22 08:41] davidfestal commented on #1491
@gavinking , @bjansen :

So let me tell some more about that issue :

- I've made it a high-priority issue, and fixed it because it will be a great help in the IDE development (common,eclipse, intelliJ).

- In the `.ceylon/ide-config` , in the `project` section, we have a new option named `source-attachments` : it defines the path (relative to the project location) of a properties file we use to d

[2015-09-22 10:58] gavinking opened #1498 "boxing code not being filtered in debugger"
[code]

Stepping into the only line of code here takes me to `ceylon.language.String.instance()`.

[2015-09-22 14:18] bjansen opened #1499 ""Shadow reference" quick fix generates wrong selection"
Given the following code:

[code]

If I call "Shadow reference inside control structure" on `abc`, it will assign a new value named `string`, but will select the first character only (`s`). It would be more convenient to select the whole identifier to be able to rename it quickly.

![image](https://cloud.githubusercontent.com/assets/281528/10020876/6cc4be46-6145-11e5-84b3-045bed760305.png)

[2015-09-22 14:24] bjansen opened #1500 "Anonymous constructor shown as 'null' in quick fix"
Create an anonymous constructor with a formal parameter:

[code]

The quick fix will suggest

instead of

![image](https://cloud.githubusercontent.com/assets/281528/10020995/14496798-6146-11e5-9cd5-589d568fafac.png)

[2015-09-22 14:58] gavinking commented on #1491
That doesn't sound quite right: can't it just watch for changes to the `.properties` file via the resources API?

[2015-09-22 15:16] #1499 closed

[2015-09-22 15:16] gavinking commented on #1499
Fixed.

[2015-09-23 13:19] FroMage opened #1501 "Editing the language module is super slow"
At first it's fast enough, but after a few hours/days it takes 2 seconds per character typed and just hangs a lot, and blocks the whole editor, I can't even move the cursor while it's locked. Nothing shows up in the progress window.

[2015-09-23 14:31] #1465 closed

[2015-09-23 14:50] davidfestal commented on #1465
@gavinking , @bjansen :

I did this now (in priority) since that will make the IDE-related development  & debugging (for Eclipse *and* IntelliJ) *much easier*.

Let me explain the changes.

For the following types of `Debug Configuration`, I added an _alternate_ __*Ceylon-aware*__ launcher that we can use instead of the default one, in order to have the debugger correctly open the Ceylon Editor fo

[2015-09-23 14:56] davidfestal commented on #1465
And FTR it was a pleasure to use Ceylon mixins to apply the same transverse feature to all these existing launchers. See :
https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.eclipse.ui/source/com/redhat/ceylon/eclipse/core/launch/CeylonAwareLaunchConfiguration.ceylon
and
https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.eclipse.ui/so

[2015-09-23 15:03] gavinking commented on #1465
OK, so that's nice, but how is an _actual user_ supposed to find this feature? :-)

[2015-09-23 15:08] davidfestal commented on #1465
When you create a new launch configuration of one of these types, if you don't have *previously* setup default launchers yourself in the workspace preferences, you will have to *explicitly* select the launcher you want to use. So the user *will* see the feature normally (unless he already has alternate launcher for these configuration types with already selected default, which is not very probable

[2015-09-23 15:10] gavinking commented on #1465
OK.

On Wed, Sep 23, 2015 at 5:08 PM, David Festal <notifications@github.com>
wrote:

--
Gavin King
gavin@ceylon-lang.org
http://profiles.google.com/gavin.king
http://ceylon-lang.org
http://hibernate.org
http://seamframework.org

[2015-09-24 09:36] davidfestal opened #1502 "Opening a source archive file of a referenced Ceylon project doesn't bring to the original project source"
This leads to various sorts of problems, especially when debugging.

[2015-09-24 13:32] davidfestal opened #1503 "Breakpoints in source archives broken"
We don't stop anymore in breakpoints added inside source archives

[2015-09-24 13:36] #1502 closed

[2015-09-24 13:36] #1503 closed

[2015-09-24 14:05] davidfestal commented on #1498
I don't succeed in reproducing this with the exact same code :-(

[2015-09-24 14:06] davidfestal commented on #1498
I can't step into `String.instance()` by any mean...

[2015-09-24 14:53] davidfestal commented on #1498
You might debug it by adding a breakpoint in `DebugUtils.isCeylonGeneratedMethodToSkipCompletely()`
and look at what it does here
and if it doesn't stop here, just put a breakpoint on `com.redhat.ceylon.eclipse.core.debug.model.CeylonJDIThread.newStepIntoHandler().new StepIntoHandler() {...}.locationIsFiltered(Method)`

[2015-09-24 14:59] davidfestal commented on #1454
@FroMage : This should be OK now. Do you confirm that the behavior has disappeared on your side ?

[2015-09-24 15:19] davidfestal commented on #1444
@jvasileff : did you try on a fully new / clean installation / new workspace, with the last plugins (from Maven) installed ?
It might be an old OSGI plugin remaining in the installation / workspace.

[2015-09-24 15:25] jvasileff commented on #1444
I haven't gone as far as redownloading Eclipse, but everything should be update. And everything else works, including the steps in this issue itself once all of the exceptions have been cycled through.

Have you not been able to reproduce this? I guess if I'm the only one it must be a problem on my end and it can be closed.

[2015-09-24 15:30] davidfestal commented on #1491
@gavinking : I agree that a change to the properties file could be detected automatically.
However, the `Reset Resource Attachments` has a broader use than reloading the properties file. More precisely, this action also allows reloading source archives of CAR or Maven archives (in case the source were added on the disk) without having to restart Eclipse.

[2015-09-24 15:31] davidfestal commented on #1444
No, I've not been able for the moment

[2015-09-24 22:11] jvasileff commented on #1444
Ok @davidfestal, with a brand new Eclipse Mars download, a freshly compiled Ceylon plugin with all options checked, and a new workspace and project, it still happens.

![screen shot 2015-09-24 at 6 04 55 pm](https://cloud.githubusercontent.com/assets/236050/10088219/4be13e86-62e7-11e5-9d26-e24254479afc.png)
![screen shot 2015-09-24 at 6 06 54 pm](https://cloud.githubusercontent.com/assets/236050/1

[2015-09-25 09:59] davidfestal commented on #1400
Indeed the problem in the IDE is that, despite the change made in fixing issue ceylon/ceylon-compiler#1882, the CeylonIDE build still turns `java.base 7` dependencies into `java.base 8` as soon as Eclipse is running under Java 8.

This is related to the fact that the Eclipse plugin Ceylon build *reuses* the typechecker model. And in the IDE typechecker model lifecycle, the JDK modules are loaded i

[2015-09-25 10:24] davidfestal commented on #1400
So now the IDE Ceylon build doesn't generate v8 imports for original v7 imports anymore.

@tombentley, @thradec : do you confirm that this also fixes the original issue ?

[2015-09-25 10:25] davidfestal commented on #1498
@gavinking : may I assign it to you then ?

[2015-09-25 10:30] davidfestal commented on #1463
@bjansen : could you reproduce that and give me a more complete stacktrace, that allows understanding if it is looping recursively ?

[2015-09-25 11:35] bjansen commented on #1463
The stack trace *is* complete, it's repeating this over and over:

[code]

(except the line numbers have changed since I opened the issue, those should be up-to-date).

[2015-09-25 13:47] davidfestal commented on #1444
@jvasileff : I'm still enable to reproduce this issue.
Don't know what to do ...

[2015-09-25 15:15] bjansen commented on #1463
OK, it seems that this involves a recursive algorithm that eventually does finish, but it grows the stack so much that when it calls methods from the Eclipse SDK, the JVM kills it.

@gavinking do you know if this algorithm could be improved? Even if I raised the maximum stack size in eclipse.ini, the quick fix would still be *very* slow to execute. The interfaces I am satisfying don't have that mu

[2015-09-25 17:05] gavinking commented on #1463
@bjansen `AbstractModelLoader` has nothing to do with me and I don't know any of those methods on the stack.

What is the quick fix code itself trying to do?

[2015-09-25 17:27] bjansen commented on #1463
`RefineFormalMembersProposal` basically operates in two steps:

- first, it calls code completion in the child class' body (`ci`), and for each proposal `d`, it adds a refinement if:
[code]
- then it loops over `ci.getSupertypeDeclarations()`, and adds a refinement for each `shared` member in this supertype if it wasn't already added in the first step

Now, I'm not really sure why the first step e

[2015-09-25 17:46] gavinking commented on #1463
@bjansen I guess there are two steps because there are two kinds of things we need to refine:

- inherited `formal`s
- ambiguous inherited non-`formal`s.

[2015-09-25 18:21] jvasileff commented on #1444
Ok, weird. Maybe it just makes sense to wait until this comes up somewhere else.

FTR, heres the repro steps in video form: https://www.dropbox.com/s/a6qnufpus7v3z4k/bug-1444.m4v?dl=0

[2015-09-25 21:34] gavinking commented on #1463
So I have been testing this out and on my box I don't experience any stack overflows. What I did notice is that the very first time I ran the quick fix, it was quite slow to apply the fix (like about a second), but after that it was very fast.

I attribute this time lag to model loading.

[2015-09-25 22:10] gavinking commented on #1463
@bjansen commit @fcc9564 seems to have _massively_ enhanced the performance of this quick fix. My guess is that this issue is now fixed. Could you confirm? Thanks.

[2015-09-26 00:12] gavinking commented on #1498
`DebugUtils.isCeylonGeneratedMethodToSkipCompletely()` returns true.

[2015-09-26 00:17] gavinking commented on #1498
Wait. Something has changed. @davidfestal did you touch something? Suddenly I don't get any visible stack filtering at all. Before I did (i.e. I had some greyed-out stack frames).

[2015-09-26 00:31] gavinking commented on #1498
@davidfestal so it seems `locationIsFiltered()` is never called&mdash;indeed `DebugUtils.isMethodFiltered()` is never called.

[2015-09-26 07:38] davidfestal commented on #1498
@gavinking : no I didn't touch anything in this area afaik.

[2015-09-26 09:40] bjansen commented on #1463
I did some before/after timing, here are the results:

- case 1 in `ceylon-ide-eclipse`, I added a class that `satisfies ICompletionProposal`, which should end up with 6 methods being refined
  * before: 25s
  * after: completed immediately
- case 2 in `ceylon-ide-intellij`, I added a class that `satisfies InsertHandler<LookupElement>`, which should end up with a single method being refined
  * be

[2015-09-26 09:40] #1463 closed

[2015-09-26 10:00] gavinking commented on #1463
Well, no, I'm assuming that for completion, the logic in `IdeCompletionManager.getProposals()` is necessary and correct. That's not to say, of course, that there aren't plenty of performance optimizations we could make to completion. But someone would need to actually take the time to profile it and see what's expensive. We've never done any of that.

[2015-09-26 21:14] sgalles opened #1504 "incremental compilation Java/Ceylon undetected change"
Start with this Ceylon code
[code]
and this Java code
[code]
execute the `run` method in Eclipse. It works.

Now change the return type of method `bar` from `Object` to `String`
like this
[code]
then execute `run` again, you get
[code]
now clean the project, execute `run` again, it works

[2015-09-27 11:01] ASzc opened #1505 "Incremental compilation of SDK includes unchanged modules"
I'm using `Eclipse Mars 4.5.0` with `Ceylon IDE 1.1.1.v20150721-1337-Final`.

When I save any change (even just a whitespace change) to a [ceylon.net.http.client](https://github.com/ASzc/ceylon-sdk/tree/http-rewrite/source/ceylon/net/http/client) source file in the SDK project, and then save it, a long (>10 seconds) compilation step follows. This appears in the Progress tab, and will block subsequ

[2015-09-28 09:29] #1500 closed

[2015-09-28 09:29] gavinking commented on #1500
Fixed.

[2015-09-28 10:02] #1207 closed

[2015-09-28 10:02] gavinking commented on #1207
I did most of the work on this earlier. I've just finished it off today.

[2015-09-28 10:04] gavinking opened #1506 "assign constructor parameter to field"
Would be nice to have a quick assist to add an assignment from a constructor parameter to a field of a class, either:

- by matching the name of an existing field, or
- creating a new field otherwise.

[2015-09-28 22:10] lucaswerkmeister opened #1507 "Test comparison window uses wrong encoding"
In the `ceylon.test` comparison window, all my `’`s (U+2019 RIGHT SINGLE QUOTATION MARK) look like this: `â` (![screenshot from 2015-09-28 19-12-05](https://cloud.githubusercontent.com/assets/2346599/10142764/d9f2915e-6614-11e5-8876-0974634d7a91.png)). This is what you get if you interpret UTF-8 ’ (e2 80 99) as ISO 8859-1 (e2 is â, 80 and 99 are unassigned). I’m not sure why the test window chos

[2015-09-29 08:22] bjansen opened #1508 "Code completion performance issues in ceylon-ide-intellij"
The first time completion is called, these two hotspots can be seen in yourkit:

* a [call to `org.eclipse.jdt.internal.core.JavaElement.exists()`](https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.eclipse.ui/src/com/redhat/ceylon/eclipse/core/model/JDTModelLoader.java#L376) takes ~ 40% of the total time
* a [call to `org.eclipse.jdt.internal.core.ClassFile.getBina

[2015-09-29 10:19] gavinking commented on #1508
@bjansen what happens if you change lines 231 and 232 of `Package` to:

[code]

[2015-09-29 10:40] gavinking commented on #1508
And what happens if we change `Declaration.equals()` to reverse the order of comparisons:

[code]

[2015-09-29 11:11] gavinking commented on #1508
@bjansen I pushed that change to `ceylon-model`. Can you try it out please?

[2015-09-29 11:11] bjansen commented on #1508
Reversing the order of comparisons seems to just move the bottleneck, because now 28% of the time is spent here:

    String thisName = getName();

[2015-09-29 11:11] gavinking commented on #1501
Is this seriously for 1.2, @davidfestal?

[2015-09-29 11:31] bjansen commented on #1508
As for

[code]

It seems that getQualifiedNameString() isn't that efficient:

![image](https://cloud.githubusercontent.com/assets/281528/10162828/555c7866-66ae-11e5-8419-059610227ae5.png)

[2015-09-29 11:33] gavinking commented on #1508
OK, cool, thanks, was a question I always had.

[2015-09-29 11:34] gavinking commented on #1508
@bjansen And if you try this:

            String thisName = name;
            String thatName = that.name;

avoiding the getter?

[2015-09-29 11:34] bjansen commented on #1508
Oh wait, this might explain a few things...

![image](https://cloud.githubusercontent.com/assets/281528/10162886/c921db38-66ae-11e5-848e-ed844cc204e1.png)

(actual count for a single invocation to code completion)

[2015-09-29 11:36] gavinking commented on #1508
@bjansen well the model caches the `qualifiedNameString`. That should be something that costs only the *first* time...

[2015-09-29 11:37] gavinking commented on #1508
Another question: `TreeMap` stuff is getting called *a lot*. What happens if you change to use `HashMap`s in the model?

[2015-09-29 11:40] bjansen commented on #1508
Even with cache, it's called nearly a *billion* times!

[2015-09-29 11:42] gavinking commented on #1508
Who calls it?

[2015-09-29 11:44] bjansen commented on #1508
I don't have the call stacks when I count invocations.

[2015-09-29 11:45] davidfestal commented on #1501
I'm surely not against pushing it towards 1.3, if @FroMage agrees.

[2015-09-29 11:46] davidfestal commented on #1501
since editing ceylon code in a non-ceylon project is *not* a standard use.

[2015-09-29 11:47] gavinking commented on #1501
Exactly.

[2015-09-29 11:48] gavinking commented on #1508
Something that is total rubbish here is that all the `LazyXxxx` classes override `getQualifiedName()` and just call `super`. Apparently in order to add a comment. That's crazy.

[2015-09-29 13:30] tombentley opened #1509 "Paste into string without imports"
If I paste ceylon code into a `doc` string (or indeed any other string, or I suppose a comment) then I expect the editor to be clever enough to know not to add stuff to the compilation unit's `import`s.

[2015-09-29 16:07] gavinking commented on #1509
Well looking at the code it's already supposed to do this...

[2015-09-29 16:10] gavinking commented on #1509
@tombentley is this bug specific to _verbatim strings_, perhaps?

[2015-09-29 16:13] tombentley commented on #1509
Weird, I wonder why it didn't work for me then.

[2015-09-29 16:14] tombentley commented on #1509
Yes, it was a verbatim string.

[2015-09-29 16:19] gavinking commented on #1509
OK. Easy to fix then.

[2015-09-29 16:43] #1509 closed

[2015-09-29 16:44] gavinking commented on #1509
Fixed, along with some other bugs relating to verbatim strings.

[2015-09-30 08:27] tombentley commented on #1509
Thanks

[2015-09-30 11:09] tombentley opened #1510 "Annoying paste into verbatim string"
If I have a verbatim string and want to paste something into it that is already indented with spaces then the first three spaces of that indentation gets removed by the pasting.

This is particularly annoying with doc strings and code (which is often indented by a multiple of 4 spaces, and is often pasted into doc strings), because suddenly my code is indented by {1, 5, 9} spaces with respect to t

[2015-09-30 17:14] gavinking opened #1511 "NPE for Ceylon project with no backend"
@davidfestal please fix this:

[code]

[2015-10-01 08:51] gavinking commented on #1505
@davidfestal it's possible that there is something very broken with incremental compilation right now. _Changing whitespace_ in a toplevel class in one unit, that is not used _anywhere_ seems to result in compilation of other toplevel declarations in the same module.

That can't be right. Could you take a look please?

[2015-10-01 09:14] davidfestal commented on #1505
@gavinking : yes, I'll have a look as soon as I've pushed to a branch my current changes that I need to leave in a consistent state.

[2015-10-01 09:16] gavinking commented on #1505
Thanks.

[2015-10-01 13:18] gavinking opened #1512 "invert if *expression* quick fix"
We have this for statements. We need it for expressions.

[2015-10-02 16:55] jvasileff opened #1513 "Missing key bindings for "Open Declaration""
I'm often missing the option for "Open Declaration" (⌘⇧T), and have to switch my workspace to some non-Ceylon perspective and then switch it back to restore the feature.

I began noticing this immediately after I started using "Open Declaration" a month or so ago when the performance improved.

It's possible that this issue is specific to my installation since I also have the Dart plugin installed

[2015-10-02 16:57] jvasileff commented on #1513
I just noticed conflicts with Java, which has:

* "Open Declaration..." - f3
* "Open Type..." - ⌘⇧T

[2015-10-02 19:24] gavinking commented on #1513
You just have to click inside an editor, and you will get the shortcut back. This happens in the Java perspective too, AFAIK.

There aren't any conflicts; these key bindings are scoped to the perspective.

[2015-10-02 19:30] jvasileff commented on #1513
Per gitter chat, this is an Eclipse bug. Closing.

[2015-10-02 19:30] #1513 closed

[2015-10-03 00:44] quintesse opened #1514 "JS warnings not showing up in the IDE"
If I have the following code in the IDE in a project that compiles to both the JVM and JS:

[code]

I get the expected single warning in the JVM code in the IDE and on the command line.
But for the JS code I don't get anything. The CLI JS compiler does work correctly though.

Is error handling done differently for the IDE perhaps?

[2015-10-03 02:33] lukedegruchy opened #1515 "JavaScript-only project compile error on dynamic variable or block "Type dynamic is not supported on the JVM""
1) Create a new Ceylon project
2) Project Properties > Ceylon Build > Check "Compile Project for JavaScript" and Uncheck "Compile Project for JVM"
3) Create a ceylon file with the following code:

[code]

Compile error:

Type dynamic is not supported on the JVM

The same project with the same file compiles with Ceylon IDE 1.1.

[2015-10-03 06:39] sgalles commented on #1504
On second thought, isn't this issue a dup of https://github.com/ceylon/ceylon-compiler/issues/470 ?

[2015-10-03 08:18] quintesse commented on #1515
I'm wondering if this issue and #1514 have the same common cause: perhaps the IDE isn't correctly telling the typechecker which backends it supports.

[2015-10-03 09:24] gavinking commented on #1515
Well, are you sure, @quintesse, isn't this how you set it up? I have to explicitly mark a module as `native("js")` or I won't be able to use `dynamic`. I don't really agree with that behavior, but as far as I understand it, that's what you intended...

[2015-10-03 12:18] quintesse commented on #1515
No, just look at the CLI JS compiler which has no problem compiling that code.
Besides that error only appears when the JVM backend is enabled, so the fact that you even see it is a very strong indication that the JVM backend is enabled, or at least that's what the typechecker thinks.

[2015-10-03 20:55] lucaswerkmeister commented on #1001
I actually like them this way, it’s still readable for me.

There’s one other thing which is irritating, though:
![screenshot from 2015-10-03 22-53-14](https://cloud.githubusercontent.com/assets/2346599/10265080/b90173aa-6a21-11e5-8be3-e1875dd91e25.png)
Highlighted elements and lines are still bright, which can be fairly jarring since it can happen on any click – flash!

[2015-10-03 21:51] sgalles opened #1516 "`clean` does not clean `module-resources`"
When a resource is added in directory `resource` and then removed, it is never removed from `modules\foo\1.0.0\module-resources` even after a `clean` of the project

[2015-10-03 22:38] gavinking commented on #1001
@klinger that's fixed now&mdash;stupid mistake on my part.

Both Dark/Default and Dark/Ceylon Dark Alt seem to be working for me now.

[2015-10-03 22:47] gavinking commented on #1001
This seems to be working well enough, so I'm finally closing this issue.

[2015-10-03 22:47] #1001 closed

[2015-10-03 23:33] gavinking opened #1517 ""Setting up typechecker" phase hangs and can't be cancelled"
OK, this is just incredibly painful. If the "Setting up typechecker" job hangs while trying to retrieve a dependency:

- the build it can't be canceled,
- the job holds a hard lock on the whole project

What this means is that I have to stop the whole process to recover from this.

This is especially bad b/c recently I've been getting hands pretty regularly here. We need to fix it.

[2015-10-03 23:38] gavinking commented on #1517
I mean the freaking thing hangs while "resolving module ceylon.language/1.1.1" and can't be cancelled. What a mess.

[2015-10-04 00:00] gavinking commented on #1517
Yeah, great, so I have a workspace that is out of date with the FS. And every time I try to Refresh, the resulting build hangs at "resolving module ceylon.language/1.1.1" and I have to restart Eclipse. Awesome.

[2015-10-04 01:04] gavinking commented on #1517
FTR: I resolved this by disabling the backends, which eliminated the hang.

[2015-10-04 15:37] gavinking opened #1518 "autocompletion hangs"
To reproduce:

1. Open `Java-to-Ceylon-Converter` project in Eclipse
2. Open `run.ceylon` and put your caret somewhere in the `convert()` function.
3. Type `Java8Parser.`, open the autocompletion window, and try to autocomplete one of the static inner classes.
4. Go fetch coffee.

[2015-10-04 20:17] #1512 closed

[2015-10-04 20:17] gavinking commented on #1512
Done.

[2015-10-05 08:33] davidfestal commented on #1505
@gavinking : this might be related to car archives being not fully generated because of some error in the code encountered by the compiler backend. Inside the IDE we keep track of all binary files that should have been generated by the backend inside the Car archives, but have *not*.
And we include all the related source files in the next incremental build. This is a strong requirement for the con

[2015-10-05 08:47] gavinking commented on #1505
@davidfestal I don't see how that can possibly be the explanation. I don't have any failed compilation markers or other errors.

Look, just turn on "code" logging and you will see all the unnecessary activity.

[2015-10-05 11:55] #1399 closed

[2015-10-05 11:56] gavinking commented on #1399
Done! Note even very difficult :-)

[2015-10-05 20:07] lukedegruchy opened #1519 "shared unit test Run As > Ceylon Test Java Script does nothing"
1) Create an Eclipse project that supports Java and JavaScript
2) Write a very simple unit test

[code]
3) Click on either the Ceylon file or the package folder.
4) Run As > Ceylon Test  (will succeed in showing results in the Ceylon Test View)
5) Run As > Ceylon Test JavaScript

Fails to show anything in the Ceylon Test View

Only outputs this at the console:

[code]

[2015-10-05 20:20] #1404 closed

[2015-10-05 20:21] gavinking commented on #1404
Yay, finally fixed!

@bjansen + @davidfestal note that this code needs to be ported to Ceylon!

[2015-10-05 21:36] gavinking commented on #1506
Substantially done :-)

[2015-10-05 23:07] quintesse commented on #1495
Ok, so this is how I can reproduce this behaviour without fail:

 - make sure you don't have any "Ceylon Test" tab open on your workspace
 - exit and restart Eclipse
 - right click on any Ceylon module containing tests and select "Ceylon Test"

What happens then is:

 - A "Ceylon Test" tab will open
 - Tests will run but no output will appear

Even stranger is that when I try to rerun the test by

[2015-10-05 23:10] quintesse commented on #1495
Ah, another way to make it work:

 - Run the tests
 - "Ceylon Tab" shows up but doesn't display anything
 - Click inside the "Ceylon Tab"
 - Menu goes back to normal
 - Rerun the tests
 - Tests no show up correctly

[2015-10-06 09:08] davidfestal opened #1520 "NPE inside the Editor when writing a setter without any name"
This error makes the editor really unusable

[2015-10-06 09:46] gavinking commented on #1520
@davidfestal were you expecting that commit to close this issue?

[2015-10-06 09:50] davidfestal commented on #1520
@gavinking : yes, it fixed it on the branch, and I'll cherry pick the commit to master very soon, as soon as I've pulled everything

[2015-10-06 09:50] gavinking commented on #1520
oic.

[2015-10-06 10:01] davidfestal commented on #1454
@FroMage : can you confirm that I can close this one ?

[2015-10-06 10:16] gavinking commented on #1506
Finished!

[2015-10-06 10:16] #1506 closed

[2015-10-06 10:28] gavinking commented on #1400
I just ran the `ceylon.net` tests on Java 8 and it looks like this fix is good. Closing.

[2015-10-06 10:28] #1400 closed

[2015-10-06 10:31] gavinking commented on #1511
See @30aafbe.

[2015-10-06 10:35] #1511 closed

[2015-10-06 10:36] gavinking commented on #1511
Fixed, I think.

[2015-10-06 10:41] gavinking commented on #1202
I suppose I agree. Cancelation _does_ work these days (except for #1517) even though I don't love the implementation, which I don't see us improving for 1.2.

Let's close it.

[2015-10-06 10:41] #1202 closed

[2015-10-06 10:43] gavinking commented on #1514
Note that this is likely a dupe of #1497.

[2015-10-06 10:45] gavinking commented on #1454
He can reopen it if necessary.

[2015-10-06 10:47] gavinking commented on #1444
I just reproduced this over here.

[2015-10-06 10:55] gavinking commented on #1444
I believe that this bug is mis-filed. This is actually a bug in `ceylon-model`, and is, I _suspect_ due to the logic in `ReflectionModelLoader.lookupNewClassMirror()` being faulty for case-insensitive file names.

[2015-10-06 10:55] gavinking commented on #1444
@FroMage do you agree?

[2015-10-06 10:58] gavinking commented on #1444
`RuntimeModelLoader.loadClass()` catches `ClassNotFoundException` but in this case `NoClassDefFoundError` is thrown.

[2015-10-06 11:14] quintesse opened #1521 "Fix README"
Following the "Building with (pure) Eclipse" section in the README results in a non-working environment.

[2015-10-06 11:14] gavinking commented on #1444
@FroMage I propose the following:

[code]

[2015-10-06 11:16] gavinking commented on #1444
Of course, @jvasileff will yell at me 'cos he thinks you can't catch `Error`s :-P

[2015-10-06 11:19] gavinking opened #1522 "rename doesn't work with new GuardedVariables"
This should take about 5mins to fix.

[2015-10-06 11:29] quintesse commented on #1521
Ok, I've been able to get rid of most of the errors by starting with a fresh workspace and redoing all the steps. I still get a missing `ceylon-ide-common` though even though it seems to be present.

Also this part of the README is a bit of a mess:

[code]

See how the part about the "Java To Ceylon Converter" is indented differently? This is confusing.

Also, why does that part mention "This shou

[2015-10-06 11:33] davidfestal commented on #1521
the missing `ceylon-ide-common` might be related to the fact that currently ` ceylon-ide-common` doesn't build.
The for reporting the other points, I'll try to make things clearer

[2015-10-06 11:34] quintesse commented on #1521
So the error I'm seeing is because the `com.redhat.ceylon.eclipse.ui` project in its Properties->Java Build Path->Projects makes a reference to `ceylon-ide-common` which doesn't exist in the workspace. When I remove that things work fine. So I guess it's not the README that's wrong (although the layout should be fixed) but it's the project settings themself.

[2015-10-06 11:36] davidfestal commented on #1521
Ah, no, this is intended. I should add in the Readme to open `ceylon-ide-common` in the workspace

[2015-10-06 11:36] davidfestal commented on #1521
I forgot to add it visibly

[2015-10-06 11:37] quintesse commented on #1521
Are you sure? It does seem to work without it.

[2015-10-06 11:44] davidfestal commented on #1521
So we should add the requirement to import the `ceylon-ide-common` project

[2015-10-06 11:51] quintesse commented on #1521
I do have a bunch of errors in the `ceylon-ide-common` project, although they don't seem to affect the working of the IDE.

[code]

[2015-10-06 12:09] davidfestal commented on #1521
yes, it seems things changed in this file with the recent changes to `if (exists`, `if(!exists`.
The main IDE should probably be updated with very last code to avoid these errors.

[2015-10-06 12:48] #1515 closed

[2015-10-06 12:49] quintesse commented on #1515
Ok, fixed it, it was the IDE not telling the typechecker which backends were supported (it always passed "JVM").

[2015-10-06 12:54] quintesse commented on #1514
The fix for #1515 indeed seems to have fixed this too. Closing.

[2015-10-06 12:54] #1514 closed

[2015-10-06 12:57] quintesse commented on #1497
And #1515 seems to have fixed this one too. Yay! Closing.

[2015-10-06 12:57] #1497 closed

[2015-10-06 12:58] gavinking commented on #1514
Did it also fix #1497?

[2015-10-06 12:59] quintesse commented on #1514
Yup.

[2015-10-06 13:09] gavinking commented on #1514
Great :-)

Sent from my iPhone

[2015-10-06 13:42] jvasileff commented on #1444
WTF you know I'm right in my actual argument.

[2015-10-06 13:42] jvasileff commented on #1444
If this is really the best fix, why not at least do it in at `ReflectionModelLoader.lookupNewClassMirror`?

[2015-10-06 14:16] gavinking commented on #1444
This is fixed, and I have opened https://github.com/ceylon/ceylon-model/issues/10.

[2015-10-06 14:16] #1444 closed

[2015-10-06 14:48] lukedegruchy commented on #1515
Confirmed.

[2015-10-06 15:20] #1522 closed

[2015-10-06 15:20] gavinking commented on #1522
Done.

[2015-10-06 15:44] gavinking commented on #1521
Related: #1371.

[2015-10-06 18:42] davidfestal commented on #1521
yes, I know I have to review this PR

[2015-10-06 19:37] davidfestal commented on #1517
would you have a stacktrace or something like that ? Or a thread dump of the when the `Settings Typechecker` phase was hanging on the language module, or at least steps to reproduce the issue ?

[2015-10-07 09:10] davidfestal commented on #1521
@gavinking, @quintesse : I merged the PR and further reworked the readme to try making it even ore clearer.
Please close the issue if it's good for you now.

[2015-10-07 10:20] quintesse commented on #1521
ok with me

[2015-10-07 10:31] gavinking commented on #1521
I have no clue, so I assume it's better now.

[2015-10-07 10:31] #1521 closed

[2015-10-07 12:21] davidfestal opened #1523 "Take in account the config file compiler options for the build"
Currently, the backend Java binary generation (during the build), doesn't take in account several compiler-reated options such as `noosgi`, `resourceroot`, etc ...

This can result in the generated binary archive being different between the CLI and the IDE.

[2015-10-07 12:42] davidfestal commented on #1517
@gavinking : I've been looking into the code but don't see anything obvious that might produce this issue.
Do you have any way to reproduce it ?

[2015-10-07 15:47] #1520 closed

[2015-10-07 16:12] gavinking commented on #1517
1. Open the `ceylon-sdk` project in the IDE
2. Enable back backends
3. from the commandline, checkout some different snapshot of the `ceylon-sdk` project
4. Make sure both backends are enabled in `.project`
5. Refresh `ceylon-sdk`.

[2015-10-08 09:11] #1523 closed

[2015-10-08 09:56] davidfestal commented on #1517
so it seems it's not deadlocked, but the `JDTModelLoader` is waiting for the current Java indexing Job to stop. And in fact the binary generation by the Java backend triggers the Java indexing (of class files changed in the `.exploded` directory). And in this case there is a huge amount of classes to index.

I'll have a look to enable the cancellation of this.

[2015-10-08 11:29] davidfestal commented on #1517
And this happen because, when resolving a module from binaries, the `JDTModuleLoader` is used to load the module descriptor from binaries, and in turns, JDT tries to load the `package-info.class` of the related package. Since the `package-info` class is not found (because it doesn't exist of course), the model loader looks for it by requesting a search including the secondary types. And searching

[2015-10-08 15:44] FroMage opened #1524 "Run as Ceylon test does not work for single method"
If I select a test method, then right click and select "run as Ceylon test" it will test the whole file, not just the method. I think this is a regression (not sure).

What do you think @thradec? Time to fix this for 1.2?

[2015-10-08 16:05] #1517 closed

[2015-10-08 16:08] gavinking commented on #1517
Thankyou David!

[2015-10-08 16:11] davidfestal commented on #1504
It's related to ceylon/ceylon-compiler#470.

More precisely it seems to me it is a dupe of #1335 that is planned for 1.3 .

@sgalles : Are you OK if I close it ?

[2015-10-08 18:28] jvasileff commented on #1524
I noticed that this *does* work if the clicked on test is a method. Something like:

[code]

[2015-10-08 18:52] #1524 closed

[2015-10-08 18:54] thradec commented on #1524
Done via 50bde0e (yes regression, but luckily with easy fix)

[2015-10-08 19:03] sgalles commented on #1504
yes, np @davidfestal
I take the liberty to close it for you

[2015-10-08 19:03] #1504 closed

[2015-10-08 19:08] davidfestal commented on #1504
Thanks !

[2015-10-08 19:36] FroMage commented on #1524
Thanks :)

[2015-10-09 01:20] lukedegruchy opened #1525 "eGit diff fails and SWT exception with latest Ceylon IDE"
Not sure if this is a showstopper for 1.2.

This was working on the Ceylon IDE I built recently before.

1) Sync from the github projects and rebuild ceylon-ide-eclipse and update Eclipse
2) Import a Ceylon github project you have commit rights to (this will probably work for a forked project)
3) Make a change to a Ceylon file.
4) Open the Git Staging View
5) Double-click the Ceylon file to show t

[2015-10-09 01:30] quintesse commented on #1525
This is something I added a couple of days ago (see https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.eclipse.ui/src/com/redhat/ceylon/eclipse/core/model/JDTModuleManager.java#L342). I'm guessing it's because `javaProject` can be `null`? @davidfestal ? Could you perhaps fix this? (I might just put a simple null test around it and returns an empty Set, but I current

[2015-10-09 01:53] lukedegruchy commented on #1525
The following change on my local copy of JDKModuleManager.java fixed the issue.   I haven't yet set up a fork of ceylon-ide-eclipse yet, otherwise I'd have done a pull request:

[code]

[2015-10-09 10:32] FroMage commented on #1519
Yes I experience that as well, @thradec could you take a look please?

[2015-10-09 10:35] FroMage commented on #1321
@thradec, @chochos  any idea how we can resolve this?

[2015-10-09 10:35] FroMage commented on #1495
@thradec any idea?

[2015-10-09 10:41] FroMage commented on #1454
Nope, I can still reproduce :(

[2015-10-09 11:58] thradec commented on #1495
Should be done, if you will see something strange, please report.

[2015-10-09 11:58] #1495 closed

[2015-10-09 12:21] FroMage commented on #1495
Thanks!

[2015-10-09 12:23] FroMage commented on #1524
Confirmed it works now.

[2015-10-09 12:29] FroMage commented on #1321
The weird thing is the same runs from the CLI.

[2015-10-09 12:30] FroMage commented on #1321
Latest stack trace from the IDE is:

[code]

[2015-10-09 12:33] gavinking commented on #1495
Thankyou @thradec!

[2015-10-09 12:35] FroMage commented on #1321
From that stack trace I can see that I'm not using outdated `ceylon.language` or `ceylon.test` modules.

[2015-10-09 12:47] davidfestal commented on #1505
- First point : As shown by the above commit, there was a case when the `duplicateDeclarations` list of a unit was filled though no error was there. The `JavaList` class of the `ceylon.iterop.java` module was in this case (related to refinement of Java overloaded methods).
Since units with duplicate declarations are always added in an incremental build, the `JavaList` was added to the incremental

[2015-10-09 12:56] FroMage commented on #1321
Actually no, all this is a distraction. It fails in the IDE only if I run a single test. AND it fails in the CLI for that single test just as well:

[code]

So it's indeed a metamodel bug, not related to the IDE. I will move it.

[2015-10-09 12:59] FroMage commented on #1321
Moved to https://github.com/ceylon/ceylon.language/issues/776

[2015-10-09 12:59] #1321 closed

[2015-10-09 13:22] thradec commented on #1519
I have this log in console (from IDE and CLI) ...

[code]
... so I would suspect something in js compiler @chochos ?

[2015-10-09 13:25] FroMage commented on #1519
I don't have that. I suspect you're missing something to recompile…

[2015-10-09 14:29] FroMage commented on #1321
OK so it works now.

[2015-10-09 14:31] FroMage commented on #1519
Actually now it runs both shared and unshared, I can see the output:

[code]

And the Console says "Terminated", but the test does not show up in the test view, although I have "Interrupted: testStef → JavaScript (JS)" on top.

[2015-10-09 14:46] chochos commented on #1519
this happens only in the IDE? I run all the SDK tests and don't get any errors at all

[2015-10-09 14:52] FroMage commented on #1519
Well, yes IDE. No error in the tests this time, it's just the Test View that fails to show things.

[2015-10-09 14:53] chochos commented on #1519
And how is a JS process supposed to tell Eclipse it's done, or notify progress?

[2015-10-09 14:53] chochos commented on #1519
in any case that's a separate bug, no?

[2015-10-09 15:05] FroMage commented on #1519
Which separate bug? I can't reproduce @thradec's bug but I can reproduce the original issue.

[2015-10-09 15:08] chochos commented on #1519
oh, right, I got mixed up.

[2015-10-09 15:33] davidfestal opened #1526 "Incremental build broken for Inner classes and Interface concrete members"

[2015-10-09 18:53] thradec commented on #1519
the previous error, which I saw, disappeared after full rebuild, after some debugging it seems, that socket communication between eclipse and test tool stopped working, but I can't see why

[2015-10-09 19:58] davidfestal commented on #1454
@FroMage : I can reproduce the bug *only* once after the opening of a working set. Then the order is maintained when refreshing the next times. Is it the same for you ?

[2015-10-09 20:56] davidfestal commented on #1454
In fact sometimes the Sort algorithm used to sort the projects (`TimSort`) sometimes fails with a "broken contract error) . The comparator used is the `JavaElementSorter`. The "next times" are the cases when the sort succeeds and the projects are correctly sorted in the right order.
In fact I suspect the label returned for projects by the Ceylon Explorer to change when the `>` character is added a

[2015-10-09 21:11] FroMage commented on #1454
Well now pressing F5 seems to have no effect anymore on the whole set, but if I select at least two projects and press F5 repeatedly it will switch at some point, once per every 5-6 keystrokes.

[2015-10-09 22:42] lukedegruchy commented on #1525
This is now working for me.

[2015-10-09 23:06] gavinking commented on #1525
Close it?

[2015-10-09 23:24] #1525 closed

[2015-10-09 23:55] lukedegruchy commented on #1238
I've had my package presentation set to hierarchical (it's my personal preference) for months and I've had no issues.   Granted my Ceylon projects are relatively simple (no Maven, OSGi or Java).

[2015-10-10 07:21] gavinking commented on #1238
Yeah, um, that's weird. AFAICT, it seems to be working great for me now too. OK, good.

Perhaps I was thinking that modules should be displayed hierarchically just like packages? i.e. that all the SDK modules would appear beneath a `ceylon` node?

@lukedegruchy as a user of hierarchical presentation do you think that would be better or worse than the current behavior which is to display only packa

[2015-10-10 11:37] lukedegruchy commented on #1238
I've thought about it for a bit and I decided that hierarchical module presentation would look better than flat.   Looking at the ceylon-sdk project is what made up my mind.   The ceylon.**** modules didn't clearly break from the com.redhat.ceylon.*** modules, which is what I'd prefer given my mental model.  Also, it's probably better for the sake of consistency with how packages are currently dis

[2015-10-10 12:09] gavinking commented on #1238
So let's leave this issue open then.

[2015-10-10 12:36] lukedegruchy commented on #1238
Actually, one thing I've just noticed (didn't notice this for months even though it was staring me in the face) is that while hierarchical packages do work, they don't work entirely as expected.

A Java project with hierarchical package display shows the parent package and child packages without the parent package.

A Java project would display packages this way:

In the Ceylon IDE, it displays li

[2015-10-10 12:42] gavinking commented on #1238
Ah, well I guess _that_ should be pretty trivial to fix.

[2015-10-10 15:39] lukedegruchy opened #1527 "Unit tests: Inconsistent results when combining native and non-native unit tests in the same file"
Write the following unit test in a Ceylon project that supports JVM and JS:

It may be necessary to rename the non-native unit test or move its relative position in the file to reproduce this.

[code]
Sometimes both unit tests will be executed and sometimes only one will be executed.    Repeated executions with different ordering will be necessary to reproduce this because it's totally inconsisten

[2015-10-10 15:40] lucaswerkmeister commented on #1527
Does this happen on both backends?

[2015-10-10 15:41] lukedegruchy commented on #1527
I can't only speak to JVM tests.  I can't test against JS because of this:  https://github.com/ceylon/ceylon-ide-eclipse/issues/1519

[2015-10-10 20:38] thradec commented on #1519
hopefully fixed for now (via ceylon/ceylon-sdk@14051435711642bedaf352df6f84ef93976cbd75)

[2015-10-10 20:38] #1519 closed

[2015-10-10 21:07] thradec commented on #1507
should work now (at least for czech characters :wink:)

![image](https://cloud.githubusercontent.com/assets/1357423/10413279/7a799388-6fa3-11e5-9aa6-57ca492fbb85.png)

[2015-10-10 21:07] #1507 closed

[2015-10-10 21:21] lucaswerkmeister commented on #1507
Great, thanks!

[2015-10-10 22:41] gavinking commented on #1508
I understand that this is already fixed, right @bjansen?

[2015-10-10 22:41] #1508 closed

[2015-10-10 23:24] gavinking commented on #1238
@lukedegruchy do you prefer it like that?

[2015-10-11 00:09] lukedegruchy commented on #1238
Yes, I do.

[2015-10-11 00:11] lukedegruchy commented on #1238
I mean, I prefer:

[2015-10-11 00:28] lukedegruchy opened #1528 "All JVM tests become interrupted"
Write a simple Java test:

[code]

Run As > Ceylon Test

Doesn't matter if you right-click on the package, on the ceylon file, or within the editor.

The Ceylon Test view shows 0 tests run with the following text below the icons:

Interrupted: test -> Java(7) JVM

[2015-10-11 00:36] lukedegruchy commented on #1519
Does not work for me.  Running a simple shared unit test as JavaScript seems to hang forever.   The red button in the Console View does not disappear.

[2015-10-11 06:12] bjansen commented on #1508
Well, I fixed one problem, but I'm sure there are others left :-) Especially the first time completion is called, the model loader can take a long time to scan huge binary archives, but I think this will be addressed when we set up Lucene.

[2015-10-11 06:44] thradec commented on #1528
Sorry, I can't reproduce (with rebuild everything from today's morning). Does somebody else observe this too?

[2015-10-11 06:48] thradec commented on #1519
Sorry, I can't reproduce. Could somebody else try it?

[2015-10-11 07:12] thradec commented on #1527
The ordering should be always alphabetical. How do you run it (via context menu in editor/explorer/...)? Can you check the behaviour if in your run configuration is whole package or module. Thanks.

[2015-10-11 11:22] lucaswerkmeister commented on #1079
Is there an invisible `foo` declaration somewhere in the example code? I don’t see how the IDE could otherwise deduce that `<unknown type>.bar` has type `Bar`.

[2015-10-11 11:29] gavinking commented on #1079
@lucaswerkmeister yes.

[2015-10-11 12:32] #1079 closed

[2015-10-11 12:34] gavinking commented on #1079
Done.

[2015-10-11 12:41] lukedegruchy commented on #1527
I'm looking in my run configuration and I'm not sure where to look.   I've tried right-clicking the package folder and right-clicking in the editor.   Because of https://github.com/ceylon/ceylon-ide-eclipse/issues/1528 I can't test anything in the IDE now.

[2015-10-11 12:42] lukedegruchy commented on #1528
I did a full clean slate build (deleted all ceylon-**** projects and re-cloned) this morning (EDST).   I can still reproduce this.  Unit tests are not working in Eclipse for me.

[2015-10-11 14:23] gavinking commented on #1505
@davidfestal OK, so here's some observations:

1. The behavior I noticed before seems to have been fixed. When only the Java backend is enabled, I no longer see unrelated files being compiled, AFAICT.
2. JavaScript incremental build should be something very easy to do, since it is module-level. Right now changing anything in any file results in all SDK project modules being rebuilt, but it should

[2015-10-11 16:37] jvasileff commented on #1528
I've had the same for as long as I can remember.

But after a clean build just now, JS tests work for me in the IDE (except for https://gitter.im/ceylon/user?at=561a594e99bbd76f0f30c632 in some cases)

[2015-10-11 16:42] jvasileff commented on #1519
Is this the same as #1528? I think my comment https://github.com/ceylon/ceylon-ide-eclipse/issues/1528#issuecomment-147216819 applies here too.

[2015-10-11 18:37] FroMage commented on #1528
Is this perhaps on windows?

[2015-10-11 18:37] FroMage commented on #1528
@thradec: a socket shutdown missing ?

[2015-10-11 18:46] thradec commented on #1528
I'm closing opened sockets in [tooljvm](https://github.com/ceylon/ceylon-sdk/blob/master/source/com/redhat/ceylon/testjvm/tool.ceylon#L166) and [ide](https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.test.eclipse.plugin/src/com/redhat/ceylon/test/eclipse/plugin/model/TestEventListener.java#L167)

[2015-10-11 19:31] sgalles commented on #1528
Windows+JDK1.7+Kepler or Windows+JDK1.8+Kepler I can't reproduce this with a full clean build of master

[2015-10-11 19:42] lukedegruchy commented on #1528
OS X Mars JDK 8 for me when I reproduced it yesterday.

[2015-10-11 21:27] gavinking opened #1529 "allow adding native module imports from module properties page"
Currently blocked by https://github.com/ceylon/ceylon-module-resolver/issues/128.

[2015-10-12 01:05] lukedegruchy commented on #1528
I can no longer reproduce this with the latest build.  Closing.

[2015-10-12 01:05] #1528 closed

[2015-10-12 01:08] lukedegruchy commented on #1238
I see you already fixed the parent/child package presentation issue.  Nice!  :)

[2015-10-12 01:17] lukedegruchy commented on #1519
The below may be related to https://github.com/ceylon/ceylon-js/issues/643, I'm not sure:

Just rebuilt the distribution and IDE recently:

Depending on the project I'm running JavaScript unit tests either work as expected or I get the following errors:

1) Command line:
[code]

2) Eclipse:
[code]

[2015-10-12 08:08] FroMage commented on #1519
Right, I get the same error, even from the CLI. Files as https://github.com/ceylon/ceylon-js/issues/644

[2015-10-12 15:12] FroMage commented on #1519
OK, now that the `Callable` error is fixed, I can run JS tests in the IDE. Thanks @thradec !

[2015-10-12 15:13] FroMage commented on #1527
@lukedegruchy can you test again now that #1528 passes for you?

[2015-10-12 15:30] davidfestal commented on #1505
@gavinking : in the Ceylon model, declaration dependencies are modeled with direct references between model objects (`Declaration` and `Type` objects mainly). When we incrementally typecheck a unit, the declarations in the previous unit are replaced in the related package by the declarations of the new unit. But the depending units, if not typechecked again also, will keep references to the declar

[2015-10-12 15:33] gavinking commented on #1505
What I figured you would say.

[2015-10-12 15:35] davidfestal commented on #1505
so do you think we can close this issue now ?

[2015-10-12 17:14] #1454 closed

[2015-10-12 17:16] davidfestal commented on #1454
@FroMage : Can you confirm that it's OK now ?

[2015-10-12 17:36] davidfestal commented on #1505
Let me close this. @ASzc : please reopen this issue if you still encounter problems that cannot be explained by the 3 cases explained above (https://github.com/ceylon/ceylon-ide-eclipse/issues/1505#issuecomment-147202552).

[2015-10-12 17:36] #1505 closed

[2015-10-12 18:05] ASzc commented on #1505
Regarding:

1. I'm unsure how I can get an IDE build with this fix in it. I'm using the Development update site, but I don't see anything new there.
2. ceylon.net is Java only, so disabling the JS backend is acceptable. I got maybe a marginal
improvement, hard to tell.
3. That's not going to be a big factor for editing ceylon.net I think (no incoming dependencies at all)?

Further to point 1: Do e

[2015-10-12 20:00] #1516 closed

[2015-10-12 20:44] davidfestal commented on #1498
OK, it seems to be due to changes in the Debug API in Mars.

[2015-10-12 21:10] lukedegruchy commented on #1527
@FroMage As of yesterday, I no longer get interrupted exceptions with JDK tests.  I re-verified just now and I still can't reproduce the error.   I closed 1528 and I think it should stay closed.

[2015-10-12 21:41] lukedegruchy commented on #1519
My previous comment refers to https://github.com/ceylon/ceylon-js/issues/643.

[2015-10-12 23:21] lukedegruchy commented on #1238
There's one thing that I just noticed.

As opposed to:

I have a slight preference for the latter (fully qualified parent package) over the former, but I don't consider it to be a showstopper by any means.

[2015-10-12 23:31] lukedegruchy commented on #1527
I think this may be invalid.  I'm going to close this if nobody else speaks out.

I think this may be because I was right-clicking and doing Run > Ceylon Test in different parts of the editor.   Sometimes I would click on a function, sometimes I would click on the space between functions.  Based on that positioning, it would either run all tests in the file or run only that single method.  This wo

[2015-10-13 05:28] thradec commented on #1527
ok, closing (but thanks for pointing this out, it needed some polishing)

[2015-10-13 05:28] #1527 closed

[2015-10-13 07:28] jvasileff commented on #1238
:+1: *very* nice!

One thing I noticed is that now in the Ceylon perspective `src` folders appear at the end of the list (alphabetical order, I guess). Switching to the Java perspective promotes/special cases source folders and puts them at the top, which is better.

[2015-10-13 07:45] jvasileff commented on #1238
Here's something that's truly awful (but also a JDT bug). If the tree has focus, and you press a key, say `r`, to jump to a file like, `run.ceylon`, it works. *Unless* `run.ceylon` has `>` prefix indicating uncommitted changes. Then, `r` just does something crazy and you have to press the `>` key to navigate to the file.

[2015-10-13 07:52] davidfestal commented on #1238
@jvasileff : this is a bug related to the way team-related text decorators are added to the node label in the Common Navigator Framework. This was also the root cause of #1454. However in this case I'm not sure it's fixable.

[2015-10-13 07:59] jvasileff commented on #1238
Thanks @davidfestal. I'll just give "Team -> Disconnect" a try then, until the Eclipse folks can sort it out :smile:

[2015-10-13 08:08] jvasileff commented on #1238
Well, after going to "Customize View" -> "Content" and toggled Resources off and on, the `src` folder has floated back up to the top?!

[2015-10-13 08:14] davidfestal commented on #1238
@jvasileff : I'm looking into this right now. However could you open another issue for this ?

[2015-10-13 08:21] jvasileff opened #1530 "With the Hierarchical view, source folders don't always appear at the top"
After updating to the latest build, I noticed source folders within Ceylon projects appearing in alphabetical order in the Ceylon explorer, rather than floating to the top as they should.

*But*, after toggling settings in "Customize View..." -> "Content", the source folders did start appearing at the top.

I'm not sure yet if this is a one time setup issue, or an intermittent problem.

See also a

[2015-10-13 10:25] gavinking opened #1531 "errors shown in outline of StringBuilder"
When I open `ceylon.language::StringBuilder` in the IDE, I see lots of errors in the outline. This is a regression. @davidfestal how did you fix this last time?

[2015-10-13 13:53] davidfestal commented on #1498
I seems I found the fix. However the stack frame label seems to be broken for some cases. I'll have a look at this then.

[2015-10-13 14:48] gavinking opened #1532 "pass generated code through formatter in Paste Java as Ceylon"
Paste Java as Ceylon produces code with the indentation all screwed up.

[2015-10-13 14:49] lucaswerkmeister commented on #1532
IIRC there’s code that’s *supposed* to do this, but it doesn’t work for some reason. Haven’t had the time to look at it yet.

[2015-10-13 14:50] lucaswerkmeister commented on #1532
https://github.com/ceylon/ceylon-ide-eclipse/blob/0ea005c8c97fe3eaf14b7a6bdf8c81c778ed714a/plugins/com.redhat.ceylon.eclipse.ui/src/com/redhat/ceylon/eclipse/code/editor/PasteAsCeylonHandler.java#L98-L99

[2015-10-13 15:28] gavinking commented on #1532
@lucaswerkmeister well it seems obvious why it's not working, right? It's using the tokens from the previously-parsed source, instead of parsing the pasted text.

[2015-10-13 15:30] gavinking commented on #1532
@lucaswerkmeister don't you have a function to just format a `String` containing source code?

[2015-10-13 15:30] lucaswerkmeister commented on #1532
Ah, that makes sense… the `DocumentChange` doesn’t cause a re-parse, right?

[2015-10-13 15:30] lucaswerkmeister commented on #1532
Not directly, no. But it’s not hard to rig up a new `CeylonLexer` with an `AntlrStringStream`.

[2015-10-13 15:35] lucaswerkmeister commented on #1532
This is the version I use in `ceylon.ast`:
[code]
Calling `.compilationUnit()` on that should give us an AST that the formatter can take. (Probably extract the token source and reset it and give a `BufferedTokenStream` of it to the formatter as well.)

[2015-10-13 15:46] #1530 closed

[2015-10-13 15:47] davidfestal commented on #1498
@gavinking : this should have fixed your problem. Do you confirm ?

[2015-10-13 15:53] davidfestal opened #1533 "NPE in `OpenRefinedDeclarationHandler`"
[code]

[2015-10-13 16:00] #1533 closed

[2015-10-13 16:19] davidfestal opened #1534 "NPE in `MarkOccurencesAction`"
[code]

[2015-10-13 16:27] davidfestal opened #1535 "Debug stackframe label broken for anonymous function objects"
When debugging inside the anonymous function assigned to `innerF`, the stackFrame label should be changed to be ceylon-aware, but it is not.

[code]

[2015-10-13 16:29] #1532 closed

[2015-10-13 16:32] davidfestal commented on #1535
This is due to recent scoping changes.

See this Gitter conversation :

as well as overall Ceylon 2 Java Mapping
and also possibly the AST delta builder tests

[2015-10-13 16:34] lfarkas commented on #1349
is there any solution to this problem? we've got exactly the same problem.

[2015-10-13 16:42] gavinking commented on #1532
Done.

[2015-10-13 16:54] quintesse commented on #1535
Well no *that* recent, I think it's been this way for a good two months now ;)

[2015-10-13 17:25] #1534 closed

[2015-10-13 17:27] gavinking opened #1536 "Format is incredibly flakey"
Format keeps crashing with stuff like this:

[code]

That just doesn't make any sense at all.

@lucaswerkmeister what is up with this?

[2015-10-13 17:28] lucaswerkmeister commented on #1536
Can you be a bit more precise? Is this formatting the editor or pasted Java-to-Ceylon code? If the former, are you formatting a selection or the full file?

[2015-10-13 17:29] gavinking commented on #1536
In the editor. It happens in both cases.

[2015-10-13 20:52] davidfestal opened #1537 "`ceylon.language::print()` source not accessible when stepping into"

[2015-10-14 10:22] gavinking commented on #1498
Yes, it's fixed. Thanks David!

[2015-10-14 10:22] #1498 closed

[2015-10-14 10:23] davidfestal opened #1538 "Also use a integer to store the flags of JDT model loader mirrors ..."
instead of many boolean values. This should also greatly reduce memory.

[2015-10-14 15:08] gavinking commented on #1372
Was done by @FroMage.

[2015-10-14 15:08] #1372 closed

[2015-10-14 15:11] gavinking commented on #1518
This is still happening. Here's a thread dump:

[code]

[2015-10-14 15:13] davidfestal commented on #1518
@gavinking : thanks for the thread dump.I'll have a look to it.

[2015-10-14 16:44] jvasileff opened #1539 "JavaScript import errors on JVM-only module"
It's sometimes useful to have a JVM+JS multi-module project that contains a JVM-only module. Currently, this produces import errors unless `native("jvm")` is specified redundantly:

[code]

The workaround is to add `native("jvm")` to the JVM-only imports.

Edit to add - to be clear, this is for projects with both "Compile project for JVM" and "Compile project to JavaScript" enabled.

[2015-10-14 17:01] gavinking commented on #1395
Another nice feature of Eclipse, which I've never used, since I never really knew about it, is `⇧⌘U` which does a search for references in the current file only, and displays the results in the search results list.

I think it definitely makes sense to have a feature like that, say, `Find in File` which:

- does a search within the current editor, or
- within the selected resources

and bind it to

[2015-10-14 17:03] davidfestal opened #1540 "NPE in `CeylonHyperlinkDetector` that prevents navigation"
[code]

[2015-10-14 17:26] gavinking commented on #1539
I think this is probably not a bug. I think this is how @quintesse intends it to behave.

[2015-10-14 17:59] quintesse commented on #1539
Nope, this is the IDE adding its own errors, I'm already looking into it

[2015-10-14 18:26] #1539 closed

[2015-10-14 18:27] quintesse commented on #1539
This should fix it @jvasileff , unfortunately I found some other stuff that is broken :/

[2015-10-14 19:36] jvasileff commented on #1539
Works great, thanks!

[2015-10-14 19:47] davidfestal opened #1541 "NPE when toggling a breakpoint during a build or typecheck"
[code]

[2015-10-14 19:59] davidfestal opened #1542 "Error popup when setting a breakpoint in a file that contains mixins"
The popup is displayed with the following message :

`Unable to insert breakpoint Absent Line Number Information`

However the breakpoint is still correctly installed.

[2015-10-14 20:08] davidfestal commented on #1531
That might be related to a change in the way natives are managed, which brings an error during the source-based typechecking that occurs inside the Editor.
This is a *very* sensible part, since having both an editor-local source-based model coexisting with the central binary-based model is a need that is fully specific to the IDE. Accommodating this IDE-specific use-case with the native support al

[2015-10-14 21:09] #1537 closed

[2015-10-14 21:09] #1540 closed

[2015-10-14 21:09] #1541 closed

[2015-10-14 21:09] #1542 closed

[2015-10-14 21:10] #1535 closed

[2015-10-14 22:03] gavinking commented on #1045
Interesting, I don't see any of these right now. Perhaps this issue is fixed?

[2015-10-14 22:07] gavinking opened #1543 "quick assist and accelerator for generating equals()/hash"
In @a81b34dbcd25098dbb1ed87a958d26a3bab0edb2 I added a quick assist to make it easier to access the functionality for refining `equals()` and `hash`. The previous autocompletion-based approach is still there.

[2015-10-14 22:07] #1543 closed

[2015-10-14 22:17] gavinking commented on #912
With what I committed today, you can now make this work if you bind Find References to a key combination in the In Windows context, making sure you don't conflict with JDT which does the same thing.

_Perhaps_ it's possible to associate a context with the `CeylonSearchResultsPage` via `IContextService`. I'll try to figure that out.

[2015-10-15 00:06] gavinking commented on #881
Done!

[2015-10-15 00:06] #881 closed

[2015-10-15 05:23] sgalles commented on #1543
BTW I noticed that the generated code ignore the nullable fields (String?, Integer? and so on) is this on purpose ?

[2015-10-15 09:43] quintesse opened #1544 "Enabling/disabling a backend recompiles the project twice"
The `CeylonBuilder.generateBinaries()` gets called twice when changing any of the two backend options. On a large project that's quite noticeable.

In fact, if you're just *disabling* a backend why do a rebuild at all? Just do nothing (or just clean up the relevant binaries)

[2015-10-15 09:51] quintesse commented on #1544
I made sure to see if any of the two builds was "incremental" but it doesn't seem to be that way. The arguments to the method are the same each time.

With regard to my comment about preventing a rebuild when disabling a backend: that might be impossible for now. With `native` it might be possible that disabling/enabling a backend results in errors being generated/removed. So that idea is out for

[2015-10-15 09:53] gavinking commented on #1544
Another annoyance is that turning logging on or off forces a complete rebuild:

[2015-10-15 10:00] quintesse commented on #1544
I guess that besides marking the property page as "dirty" each time you make a change there could be another property `shouldRebuild` so we can decide for each of our options if it affects code output or not.

[2015-10-15 10:03] davidfestal commented on #1544
Sure, it's a good idea !

[2015-10-15 13:03] davidfestal commented on #1531
Waiting for ceylon/ceylon-compiler#2356 : this should fix the problem according to what I've seen.

[2015-10-15 14:19] davidfestal commented on #1518
In fact to write the Javadoc, we try to match the current Ceylon declaration with the corresponding Java declaration. For this we traverse the Java model from the `ITypeRoot` element and try to match the binding key of the current `IJavaElement` with the binding key of the binary-loaded Ceylon declaration mirror. This requires resolving the bindings of each Java element of the Java compilation uni

[2015-10-15 20:33] davidfestal commented on #1518
So nothing hangs anymore, and when (only the first time) the completion entry additional information retrieval takes too much time, it can be cancelled in the standard progress bar.

However the retrieval time for `Java8Parser`  is really reasonable on my side now.

@gavinking : do you confirm that we can close this one ?

[2015-10-16 00:52] gavinking commented on #1518
@davidfestal well now I get an *error* on:

    Java8Parser.UnaryExpressionContext unaryExpressionContext;

It seems it doesn't find the static inner class at all.

[2015-10-16 08:40] davidfestal commented on #1518
@gavinking : is it a compilation error ? or an error when trying to show the completion additional info popup ?
Everything works correctly here : build and completion popup.

[2015-10-16 09:17] gavinking commented on #1518
A compilation error in the IDE.

[2015-10-16 09:32] davidfestal commented on #1531
I don't get it, but didn't pull the very last master since yesterday. So this might come from something. I assume this is not related to my changes that don't impact the model loader at all,  but only UI-related things (navigation, etc ...)

[2015-10-16 11:22] gavinking commented on #1045
I really don't seem to experience this anymore. OK, I'll close it for now.

[2015-10-16 11:22] #1045 closed

[2015-10-16 11:26] gavinking commented on #1518
Strange. I'm not sure what was going on last night, but it's not happening now. Closing.

[2015-10-16 11:26] #1518 closed

[2015-10-16 11:42] davidfestal commented on #1531
@gavinking :  Is there anything specialyou think I could do to reproduce your compilation error ?

[2015-10-16 11:50] gavinking commented on #1531
No: just open `StringBuilder` from `ceylon.language` and look at the outline.

[2015-10-16 12:00] davidfestal commented on #1531
@gavinking : oops my 2 last messages were for issue #1518 that you already closed !

[2015-10-16 12:19] gavinking commented on #912
Look like I made this work, finally! Cool!

[2015-10-16 12:19] #912 closed

[2015-10-16 22:05] davidfestal opened #1545 "Seems that at least on Mars, Initializing dependencies Jobs are run before JDT Initialization Job"
It should wait until the end of the Java Tooling Initialization Job.

[2015-10-17 10:32] bjansen commented on #1532
I noticed that when I convert a single method and paste it in a class/object, the code is formatted but the indentation is not correct, i.e. it generates something like this:

[code]

It's like the formatter is not aware we are in a class?

[2015-10-17 10:39] lucaswerkmeister commented on #1532
@bjansen yeah, [currently it always has the initial indentation `0`](https://github.com/ceylon/ceylon-ide-eclipse/commit/e73e13123bdc9ce9c004b7c89cd74666bc34d480#diff-9531d6b7569df89b1e1737c3e1738c35R144). I’ll try to see if I can get it to use the current indentation instead…

[2015-10-17 10:54] bjansen commented on #1532
Cool, thanks!

[2015-10-17 15:29] lucaswerkmeister commented on #1532
@bjansen should be better now. (I also found a bug in the regular `FormatAction`, which didn’t count tabs correctly when determining the indentation level – fixed in c2a36d0e9f124665f427590fe663f083bb8bf139.)

[2015-10-18 21:08] gavinking opened #1546 "IDE is completely broken"
It's currently impossible to compile anything. Something that happened in the last day, I believe.

[2015-10-19 08:49] davidfestal commented on #1526
This seems related to a problem with inner class not seen after an incremental rebuild. Probably a `JDTModelLoader` bug

[2015-10-19 09:24] gavinking commented on #1546
Was caused by the now-reverted changes for #2356.

[2015-10-19 09:24] #1546 closed

[2015-10-19 11:42] gavinking opened #1547 "navigation to and hover for language module declaration in web ide project"
Open `Autocompleter.ceylon` in branch 83 or `ceylon-web-ide-backend`, and attempt to navigate to `String`. It will take you to `String.java`. Also, the documentation hover does not show the docs.

[2015-10-19 20:18] #1526 closed

[2015-10-19 20:42] gavinking opened #1548 "HttpServletResponse.setStatus() not marked deprecated"
The model loader is not setting the deprecated flag for `HttpServletResponse.setStatus()`.

[2015-10-19 20:44] gavinking commented on #1548
Same for the deprecated interface `HttpSessionContext`.

[2015-10-19 20:49] gavinking commented on #1548
@FroMage @davidfestal the problem might be in the IDE, or it might be in the model loader. I'm not sure.

[2015-10-20 04:09] tombentley opened #1549 "Screwy syntax highlighting colours"
For some reason the IDE has decided that keywords, braces and backticks should be white, the same colour as the editor background.

Obviously I can change this in **General > Appearance > Colours and Fonts** and that works, but if I open preferences a second time it has quietly reset the colours back, so something is definitely not right.

[2015-10-20 10:15] gavinking commented on #1549
Reinstall Eclipse from scratch.

[2015-10-20 10:15] #1549 closed

[2015-10-20 10:22] davidfestal opened #1550 "Failing JDTModelLoader tests"

[2015-10-20 10:25] tombentley commented on #1549
Oh, that's lame. There goes half an hour while I configure it into usability.

[2015-10-20 15:05] #1550 closed

[2015-10-20 17:44] #1548 closed

[2015-10-20 17:45] gavinking commented on #1548
@davidfestal cool, thanks!

[2015-10-20 17:45] davidfestal commented on #1545
After checking it seems I was wrong : it works correctly afaik. Closing.

[2015-10-20 17:45] #1545 closed

[2015-10-20 18:10] gavinking commented on #1547
This problem seems to have resolved itself :-/ Closing.

[2015-10-20 18:10] #1547 closed

[2015-10-20 18:24] davidfestal commented on #1544
I tried on a project that don't use intra-project Java 2 Ceylon dependencies (which is not officially supported), and the second build (`Rebuild project ....`) indeed is an incremental build and does nothing (unless something changed in the classpath in the meantime). I couldn't reproduce the fact that `generateBinaries()` is called twice. @quintesse  : Maybe there is a specific scenario that coul

[2015-10-20 18:24] davidfestal commented on #1547
Cool !

[2015-10-20 18:29] gavinking opened #1551 "changing logging setting should not trigger a clean build"
When we just change logging settings on the project property page, we should not need to rebuild the project.

[2015-10-20 18:29] gavinking commented on #1544
@davidfestal OK #1551.

[2015-10-20 18:34] davidfestal commented on #1544
@quintesse : Is the problem of calling `generateBinaries()` twice a problem that occurs systematically, or only on some specific projects ?
if not systematically, would you agree to postpone this to 1.3 ?

[2015-10-21 02:11] quintesse commented on #1544
@davidfestal I don't get the previous situation anymore where I said: "I made sure to see if any of the two builds was "incremental" but it doesn't seem to be that way. The arguments to the method are the same each time."

So now it's obvious that the second build is incremental, it just seems to pass all the files that have errors in them?

So, no hurry... if there's even a problem left.

[2015-10-22 14:44] lucaswerkmeister opened #1552 "Catch formatter exceptions in Paste Java As Ceylon"

[2015-10-23 11:12] gavinking opened #1553 "hover on true.string shows Javadoc for java.lang.Object.string"
Hover over `true.string`, and you'll see.

[2015-10-23 12:38] FroMage opened #1554 "Build tries forever to compile project with errors"
Take the SDK, introduce an error somewhere, and observe the build launch a full build every 5 seconds for no reason, even without any further file change. That has to stop ;)

[2015-10-23 16:39] ASzc commented on #1505
I updated to `Ceylon IDE 1.2.0.v20151020-1903-Final` today, this cleared up all of the standing SDK errors, and I now see an appropriate number of things being recompiled.

[2015-10-23 16:41] davidfestal commented on #1505
cool. good news

[2015-10-23 18:18] jvasileff opened #1555 "javascript tests causes process pileup"
After running "Test Javascript", the red terminate button in the console is illuminated, even after all tests have been completed.

Pressing the terminate button *looks* like it does something, but `node` processes remain:

[code]

[2015-10-23 22:29] lukedegruchy opened #1556 "JavaScript Unit tests leave processes running in Eclipse"
Run a bunch of JavaScript unit tests in Eclipse.

Notice the red "stop" button doesn't disappear in Eclipse.
Switch to the Debug perspective.
See a bunch of processes still running in the Debug View.

[2015-10-24 17:59] thradec commented on #1556
Should by fixed via ceylon/ceylon-sdk@fb568c5

[2015-10-24 17:59] #1556 closed

[2015-10-24 18:02] jvasileff commented on #1555
This was superseded by https://github.com/ceylon/ceylon-ide-eclipse/issues/1556

[2015-10-24 18:02] #1555 closed

[2015-10-24 21:11] lukedegruchy commented on #1556
Confirmed

[2015-10-24 21:41] lukedegruchy opened #1557 "CeylonTest View JavaScript unit test failure trace double-clicking on failure trace direct focus to line"
Write a failing JavaScript unit test and double-click on any line in the failure trace and it won't direct focus to the line of code in question.  For the same test on JVM double-clicking will direct focus to the line in the failure trace.

I don't think this is severe enough that it needs to be fixed for 1.2.

[2015-10-24 21:58] lukedegruchy opened #1558 "CeylonTest View doesn't expand unit test file failure tree into individual tests"
Write a unit test with at least one failure.   This can be reproduced with either a single failing unit test, multiple failing unit tests, or a mix of failures and successes.

With a Java JUnit test, In the JUnit view, the presence of at least one failing unit test expands the tree belonging to the unit test class.  It will not expand the view if all tests pass.

In Ceylon, near as I see, the tree

[2015-10-25 18:57] thradec commented on #1558
Done via 5ec2700

[2015-10-25 18:57] #1558 closed

[2015-10-25 22:23] lukedegruchy commented on #1558
Confirmed.

[2015-10-26 09:26] davidfestal commented on #1544
OK. let me close it then ?

[2015-10-26 09:44] FroMage commented on #1454
YES :)

[2015-10-26 12:17] gavinking commented on #1529
Now blocked by https://github.com/ceylon/ceylon-module-resolver/issues/129.

[2015-10-26 12:48] squilliam-fancypants opened #1559 "NPE when creating new ceylon project"
Using Mars plus development plugin. Do file->new->project...->ceylon->ceylon project.

Get the following stack trace:

Exception:java.lang.NullPointerException: null
	 at com.redhat.ceylon.common.config.ConfigParser.<init>(ConfigParser.java:27)
	 at com.redhat.ceylon.common.config.ConfigFinder.loadConfigFromFile(ConfigFinder.java:257)
	 at com.redhat.ceylon.common.config.ConfigFinder.loadSystemCon

[2015-10-26 13:07] davidfestal commented on #1559
In the following method of `.../common/FileUtil` :
[code]

we should return a default value for the case when the OS is Windows and the `ALLUSERSPROFILE` environment variable is not set.

@quintesse : any idea to fix this ? Should I reassign it to you ?

[2015-10-26 13:32] gavinking commented on #1544
@quintesse Please respond so that we know whether to close or slip this issue.

[2015-10-26 13:38] davidfestal commented on #1559
let me do it :-)

[2015-10-26 13:54] bjansen commented on #1553
The hover is showing the Javadoc because of [this condition](https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.eclipse.ui/src/com/redhat/ceylon/eclipse/code/hover/DocumentationHover.java#L1735):

[code]
The code is looking for a `doc` or an anonymous annotation on a `Tree.Declaration`. In our case, we have a `Tree.SpecifierStatement` instead of a `Tree.Declaration`

[2015-10-26 14:03] quintesse commented on #1544
Well @davidfestal  didn't respond to the part "So now it's obvious that the second build is incremental, it just seems to pass all the files that have errors in them?"

[2015-10-26 14:08] gavinking commented on #1553
@bjansen Your fix looks pretty reasonable to me.

[2015-10-26 14:09] davidfestal commented on #1544
yes, for the moment it's right that an incremental build always includes files that have some type of errors : `duplicate declarations` and `unresolved declaration`

[2015-10-26 14:09] davidfestal commented on #1544
this is on purpose

[2015-10-26 14:10] quintesse commented on #1544
Ok, but that means you *do* compile files even when nothing has changed. Which means the module artifacts get updated which could affect projects that depend on it?

[2015-10-26 14:11] quintesse commented on #1544
Anyway, that would perhaps be a different issue, so this one can be closed for all I care.

[2015-10-26 14:11] #1544 closed

[2015-10-26 14:11] davidfestal commented on #1544
well, not necessarily.it depends on the use-case

[2015-10-26 14:11] davidfestal commented on #1544
yes, this might be related to https://github.com/ceylon/ceylon-ide-eclipse/issues/1554

[2015-10-26 14:17] #1553 closed

[2015-10-26 14:34] gavinking commented on #1553
Thanks @bjansen. I made a tiny adjustment.

[2015-10-26 15:29] quintesse commented on #1544
Indeed, the root cause might be the same.

[2015-10-26 15:46] quintesse commented on #1559
You can do it as long as the solution is turning:

[code]

into:

[code]

;)

[2015-10-26 15:48] davidfestal commented on #1559
I was meaning : let me reassign it to you :-D

[2015-10-26 15:49] quintesse commented on #1559
No, you do it, I don't have time to test it right now :)

[2015-10-26 15:50] quintesse commented on #1559
Also because this is a necessary fix, but we also have to fix the reason why `null` was returned from `getSystemConfigDir()` when running under Cygwin. De we know already?

[2015-10-26 15:51] davidfestal commented on #1559
of course we know.

[2015-10-26 15:51] quintesse commented on #1559
Well, why? ;)

[2015-10-26 15:52] davidfestal commented on #1559
because `OSUtil.isWindow()`  returns `true`.
but visibly the `appDir` is `null`

[2015-10-26 15:53] davidfestal commented on #1559
we just should return a default value for Windows when not finding the appDir.
at least this wouldn't throw an NPE.

[2015-10-26 15:53] quintesse commented on #1559
No,that's exactly what I don't want because it would be wrong ;)

[2015-10-26 15:54] quintesse commented on #1559
We have to handle the fact that `getSystemConfigDir()` can return `null`

[2015-10-26 15:54] davidfestal commented on #1559
OK I see

[2015-10-26 15:55] quintesse commented on #1559
**But** at the same time it *should* be able to return the correct value for Cygwin, I just can't believe that Cygwin messes with the Environment variables

[2015-10-26 15:56] davidfestal commented on #1559
I don't have much time to work on this either (still several pending issues + problems locally with my EclipseMars install, as well as with IncrementalBuildTests that fails)

[2015-10-26 15:56] quintesse commented on #1559
@squilliam-fancypants could you open a Cygwin shell for us, type `set`, and copy & paste the result here? That way I can try to figure out what's wrong.

[2015-10-26 15:59] quintesse commented on #1559
Ok, I at least pushed the change for `loadSystemConfig()` which should fix the NPE.

[2015-10-26 16:02] squilliam-fancypants commented on #1559
Yes. Not in office right now but will within the hour. I am suspecting
something screwy with my ENV variables too.
On Mon, Oct 26, 2015 at 11:59 AM Tako Schotanus <notifications@github.com>
wrote:

[2015-10-26 16:29] squilliam-fancypants commented on #1559
Here is output of set:

ANT_HOME=/cygdrive/c/dev/bin/apache-ant-1.7.1
ANT_OPTS='-Xmx1024m -Xms512m'
BASH=/bin/bash
BASHOPTS=cmdhist:complete_fullquote:expand_aliases:extquote:force_fignore:histappend:hostcomplete:interactive_comments:login_shell:progcomp:promptvars:sourcepath
BASH_ALIASES=()
BASH_ARGC=()
BASH_ARGV=()
BASH_CMDS=()
BASH_LINENO=()
BASH_SOURCE=()
BASH_VERSINFO=([0]="4" [1]="3" [2]="39

[2015-10-26 16:50] quintesse commented on #1559
Ok, even weirder, would Cygwin actually remove variables from the Windows environment?
Could you paste the output of Window's own `set` command as well @squilliam-fancypants ? Just ot make sure the variables even exist.
And what Windows version are you running?

[2015-10-26 17:00] squilliam-fancypants commented on #1559
I'm running windows 7 enterprise. Service Pack 1.

Cygwin is likely removing ENV var from original due to me using an exec. It's a long story, but my typical work environment is cluttered with functions and aliases. In order to get a "clean" environment, I run an exec with a specific ENV var that causes this setup to be bypassed in my .bash_profile (the standard work profile).  This is clearly not

[2015-10-26 17:02] squilliam-fancypants commented on #1559
I apologize for my stupidity causing everyone to scramble for a solution to a problem that probably doesn't exist for anyone else but me.

[2015-10-26 17:03] squilliam-fancypants commented on #1559
Here is the set run from a windows command line:

ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\sgriese\AppData\Roaming
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
CommonProgramW6432=C:\Program Files\Common Files
COMPUTERNAME=SGRIESE9470
ComSpec=C:\Windows\system32\cmd.exe
DEFLOGDIR=C:\ProgramData\McAfee\DesktopProtection
FP_NO_HOS

[2015-10-26 17:12] quintesse commented on #1559
Ah yes, this is the one we're looking for: `ALLUSERSPROFILE=C:\ProgramData` , you can solve your problem by adding that one your environment :)

[2015-10-26 17:13] squilliam-fancypants commented on #1559
Thank you. I'm actually going back and coming up with a way to have a "non-work" environment without using the sledgehammer 'exec' approach. But thanks for pointing out the relevant ENV var. And sorry for the bother.

[2015-10-26 17:14] quintesse commented on #1559
ok, then together with my fix for the NPE, we can consider this closed. Don't worry @squilliam-fancypants you *did* find an actual bug :)

[2015-10-26 17:14] #1559 closed

[2015-10-26 17:15] squilliam-fancypants commented on #1559
Oh, okay. Well that's good, I guess. Thanks! :)

[2015-10-26 17:17] jvasileff opened #1561 "JS Backend NPE on JVM maven imports"
This is Eclipse specific.

For a dual backend project with nothing but `module.ceylon`:

[code]

There are two error markers on the `guava` import:

[code]

The same happens for `native("jvm") import "log4j:log4j" "1.2.17";`

[2015-10-26 17:50] gavinking commented on #1561
This is actually a bug in `ceylon-js`, which is not handling the quoted import correctly.

@chochos this is urgent&mdash;do you have a chance?

[2015-10-26 18:18] gavinking commented on #1529
This is new working well enough for now.

[2015-10-26 18:18] #1529 closed

[2015-10-26 19:04] #1561 closed

[2015-10-26 22:02] davidfestal commented on #1554
@FroMage : I don't succeed in reproducing this, even when renaming `ArrayList` or `LinkedList` and introducing more than 600 errors.

Please could you tell a precise scenario to reproduce the problem ? files to modify, description of the errors introduced, ...

[2015-10-26 23:34] gavinking opened #1562 "CCE in Eclipse log"
Suddenly I see some of these:

[code]

[2015-10-27 00:36] quintesse commented on #1562
Perhaps this is because of https://github.com/ceylon/ceylon-model/commit/91216dbc76f708f116ae763ba653a7e1a6f17ae6 ?

[2015-10-27 11:23] davidfestal commented on #1562
@gavinking : After pulling and rebuilding everything and installing in my main Eclipse, I don't experiment this all. Can we close it ?

[2015-10-27 11:31] gavinking commented on #1562
OK, I don't see it anymore either.

[2015-10-27 11:31] #1562 closed

[2015-10-27 13:03] FroMage commented on #1554
Trying now and indeed it "only" seems to want to recompile 2 files every five seconds. But when I fucked up `LinkedList` it re-typechecked everything. Is there a good reason for this? I mean, the type has errors, why propagate to dependents before that type is fixed?

[2015-10-27 13:06] FroMage commented on #1554
Ah OK I can reproduce it: just insert a bogus import in the `ceylon.collection` module:

[code]

That will cause a full build every 5 seconds (well, ever 5 seconds after the minute it needs to fail the full build).

[2015-10-27 13:10] FroMage commented on #1554
And I can't even fix my module descriptor while that build is in progress :( because it won't let me edit/save it, I have to wait.

[2015-10-27 13:27] davidfestal commented on #1554
what I don't understand is : why does it even try to recompile every five seconds ? I din't have this behavior, even when introducing errors.

[2015-10-27 14:59] #1554 closed

[2015-10-28 00:50] #1552 closed

[2015-10-28 00:54] lucaswerkmeister commented on #1536
I’m removing the “high priority” tag and moving this to 1.3. In general, the formatter does not aim to support syntactically invalid code, since I have no clue about how the ANTLR parser recovers. (I do mostly take into account places where the grammar is explicitly lenient, e. g. `case ()`, `import ceylon.collection;`.) If you give me concrete examples which crash the formatter, I’ll try to fix t

[2015-10-28 11:08] davidfestal opened #1563 "Invalid native-related hyperlinks to navigate to module or package descriptors"

[2015-10-28 11:50] gavinking opened #1564 "quick fixes to change void to type and vice versa"
I added quick fixes to change `void` to a type, or a type to `void` in a function declaration.

[2015-10-28 11:50] #1564 closed

[2015-10-28 12:15] #1563 closed

[2015-10-28 15:03] davidfestal opened #1565 "outline node ids don't take native annotations in account"
So all the outline node comparisons cannot distinguish between a native header ant its corresponding implementation.

[2015-10-28 15:42] #1565 closed

[2015-10-28 16:51] davidfestal commented on #1531
This works correctly now. Closing.

[2015-10-28 16:51] #1531 closed

[2015-10-28 18:51] pthariensflame opened #1566 "Block-based breakpoints"
Per recent discussion on https://gitter.im/ceylon/user, it would be nice to have the ability to place breakpoints on the entry and exit points of arbitrary blocks.

[2015-10-28 19:04] gavinking commented on #1566
Yes, +1.

[2015-10-29 07:26] gavinking opened #1567 "create new source folder links in wizards do not update the config file!"
Wow, this is just crappy. All our wizards have links to create new source folders. But if you try to use them you get errors saying "module descriptor encountered in root source folder" because the wizards do not update the config file.

[2015-10-29 16:12] jeancharles-roger opened #1568 "Installation problem for 1.2.0"
Trying to install the Ceylon IDE in Eclipse, I ran into the problem:
"Cannot complete the install because one or more required items could not be found. Software being installed: Ceylon IDE 1.2.0.v20151028-2224-Final (com.redhat.ceylon.eclipse.feature.feature.group 1.2.0.v20151028-2224-Final)
 Missing requirement: Ceylon IDE 1.2.0.v20151028-2224-Final (com.redhat.ceylon.eclipse.feature.feature.gro

[2015-10-29 16:18] gavinking commented on #1568
@davidfestal?

[2015-10-29 17:16] davidfestal commented on #1568
I'll have a look tonight. I also thought I had fixed this. Strange.

[2015-10-29 17:18] davidfestal commented on #1568
in fact I had added the feature requirement. This was the fix at this time, for a different problem. But here it seems that for Mars Gef / Zest is not available in the main Mars update site. I'll have to have a look. and if necessary add this generic update site in the composite update-site XML files available on the ceylon-lang.org web site. That might be sufficient.

[2015-10-29 17:29] bjansen opened #1569 "Declarations are not found after upgrade to 1.2.0"
I recently cleaned my local repo because I had dev modules tagged 1.2.0 and wanted to download the final builds from Herd. I deleted every folder named `1.2.0` in `~/.ceylon/repo`.

Then I went back to eclipse, and ceylon-ide-common wouldn't build anymore: some dependencies were not found in the local repo, for example `ceylon.interop.java 1.2.0`. The CLI could compile the project, because it down

[2015-10-29 20:20] davidfestal commented on #1568
Fixed by https://github.com/ceylon/ceylon-lang.org/commit/da3e496951abb7efb39c24355934b60071c70f68

This will work automatically now only when using the update site URLs given on the Ceylon web site?

@jeancharles-roger : do you confirm this is OK now ?

[2015-10-29 21:15] jeancharles-roger commented on #1568
I've removed Ceylon IDE and Zest and install Ceylon IDE by it self and worked like a charm.
I saw a GEF folder appear in the Ceylon update site.

Thank you.

[2015-10-29 21:15] #1568 closed

[2015-10-29 21:30] davidfestal commented on #1569
@bjansen : I removed `ceylon.interop.java` from `~/.ceylon/repo`, and it automaticallyretrived the right one from Herd, and no error. Even the first time. So we might close it probably.

[2015-10-30 06:37] ncorai opened #1570 "Ceylon IDE 1.2.0 builds continously"
In Eclipse Mars 2.4.1 and Ceylon 1.2.0.v20151028-2219, my Ceylon project rebuilds continuously when `General->Workspace->Refresh using native hooks or polling` is checked (Windows 8.1, JRE 1.8.0_65). I have no errors or warnings, project is jvm only.

[2015-10-30 07:13] bjansen commented on #1569
Huh, I tested that again and now it works, even though I don't see any folder named `ceylon/interop/java` in `~/.ceylon/repo`. I'll close the issue then.

[2015-10-30 07:13] #1569 closed

[2015-10-30 07:43] bjansen commented on #448
This is bugging me too, but actually I think that the guys at JetBrains figured out how to overcome problems like this. When code completion is called, it makes a copy of the current document and inserts a specific string where the caret is located. This way, even when the original text is empty, there's a valid identifier at the caret. See [this thread](https://devnet.jetbrains.com/message/551368

[2015-10-30 07:49] bjansen commented on #519
Perhaps we can close this one?

[2015-10-30 10:09] gavinking commented on #1570
Sounds like it could be related to #1554.

[2015-10-30 16:35] gavinking opened #1571 "for non-Ceylon files, Show In > Ceylon Explorer sometimes doesn't work"
Show In > Ceylon Explorer is flakey for non-`.ceylon` files. That's quite irritating when working in the Ceylon perspective,

[2015-10-30 16:50] davidfestal opened #1572 "Allow building the IDE in maven against runtime dependencies of the last release."

[2015-10-30 17:12] #1572 closed

[2015-10-30 17:20] davidfestal commented on #1572
@gavinking : if you start the maven build with the following java property : `-Dbuild-against=last-release`, this will build the IDE against the runtime OSGI dependencies that are in the production update site.

So when on the `1.2.0-fixes` branches (of both the IDE and `ceylon-ide-common`), you should build the IDE directly (no need of the distribution of course) with the following command :

[2015-10-30 17:23] davidfestal commented on #1572
@gavinking : please email me if anything is still wrong.

[2015-10-30 18:25] davidfestal commented on #1572
@gavinking : when working on the `1.1.0-fixes` of the Eclipse plugin or `ceylon-ide-common`, you don't need to build anything related to the other sibling projects or the distribution, since they are retrieved from the prod update site.
That's why I thought you would use maven directly.
But of course you also probably can do :

    ant -Dbuild-against=last-release clean-ide eclipse

[2015-10-30 23:23] davidfestal opened #1573 "migrate back the ExtractXXX refactorings to the `ceylon-ide-common` version."
since @gavinking had rollbacked this some weeks ago : https://github.com/ceylon/ceylon-ide-eclipse/commit/11730c2b665d1c6a8264734ddeea8ea601d094c8

And then @bjansen merge some branch changes on it : https://github.com/ceylon/ceylon-ide-eclipse/commit/356742c0d106da8441cc7cc0876c71c0043ac6c7

So a review is necessary about the current state of this.

[2015-10-31 11:35] gavinking opened #1574 "broken HTML escaping in doc hover"
Hover over `type` in `type<Boolean>(true)`.

You see:

    ClassModel<Boolean,Nothing> type&lt;Type&gt;(Type instance)

[2015-10-31 12:33] lukedegruchy opened #1575 "Automatically generated variable names can cause name collisions with functions"
Start typing this in the IDE:

[code]
Now "Assign Expression to New Local"  either by Ctrl/Cmd-1 or Ctrl/Cmd-L .

This results in the following code:

[code]
And the resulting compile errors:

1) could not determine type of function or value reference: 'set'
2) not definitely specified: 'set'

I'd rank this as an annoyance and a point of potential confusion for new Ceylon users since the variable

[2015-10-31 16:26] gavinking opened #1576 "debugger currently unusable"
The debugger is currently unusable, I'm getting CCEs attempting to add breakpoints, and rendering labels of the stack viewer.

[2015-10-31 16:55] jeancharles-roger opened #1577 "StackOverFlow on module compilation"
Hi,

I've a StackOverflow when compiling my project:
[code]

I've trimmed down the project to:
[code]

And:
[code]

If I remove the `RevTree` import, I don't have the error anymore.

[2015-10-31 18:00] renatoathaydes opened #1578 "Quick-fix on error-highlighted code throws an Exception"
This error is constantly stopping me.
[code]

When it happens, a popup comes up which is very annoying.

I'm using Eclipse Mars with the latest Ceylon 1.2 release.

Reported to Eclipse here: https://dev.eclipse.org/recommenders/community/confess/#/incidents/LyPR5OEC4yJSfYylElL17PhAsIw3OSd5LOv5zLiTqgw6TRQpcHGJRxI2pwdxqsKW

[2015-10-31 18:23] gavinking commented on #1578
@renatoathaydes can you get me some more stack trace than that? That's just not enough information to be useful.

[2015-10-31 22:50] renatoathaydes commented on #1578
I'm surprised the automatic Eclipse report does not give you that.

Will update here when I get this again (I was getting this all the time writing new classes with many compiling errors, have you never got this yourself???)

[2015-10-31 22:51] gavinking commented on #1578
No, I have never seen this. And I'm using the IDE every day.

[2015-11-01 01:07] gavinking opened #1579 "broken refinement completion"
Given:

[code]

Attempt to refine `contains()`, `union()`, or `intersection()`.

[2015-11-01 07:49] sgalles opened #1580 "paste of string template into string should not escape double-backticks"
To create a complexe `string` expression I very often copy and paste the same expression with a string template.

I start with
[code]
and copy and paste the first line I get

[code]
Instead I propose :
* do not escape double-backticks
* escape isolated backticks

Or simpler : do not escape backticks at all !

[2015-11-01 10:00] gavinking commented on #1574
I fixed this last night in @57e1466.

[2015-11-01 10:00] #1574 closed

[2015-11-01 10:18] gavinking opened #1581 "popup context info (IContextInformation) for ParametersCompletionProposal"
`ParametersCompletionProposal` is a variation of `InvocationCompletionProposal` for `value`s of callable type. There are no parameter names to display in a hover, but we should at least have a hover which displays the *types*.

[2015-11-01 10:20] gavinking opened #1582 "extra quick fix to change void to return type"
Given:

[code]

I should be able to quick fix my way out of that.

[2015-11-01 10:20] gavinking commented on #1582
Note: this is super-easy to implement but requires a tiny change (error code) to the typechecker, so not for 1.2.1.

[2015-11-01 10:25] gavinking opened #1583 "linked mode argument proposals broken for String.split()"
Completing `String.split()` results in something screwy with the linked mode. I'm not sure is this is a bug in 1.2.0, or only appeared after the merge of @bjansen's completions work, but need to investigate.

[2015-11-01 10:28] gavinking commented on #1579
Not sure if this is a bug in 1.2.0, but probably not. It _probably_ happened after the merge of @bjansen's work on completions, but I need to make sure.

[2015-11-01 11:34] bjansen commented on #1582
Please implement this in ceylon-ide-common so that I can easily add the same quick fix to IntelliJ.

[2015-11-01 11:35] gavinking commented on #1579
Thanks to @ASzc for confirming that this is a problem specific to 1.2.

[2015-11-01 11:36] gavinking commented on #1583
Thanks to @ASzc for confirming that this is a problem specific to 1.3.

[2015-11-01 12:21] bjansen commented on #1579
Fixed by https://github.com/ceylon/ceylon-ide-common/commit/ccf316dc4090f88720f2bcae03c3ee33bb92e519

[2015-11-01 12:21] #1579 closed

[2015-11-01 12:23] gavinking commented on #1579
Thanks!

[2015-11-01 13:57] bjansen opened #1584 "Breakpoints in else clause of switch statements don't work"
[code]

If I put a breakpoint in the `else` clause, the debugger never stops there but the print is executed.

[2015-11-01 14:26] bjansen commented on #1583
I was able to track to problem down to `ParameterContextValidator.findCharCount()` that was badly converted to Ceylon: it uses a lot of fall-through and breaks, which don't work in Ceylon switches.

I pushed a fix that works (https://github.com/ceylon/ceylon-ide-common/commit/364a5123ba615177c4dee90a675605d6fcfa39ff), but I'm not satisfied with the general algorithm that now uses boolean flags and

[2015-11-01 17:59] gavinking commented on #1583
@bjansen is that better, do you think?

[2015-11-01 20:43] #1581 closed

[2015-11-02 00:03] gavinking opened #1585 "completing member named "interface" does not escape with \i"
In the 1.2.0 release, autocompletion produces, `X().\iinterface`, but in current master, it produces `X().interface`.

@bjansen would you take a look, please?

[2015-11-02 07:56] bjansen commented on #1585
Fixed in https://github.com/ceylon/ceylon-ide-common/commit/edb3be2ca45817ae19503ff692a613c82ec897f3.

Perhaps we should open those kind of issues in ceylon-ide-common instead, since they will likely affect other IDEs as well?

[2015-11-02 07:56] #1585 closed

[2015-11-02 07:57] bjansen commented on #1583
Yes it's better, I can close the issue now. Thanks!

[2015-11-02 07:57] #1583 closed

[2015-11-02 10:20] davidfestal commented on #1576
@gavinking : could you add the stacktrace ?

[2015-11-02 10:36] davidfestal commented on #1571
@gavinking : can you precise a bit the scenario to reproduce the problem ?

[2015-11-02 11:01] gavinking commented on #1571
Well, for example, try it on `comprehensions.md in the `ceylon-lang.org` project.

[2015-11-02 11:07] gavinking commented on #1576
Dude, this is *incredibly* easy to reproduce: just try debugging something, anything.

[2015-11-02 11:18] gavinking opened #1586 "anonymous function argument completions"
Currently, autocompleting `"".split` produces something like this:

[code]

That's annoying as least as often as it is helpful. I think it should generate this:

[code]

And offer `(Character ch) => nothing` as a linked mode argument completion.

[2015-11-02 16:21] #1573 closed

[2015-11-02 16:22] davidfestal opened #1587 "reintegrate to `ceylon-ide-common` the last changes to the `ExtractValueRefactoring`"
started locally but still not pushed

[2015-11-02 17:07] davidfestal commented on #1587
pushed now.
@gavinking : please could you check that after this change the `Extract Value` refactoring works as expected in respect to anonymous functions.

[2015-11-02 17:09] davidfestal commented on #1587
closing in the meantime

[2015-11-02 17:09] #1587 closed

[2015-11-02 17:11] davidfestal commented on #1573
@gavinking : I made many tests with linked mode, preview, dialog, etc ... and it seems to work correctly.
However if you succeed in reproducing the CCEs that made you rollback these changes before 1.2.0, please open an issue and assign me.

[2015-11-02 17:19] gavinking commented on #1573
@davidfestal when I extract the anon function:

    "".split((Character ch) => nothing, false, true);

it doesn't allow me to rename the function in linked mode.

[2015-11-02 17:20] davidfestal commented on #1573
let me test is right now.

[2015-11-02 17:46] davidfestal commented on #1573
This works for me here.

[2015-11-02 19:57] davidfestal opened #1588 "Internal error occurred during: "Retrieving Fixes""
[code]

[2015-11-03 11:09] bjansen opened #1589 "Run the "Preparing completions" task in a background thread."
Currently, when you invoke code completion in a project that has huge dependencies, it can take a while before the popup appears. The IDE is completely frozen while it is preparing completions. It would be nice if we could continue typing while stuff is being computed in the background.

Also, it is currently not possible to stop this preparation, the red square is useless because it keeps computi

[2015-11-03 11:36] tombentley opened #1590 "Refactorings shludn't break triple quoted strings"
I had a method invocation like this:

    foo(x, """some
              string""");

And I activated the "Convert to named arguments" refactoring and because the argument name moves the opening `"""` to the right the triple quoted string became a syntax error.

[2015-11-03 14:45] gavinking opened #1591 "export ceylon module wizard totally broken"
UGH, the Export Ceylon Module to Module Repository wizard seems to be simply broken :-(

[2015-11-03 14:49] davidfestal commented on #1591
on the last 1.2.0 release ?

[2015-11-03 15:04] gavinking commented on #1591
This is nonsense. It works. I had an error in my project.

[2015-11-03 15:04] #1591 closed

[2015-11-03 15:40] tombentley opened #1592 "Quick fix for "Implicit use of default type arguments is deprecated""
If I write a type like `Attribute` (where the type arguments take their default values) I get a compiler warning *which mentions a fix*: "Implicit use of default type arguments is deprecated (change to Attribute<>)", but there is no quick fix for that suggested fix.

[2015-11-04 10:36] tombentley opened #1593 "Clicking on failed test should jump to failed assertion, not test method decl"
When I double click on a failed test in the test plugin the editor changes to highlight the `test`-annotated declaration which failed. What I really want is for it to highlight the failed `assert`, `assertEquals` or whatever within that test, because my `test` methods frequently have several assertions in them and picking through the failure stacktrace to find the one which failed is not much fun.

[2015-11-04 23:33] jvasileff opened #1594 "Wrong type in mouseover of `is` narrowing expression"
In this code, `si` appears three times:

[code]

But only in the third occurrence do we know it is a `String`. Therefore, I believe the mouseover for the second occurrence should report the type of the original declaration (`String | Integer`) rather than the replacement declaration (`String`) as it currently does.

[2015-11-04 23:38] jvasileff commented on #1594
I suppose there may be some implementation complexity related to what `F3` (Go to Selected Declaration) does. But I think I've usually wanted `F3` to take me to the *very* original declaration.

Currently, `F3` on the thirds occurrence takes you to the second. `F3` on the second occurrence *keeps* you on the second.

[2015-11-05 08:20] gavinking opened #1595 "completion broken for overloaded classes"
On master (only), I can't complete parameter lists of Java classes with overloaded constructors. e.g. `java.lang.String`.

@bjansen could you take a look please?

[2015-11-05 08:49] #1595 closed

[2015-11-05 09:04] gavinking commented on #1595
Thank you sir.

[2015-11-05 19:52] thradec commented on #1593
Done, via 15cfdaf.

[2015-11-05 19:52] #1593 closed

[2015-11-05 20:24] gavinking opened #1596 "hover over value or function should offer "specify explicit type""
In the released IDE, when you hover over `value` or `function`, it offers you the ability to "Specify explicit type". That is gone on master.

@bjansen @davidfestal I assume this is a side-effect of the abstraction work.

[2015-11-05 21:06] bjansen commented on #1596
Yeah sorry that's a thing I didn't have time to abstract yet, and I wasn't sure I was gonna implement it in IntelliJ, because such features don't exist in the java IDE. But then again, we are trying to build the best IDE ever, so I think I'll give it a try tomorrow.

[2015-11-05 21:43] jvasileff opened #1597 "suppressWarnings doesn't work when there are also errors"
In an eclipse project, create a file with:

[code]

Then, in a second file, introduce an error, and save. The code above will be flagged with a warning that will remain even after fixing the error and saving the second file.

The warning is not reported under the same circumstances with either the JS or JVM CLI compilers.

[2015-11-06 11:40] bjansen opened #1598 "Linked mode broken in ControlStructureProposal"
I implemented a new `EclipseControlStructureProposal` that allows transforming `a.b.c` to `if (exists val = a.b.c`, but the linked mode is broken: it draws a rectangle around `val` and suggests correct names, but once you select a proposal it breaks the code.

Instead of `if (exists string = a.b.c)` I get `stringval = a.b.c)`. I'm not sure why that happens, it works fine in IntelliJ so it looks li

[2015-11-06 12:04] #1596 closed

[2015-11-06 19:25] thradec commented on #1557
For navigation from stack-trace, I'm reusing `CeylonPatternMatchListenerDelegate`, which doesn't support javascript for now and I guess, that we will need source maps for that at first, which aren't implemented in ceylon-js compiler yet.

@chochos can you confirm?

[2015-11-07 11:06] gavinking opened #1599 "from Safe Delete let me open usages in search results"
Safe Delete presents me with a list of usages in a modal dialog. It would be good if I could easily close the dialog and move the usage list to the search results view.

[2015-11-07 11:34] gavinking opened #1600 "F2 is broken"
F2 is supposed to pop up the regular documentation hover, by on master it is activating the *expression* hover. (This bug is not happening in 1.2.0.)

@bjansen surely a side-effect of the abstraction work.

[2015-11-07 14:09] DiegoCoronel opened #1601 "NPE in module.ceylon when importing maven jar"
On windows environment, using latest _master_ build:

with this:
[code]

i got this:
[code]

[2015-11-07 14:18] DiegoCoronel opened #1602 "Autocomplete for import is duplicating module import"
On windows environment, using latest master build:

with this:
[code]

when in any ceylon file i try to autocomplete for example: ```import person_api.rest.r``` and with Ctrl+Space then is duplicates the import in module.ceylon.
[code]

[2015-11-07 14:37] DiegoCoronel opened #1603 "Rename module does not rename its packages"
On windows environment, if i have a ceylon module with several packages and rename the module using the assistant then the packages of this module are not renamed

[2015-11-07 14:54] DiegoCoronel opened #1604 "Allow Clicking a method and jump straight to the implementation"
This is a really usefull feature we have for java, when using interfaces or subclasses and we Ctrl + Clik in any method name we have the options: ```Go to Implementation```, ```Go to super implementation```, ```Go to declaration```, etc...
This is a feature Im using all the time while programming in java and I miss on Ceylon

[2015-11-07 15:09] gavinking commented on #1604
@DiegoCoronel Shift-F3?

[2015-11-07 15:10] DiegoCoronel commented on #1604
No, it does nothing...

[2015-11-07 15:11] DiegoCoronel commented on #1604
I can see it with in context, but its not enable

[2015-11-07 15:11] gavinking commented on #1604
Navigate > Go to Refined Declaration then (not sure what the accelerator is on Windows)

[2015-11-07 15:12] DiegoCoronel commented on #1604
I tried to implement the interface in same module, but it does not work also... Im trying it selecting the method name in interface and shift+f3, and in context menu its disable too

[2015-11-08 12:55] bjansen commented on #1600
Yeah about that, I thought I found a bug in DocumentationHover, and fixed it in the Ceylon version. This issue is a side-effect of my fix.

Take a look at this code: https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.eclipse.ui/src/com/redhat/ceylon/eclipse/code/hover/DocumentationHover.java#L359-L360

I think the correct reasoning should be: if the selected text is

[2015-11-08 13:11] bjansen commented on #1602
I can't reproduce that :(

Are `person_api` and `person_impl` in the same project? Do you have the same problem if you import things from the SDK?

[2015-11-08 16:24] lukedegruchy opened #1605 "Feature Request: Keyboard shortcut for Run As"
Currently, there is no keyboard shortcut that behaves the same as "Run As >" for a given Ceylon file with a shared top-level function or unit test.

This in contrast to SHIFT-Control/Command F11, which will only execute the previously executed top-level function or unit test.

This is a feature request to introduce this.  Gavin suggested something like Command/Control 4 X.

[2015-11-08 16:26] gavinking commented on #1605
I propose several new shortcuts with the format ⌘4 X for Run As > Java, Run As > JavaScript, Run As > Test, etc.

[2015-11-08 16:28] gavinking commented on #1605
@davidfestal I would need your help with this, since I find the Run/Debug code all incredibly convoluted (not your fault, it's the Eclipse APIs as usual).

[2015-11-08 20:28] gavinking commented on #1600
Well as far as I can tell, the current behavior is exactly backwards.

[2015-11-08 20:34] gavinking commented on #1600
What that code is supposed to be saying is: if the hovered node is *inside* the selection, display the hover for the selected expression. Right now it says the opposite.

[2015-11-08 20:39] #1600 closed

[2015-11-08 20:39] gavinking commented on #1600
Fixed.

[2015-11-08 20:45] bjansen commented on #1600
Yeah I know it's backwards, because I made it that way. Fix your fix, if you select a single character in a multi-char string, and hover that character, it won't display this character's information. It only works if the string contains a single char. That's why I inverted the condition.

[2015-11-08 21:13] DiegoCoronel commented on #1602
@bjansen so, i tried again and Im able to reproduce 100% with these steps:
- In same project create module Foo and module Bar
- In Foo create a package and class: foo.testimport.Foo
- in module Bar import module Foo
- In run.ceylon type: ```import { foo.testimpor``` and autocomplete with option ```{...}```
- Now module.ceylon is with import of Foo duplicated

[2015-11-09 07:41] masoodahm opened #1606 "Eclipse unexpected behavior"
hi, I get an exception "`The ExpressionVisitor caused an exception visiting a InvocationExpression node: "com.redhat.ceylon.model.loader.ModelResolutionException: JDT reference binding without a JDT IType element : com.google.common.cache.Cache" at com.redhat.ceylon.eclipse.core.model.JDTModelLoader.toType(JDTModelLoader.java:1148)`"

when I try to run my code in eclipse, but it compiles and runs

[2015-11-09 07:51] gavinking commented on #1600
@bjansen well the cause of that is `SourceInfoHover.getHoverRegion()` which I copied from the JDT version that selects the current word. I could change it back to just `return new Region(offset,0)`.

[2015-11-09 07:53] gavinking commented on #1606
@masoodahm thanks for reporting this.

[2015-11-09 08:35] bjansen commented on #1602
OK, I was able to reproduce it.

[2015-11-09 08:38] bjansen commented on #1602
This doesn't happen when `foo.testimport` is shared, so I think the package shouldn't even be proposed if it's not shared.

[2015-11-09 09:03] bjansen commented on #1602
As I suspected, this also happens in Ceylon IDE 1.2.0.

The completion tries to find a *visible* package that starts with `foo.testimpor`, and if it's not found it looks for *any* package with that name in other module repositories, even if they are not shared.

[2015-11-09 09:08] bjansen commented on #1602
@gavinking I'm thinking of two solutions here:

* import the non-shared package and do not modify modules.ceylon, this will underline the import statement and let the user know that the package is not shared
* do not add the non-shared package to the proposals, which seems to be tricky because `ModuleVersionDetails` does not store package visibility

wdyt?

[2015-11-09 10:05] bjansen commented on #1602
Fixed on master in https://github.com/ceylon/ceylon-ide-common/commit/1c082e1af5aab53833fa1cdc038ffc6dbd869de8

Queried packages won't be added to the proposal list if they come from an already imported module.

[2015-11-09 10:24] gavinking commented on #1602
Well a non-`shared` package in a different module is never visible to us, so should never be proposed.

[2015-11-09 10:28] bjansen commented on #1602
I don't know how to avoid proposing that: when we query the module repository, all it gives us is a list of packages, with no information on their visibility.

[2015-11-09 10:31] gavinking commented on #1602
Well I think it shouldn't do that. That's inefficient and confusing to the user. Could you open an issue against CMR?

[2015-11-09 10:36] bjansen commented on #1602
I fixed the original problem on master and 1.2.0-fixes, the module is not imported a second time.

The package visibility issue has been filed here: https://github.com/ceylon/ceylon-module-resolver/issues/133

[2015-11-09 10:36] #1602 closed

[2015-11-09 19:07] chochos commented on #1557
I can confirm that source maps are not implemented.

I changed the stack trace that is printed in JS exceptions for 1.2, it now includes source location _but_ it's for the generated JS. I don't know if that is usable in the meantime...

[2015-11-10 15:48] gavinking opened #1607 "Collect Parameters completely broken for named args lists in other file"
In one source file:

[code]

In another:

[code]

If I apply Collect Parameters to `row` and `column`, I get broken code in the second file.

[2015-11-12 22:05] gavinking opened #1608 "error compiling SDK in latest Eclipse"
I get:

[code]

And

[code]

[2015-11-12 22:34] gavinking commented on #1608
Apparently this was caused by the stupid ObjectTeams patch the Eclipse pushed on me.

[2015-11-13 02:33] marklester opened #1609 "Stop button doesn't kill nodejs in eclipse"
Stop button doesn't kill nodejs in eclipse. I have to find the process and kill it manually. This is on centos 7
[code]
project is set to compile to javascript

[2015-11-13 13:36] gavinking opened #1610 "test plugin completely broken"
I test plugin doesn't seem to get installed at all. That's a lot worse than a couple of days ago, when it just wouldn't actually run any tests.

[2015-11-13 13:38] gavinking opened #1611 "spurious error in Integer.ceylon"
Opening `Integer.ceylon` from its source archive gives me this spurious error:

    Illlegal reference to native declaration runtime: native declaration Integer has a different backend

Likely a side-effect of https://github.com/ceylon/ceylon-spec/issues/1468.

[2015-11-13 13:59] quintesse commented on #1611
Actually probably not related, the error messages are not the same and only deal with `module` and `import`. Personally I think this was there before but just nobody noticed. Anyway, I'll take a look.

[2015-11-13 17:14] cmcdee opened #1612 "Using Ceylon from Java is problematic"
To reproduce: Create a workspace with two projects, one Ceylon, one pure Java.

Goal: use Ceylon objects from Java.

To actual get this to work properly in Eclipse Mars, the following magic is required, otherwise runtime errors occur when using the metadata loader and/or JDT gets out of sync:

1. In the build configuration of Ceylon, export Ceylon Language Module and Ceylon Project Modules

2. In

[2015-11-13 17:29] gavinking opened #1613 "Enable Ceylon Builder does not sync source paths"
When performing Enable Ceylon Builder on an existing Java project, we can be left with a broken project because the generated Ceylon config file isn't sync'd with existing source paths.

[2015-11-13 17:31] gavinking opened #1614 "UI for resolving conflicts between Ceylon config and JDT config"
This UI is _really_ confusing. Even I don't understand it.

[2015-11-13 17:42] cmcdee commented on #1613
Also... is there a way to disable the builder once enabled?

[2015-11-13 18:56] gavinking opened #1615 "accelerator to do linked-mode string interpolation"
We need a keyboard accelerator to insert 4 backticks and propose things to interpolate in linked mode.

[2015-11-14 18:23] DiegoCoronel commented on #1210
+1

[2015-11-15 12:46] gavinking opened #1616 "Quick fix for "Non-abstract class has enumerated subtypes" is broken"
There is supposed to be a quick fix which marks the class "abstract".

This bug doesn't seem to affect the 1.2.0 release.

[2015-11-16 18:29] bjansen commented on #1616
I can see that quick fix, but only after I save the file.

[2015-11-17 09:52] #1616 closed

[2015-11-17 10:08] gavinking commented on #1616
Thanks Bastien.

[2015-11-17 22:22] matejonnet opened #1617 "Adding Ceylon Eclipse add-on to fedora "Software" GUI installer"
When you install Eclipse on Fedora, you have a list of Eclipse add-ons where you can select which one you want to install with Eclipse. To skip the Ceylon plugin installation steps, it would be nice to see Ceylon listed there.

[2015-11-18 09:49] quintesse opened #1618 ""Module not meant for this backend" error moves it to "(default module)""
To reproduce:

 - Create a project and only enable the JS backend
 - Create a module called `javaimport`
 - Mark its module descriptor `native("jvm")`
 - Observe how Eclipse moves the module to "source/(default modules)"

[2015-11-19 23:58] gavinking opened #1619 "type argument substitution in doc hover is broken"
When hovering over `map` in the following statement:

    "asdfas".map((ch) => ch.uppercased);

I am supposed to see the signature of `map()` with type arguments substituted. This is currently completely broken.

@bjansen would you take a look at this please?

[2015-11-20 18:22] gavinking opened #1620 "autocompletion broken for modules imported from maven"
I have a project which imports Hibernate from maven and I can't autocomplete members of `EntityManager`, among many other completion-related problems.

[2015-11-20 18:26] gavinking commented on #1620
For reference:

[code]

[code]

[2015-11-20 19:04] bjansen opened #1621 "Use the new FindSubtypesVisitor"

[2015-11-20 19:08] bjansen commented on #1620
[code]

Brrr, too scary for me!

[2015-11-20 19:41] gavinking opened #1622 "error in log"
I'm seeing this error in the log:

[code]

[2015-11-20 19:42] gavinking commented on #1622
This appears to affect both branches.

[2015-11-20 21:01] gavinking commented on #1622
I have squashed the index out of bounds, but I don't know what was causing it, so this might not be a complete fix.

[2015-11-21 20:02] gavinking opened #1623 "broken quick fix"
Given this code:

[code]

There is supposed to be a quickfix `Add type parameter 'Element' to 'PersistentSet'`. It has disappeared in recent builds.

[2015-11-23 09:26] bjansen commented on #1619
Fixed.

[2015-11-23 09:26] #1619 closed

[2015-11-23 09:34] bjansen commented on #1623
If the bug is on master, shouldn't the milestone be 1.3 instead of 1.2.1?

[2015-11-23 09:38] bjansen commented on #1623
[code]
Well, time to do it then :smile:

[2015-11-23 09:44] gavinking commented on #1619
Thanks Bastien.

[2015-11-23 09:44] gavinking commented on #1623
I guess so:

[2015-11-23 09:46] #1623 closed

[2015-11-23 09:55] bjansen commented on #1621
Note: the Ceylon version of this visitor will also recognize this object expression as a subtype of `Int`:

[code]

[2015-11-23 10:08] #1621 closed

[2015-11-23 10:16] gavinking commented on #1623
Thanks mate!

[2015-11-23 18:22] ASzc commented on #1505
This reappeared again after I updated to 1.2.1 soon after 1.2.0. I think the reason it worked with the 1.2.0 version was the SDK modules at version 1.2.0 were available outside the project, thus no need to recompile.

It doesn't look like this is easily fixable. One thing that would make this more tolerable is if a new user operation (saving, adding a package, etc.) cancelled the currently running

[2015-11-24 13:45] davidfestal commented on #1620
@gavinking, @bjansen: strange, with exactly your project and the following run function:
[code]
I can auto-complete the members of `em` without any problem.

Is there some use case I missed to be able to reproduce the error ?

[2015-11-24 14:00] bjansen commented on #1620
Can you autocomplete `EntityManager` when it's not imported?

[2015-11-24 14:03] davidfestal commented on #1620
In fact to write this code, I didn't enter the import manually. Just typed `Entity`, and the auto-completion proposed `EntityManager` and then added the import.

[2015-11-24 14:03] davidfestal commented on #1620
didn't see anything not working as normal here.

[2015-11-24 14:32] bjansen commented on #1620
I can still see the same error on a fresh build when I run Eclipse from Eclipse.

[2015-11-24 14:36] davidfestal commented on #1620
strange

[2015-11-24 14:39] bjansen commented on #1620
Oops sorry, I forgot the `overrides.xml`, everything seems to work fine (even in my main Eclipse instance).

[2015-11-24 14:42] bjansen commented on #1620
@gavinking I don't see any particular problem here, could you test with a fresh build and let me know if you still have problems?

[2015-11-25 00:30] DiegoCoronel opened #1624 "support overrides.xml per module"
Currently its not possible to have a project with modules and each one with its own overrides.xml. Im trying for example to have one project with modules for: SpringBoot and Arquillian...

[2015-11-25 01:01] gavinking commented on #1624
The lack of assemblies is beginning to bite us...

[2015-11-25 01:17] DiegoCoronel commented on #1624
I see it with good eyes, we are getting further and further away and with it we are finding some needs , definitely we can already integrate with various frameworks used by the market , there are only some polishing so that everything is smooth in the development

[2015-11-25 11:51] tombentley opened #1625 "Clicking on failed test... part 2"
It appears that the changes made to fix #1593 only work for `ceylon.test`'s assertion functions, and not for the `assert` statement. Could we fix that?

[2015-11-25 16:39] simonthum opened #1626 "Misleading error(s) on absent JRE in class path"
It was possible before to have project without JRE in the eclipse class path, apparently the IDE created them that way in one of the prereleases.

The missing line in .classpath:

[code]

fixes these issues, i.e. class files actually get generated. The project itself was intended to be pure ceylon (without native or interop), and compiled fine in previous IDE versions without the path added.

It w

[2015-11-26 01:07] gavinking commented on #1626
WDYT, @davidfestal?

[2015-11-26 10:39] thradec commented on #1625
yep, thanks, fixed by d0a8a59

[2015-11-26 10:39] #1625 closed

[2015-11-27 09:27] bjansen opened #1627 "NPE when visiting annotations with default arguments"
This looks like it is a bug in the typechecker, but it only happens in Eclipse, not from the CLI so I think the real problem is in the JDT model.

Steps to reproduce:

* create a new project with a new module like this:
[code]
* create a new fancy annotation like this one:
[code]

Note that we can omit the second argument when we call `route()` on class `Foo`, everything works fine.

* create a se

[2015-11-27 19:03] gavinking commented on #1620
Guys I just retested with a brand new project, and I still get the same broken behavior.

[2015-11-27 19:05] gavinking commented on #1620
Oh fuckety fuck fuck fuck not again.

I am a fucking moron.

*Again* I'm wasting you guys' time because I'm incapable of remembering that I have filters set up.

For fucks sake.

Sorry.

[2015-11-27 19:05] #1620 closed

[2015-11-27 19:22] quintesse commented on #1620
One option is that you're a moron , the other option is that the GUI doesn't really do a good job of showing what's really happening :)

[2015-11-27 19:35] gavinking commented on #1620
In which case it's still my fault :-(

[2015-11-27 19:40] quintesse commented on #1620
Well the filtering stuff is Eclipse, isn't it?

[2015-11-27 19:44] gavinking commented on #1620
Nope.

[2015-11-28 19:21] gavinking opened #1628 "fix the README"
The build instructions in the README are currently wrong, and are wasting people's time.

[2015-11-28 19:46] quintesse commented on #1628
I just fixed everything that I could find, but without testing it.But I'm sure it's more correct already.

[2015-11-28 22:02] ASzc opened #1629 ""was unexpectedly a member" compiler bug"
I'm currently working on [ceylon.buffer](https://github.com/ASzc/ceylon-sdk/tree/io-buffer-split/source/ceylon/buffer), and am unable to execute tests because of backend errors in the IDE, maybe related to Java interop.

I've have created an entirely fresh eclipse instance to try and fix this, but the problem persists. How to reproduce:

Compile an IDE update site from `master`, I have these commi

[2015-12-01 08:58] xkr47 opened #1630 "Illegal characters in module version in module.ceylon should generate compile error"
If I write bad characters in the version string, like:

    module com.example.hello "1.0.0§" { ... }

.. then I don't get any compile errors, but instead a runtime error:

    ceylon run: Invalid module name or version: contains invalid characters

I think it would be nice for the compiler to catch that, as an error. The runtime check is good for safety of course - the error message could be twea

[2015-12-01 10:40] gavinking commented on #1630
Is this issue mis-filed? I don't think it's a bug in the IDE.

[2015-12-01 13:30] gavinking opened #1631 "bugs in cross-language rename"
I just found three small bugs in cross-language rename:

1. The IDE will let me attempt to rename a Java declaration from a reference in the Ceylon editor. We should either make this work or disable it.
2. Renaming a Ceylon `value` from the Ceylon editor does not impact references to the getter from within Java.
3. Similarly, renaming a Java getter method from the Java editor does not impact refer

[2015-12-01 15:04] gavinking opened #1632 "bug in Introduce Type Alias"
This refactoring is a bit flakey. In particular I get:

[code]

[2015-12-01 16:10] gavinking commented on #1632
I think this is mostly fixed now. The only issue now is a different one, namely that it doesn't copy default parameter args.

[2015-12-01 23:06] ASzc commented on #1629
Next week I'm going to have a lot of time to work on the SDK. So, if we could get this resolved before then that would be great. Thanks.

[2015-12-02 14:39] gavinking opened #1633 "hovering over 1.0.integer does not show thrown exception type"
When I hover over `integer` in `1.0.integer` I don't see the content of the `throws` annotation.

[2015-12-02 14:39] gavinking commented on #1633
@bjansen does this also affect the IntelliJ plugin?

[2015-12-02 14:44] bjansen commented on #1633
This expressions is not valid:

and `float` navigates to the parameter of `Float`, so I don't know where it should find a `throws`.

FTR I'm using `value a = 1.0.float`

[2015-12-02 14:48] gavinking commented on #1633
@bjansen WDYM, it says `1.0.integer`. *Whistles a happy tune...*

[2015-12-02 14:48] bjansen commented on #1633
I can see the throws part in IntelliJ.

[2015-12-02 15:24] gavinking commented on #1629
@ASzc I just rebuilt and updated the IDE and reinstalled it in Eclipse 4.5.1. I was able to compile the whole SDK and run the test suite. Apart from some failures in the tests for `ceylon.test`, I did not notice any problems.

[2015-12-02 18:12] bjansen commented on #1633
This happens because the [following condition](https://github.com/ceylon/ceylon-ide-common/blob/master/source/com/redhat/ceylon/ide/common/doc/DocGenerator.ceylon#L1026) is not true:

[code]

`typeArgTerm` is the class literal between backticks in `Float.ceylon`:

[code]

The interesting part is that while `typeArgTerm.declaration` is null, `typeArgTerm.type.declaration` is not, which means the mo

[2015-12-02 19:20] ASzc commented on #1629
@gavinking Thanks for checking. I don't know what would be different with my environment then. Does JDK version make a difference? I have OpenJDK 7 and 8 installed, with 7 as the default and only 7 configured in Eclipse.

[2015-12-02 19:30] gavinking commented on #1629
I was using 8 I believe.

[2015-12-03 12:45] tombentley opened #1634 "Syntax colour named argument names (and parameter names) differently"
I find it hard to parse a named argument invocation formatted on a single line

    assertEquals { actual = scope.find("Scope"); expected = `class Scope`; };

But I think it would be easier if I could pick out the argument names as being a different colour.

[2015-12-03 13:08] gavinking opened #1635 "hierarchy view misses supertypes on workspace startup"
From a newly started workspace, open `SearchableList` or `List`, hit F4 to pull up the hierarchy view, and note the missing supertypes.

This problem does not seem to occur if I've already done something to force the supertypes to be loaded, so I suspect something model-loader related. Hence one for you, I suppose, @davidfestal.

[2015-12-03 14:32] gavinking opened #1636 "very flakey quick fixes for type constraint violations"
Given the following code:

[code]

All three lines have the exact same error. The first error offers three quick fixes. The second error offers one. The third offers none.

All should offer three quick fixes.

[2015-12-03 14:42] gavinking opened #1637 "font size for file name in doc hover"
The source file name is too big in the doc hover. This doesn't seem to affect the 1.2.0 release.

[2015-12-03 14:52] gavinking opened #1638 "overrides file created in new project wizard doesn't "stick""
If I create an `overrides.xml` in the New Ceylon Project wizard, the file itself gets created, but it doesn't get added to the configuration, so I have to go back and set it again.

[2015-12-03 15:18] bjansen commented on #1637
On my machine, they have the same size as before:

<img width="250" alt="capture d ecran 2015-12-03 a 16 15 58" src="https://cloud.githubusercontent.com/assets/281528/11564429/7835d126-99d9-11e5-99d7-eb535fe48822.png">
<img width="257" alt="capture d ecran 2015-12-03 a 16 17 11" src="https://cloud.githubusercontent.com/assets/281528/11564428/78341584-99d9-11e5-9e5a-36a163c5e59f.png">

[2015-12-03 15:21] bjansen commented on #1637
Links are a bit bigger than regular text, but I think this is due to the monospace font which is a bit larger.

[2015-12-03 15:24] gavinking commented on #1637
You are using Monaco, right? Try switching to Inconsolata 13

[2015-12-03 15:34] bjansen commented on #1637
OK I can see it now.

[2015-12-03 16:12] #1637 closed

[2015-12-03 16:18] gavinking commented on #1634
Actually I'm not sure I like this anymore. Consider:

[code]

It seems to me that both occurrences of `name` should have the same color. But I need to typecheck the code to do that.

[2015-12-03 16:26] gavinking commented on #1637
Thanks.

[2015-12-03 17:29] gavinking commented on #1632
Ah, and that last prob is due to https://github.com/ceylon/ceylon/issues/2167.

OK, closing.

[2015-12-03 17:29] #1632 closed

[2015-12-03 21:41] gavinking commented on #1636
Done.

[2015-12-03 21:41] #1636 closed

[2015-12-04 09:28] xkr47 commented on #1630
I was not sure if the on-the-fly compiler in Eclipse is the same as used on the command line, so I reported it against the tool where I experienced it..

[2015-12-04 10:11] tombentley opened #1639 "suppressWarnings() added to type parameter declaration"
[code]

the compiler produces a "unused declaration" warning about `T`, but the "Suppress warnings ..." quick fix adds the annotation to the declaration of `T` (which is not legal syntax) it should add it to the declaration of `Baz`.

[2015-12-04 12:09] tombentley opened #1640 "type hover should show TC type as well as written type"
The typechecker can simplify `Usable&<Resource|Null>` to `Usable&Resource`, but when I hover over that type in the IDE it shows me the unsimplified type.

It might be nice if, as well as the "Abbreviation of: ", it also showed "Simplifies to: " in those cases where the type the user wrote is can be simplified.

[2015-12-04 14:59] thradec opened #1641 "In Compare results dialog actual/expected values are swapped"

[2015-12-04 15:00] lucaswerkmeister commented on #1641
I disagree. Expected – Actual makes much more sense to me.

[2015-12-04 15:05] thradec commented on #1641
well there is no right order, and this fix at least the difference with `assertEquals` (spotted by @tombentley today)

[2015-12-04 15:05] #1641 closed

[2015-12-04 15:06] lucaswerkmeister commented on #1641
well to me there is, otherwise I wouldn’t have commented :)

[2015-12-04 15:08] thradec commented on #1641
FTR In first implementation of assertEquals it was reversed, but then somebody complained. Personally, I don't care, if you find enough voices, we can switch it every year ;-)

[2015-12-04 15:24] davidfestal opened #1642 "cross-project incremental build is broken after the model abstraction"

[2015-12-04 15:30] tombentley opened #1643 "Paste affects horizontal scrolling"
In the Ceylon editor if:

* You have a long line and
* You've horizontally scrolled the editor viewport and
* You paste anywhere on that line

the pasting seems to have the side-effect of horiztonally scrolling the editor line back to the beginning of the line, which is really annoying.

[2015-12-04 15:40] tombentley commented on #1641
Thanks @thradec!

[2015-12-04 16:57] #1640 closed

[2015-12-04 17:02] gavinking commented on #1640
I have implemented this. But I was surprised, @bjansen, to find that this little bit of functionality hasn't been abstracted yet. There's no selected type hover in IntelliJ?

[2015-12-04 17:16] bjansen commented on #1640
By default the popup is shown using a keyboard shortcut, not on hover. I think it would be possible to add the same feature when text is selected.

I'll dot it in https://github.com/ceylon/ceylon-ide-common/issues/19

[2015-12-05 11:06] xkr47 commented on #1627
:+1: fails in eclipse, works when compiled from command line

[2015-12-05 15:47] jvasileff opened #1644 "unable to build sdk with latest Eclipse plugin"
With a clean build of the latest Eclipse plugin (eod December 4th), I can't build the `ceylon.transaction` and `ceylon.test` modules in Eclipse. There seems to be a problem with transitive dependencies declared in `module.properties` files.

I *was* able to get `ceylon.transaction` to compile by adding to `module.ceylon`:

[code]

but this should not be necessary as these are listed in `org/jboss/

[2015-12-06 11:56] ASzc commented on #1629
I've tried the following:

- Running Eclipse with JDK 8
  - Same errors as originally described
- Updating, recompiling the IDE with JDK 8, running with JDK 8
  - Old errors are still present, and the transactions module also breaks.
- Recompiling the IDE with JDK 7, running with JDK 8
  - Same errors as originally described, plus the transactions module stayed broken. I'm assuming something in th

[2015-12-06 13:00] gavinking commented on #1629
Well the IDE is currently broken and @davidfestal is working on it.

[2015-12-06 20:11] lukedegruchy opened #1645 "Ceylon Formatting preferences should be in general preferences"
As of today's ceylon-ide build, it is not possible to configure custom ceylon formatter preferences in the workspace settings.   Instead, only each project can have its own formatter preferences.  Exporting from one project and importing from another project is required to share these preferences.

These should be available in the workspace settings.

[2015-12-06 20:16] lucaswerkmeister commented on #1645
The problem is that the CLI tool and the IDE formatter should share the same preferences, but the CLI tool knows nothing about workspaces. You can configure *user*-wide settings in `~/.ceylon`, but that’s an even wider scope than workspace.

Should we put a configuration dialog for that into the eclipse preferences, even though it doesn’t fully comply with the usual eclipse mechanisms?

[2015-12-06 20:19] lukedegruchy commented on #1645
Personally, I'm fine with these settings being in the workspace Eclipse preferences with a nice clear warning that these settings transcend workspaces and apply to the entire user home directory.

[2015-12-07 21:46] davidfestal commented on #1644
@jvasileff : with the changes I just pushed to several GitHub repos, I was able to build the SDK again.
Can you confirm and close the issue ?

[2015-12-07 23:16] jvasileff commented on #1644
@davidfestal everything compiles and looks good. Thanks!

[2015-12-07 23:16] #1644 closed

[2015-12-08 16:33] #1642 closed

[2015-12-08 17:41] davidfestal commented on #1576
@gavinking: is it still happening with the last master ? I don't have that, and I can set breakpoints and debug on stop on them correctly.

[2015-12-08 18:10] gavinking commented on #1576
Let me check. But I think you might be right; I think it might have fixed itself already.

[2015-12-08 20:15] davidfestal commented on #1628
I fixed all the remaining paths that were wrong. It seems OK to me. @gavinking , @quintesse : do you confirmit's OK for you also ?

[2015-12-08 21:15] davidfestal commented on #1633
@gavinking , @bjansen: The reason is really simple in fact: the Java implementation of the method (in the `runtime` source directory of the `ceylon.language` project) doesn't have the `throws` annotation while the Ceylon source header declaration has it.
The `throws` annotation should be added to the Java source IMO.
@FroMage , @quintesse , @tombentley : wdyt ?

[2015-12-08 22:24] quintesse commented on #1628
Sure, I had changed those paths to always be relative to the "ceylon" folder the user starts out with, but this is okay with me too.

[2015-12-09 08:34] bjansen commented on #1628
It looks good to me.

[2015-12-09 08:40] davidfestal commented on #1608
@gavinking: so can we close this one ?

[2015-12-09 14:23] tombentley opened #1646 "violated is ZipEntryVirtualFile zipEntry=file"
[code]

[2015-12-09 14:52] gavinking commented on #1646
I thought this was already solved in the last couple of days?

[2015-12-09 14:53] davidfestal commented on #1646
I thought also. I'm looking into it to see if I forgot something

[2015-12-09 17:20] #1646 closed

[2015-12-09 17:43] bjansen commented on #1627
Investigating further, the following Ceylon code:

[code]

produces the following Java code:

[code]

and when `AnnotationLoader.readObjectValuesAnnotation()` is called on the `ObjectValue` annotation, `.ceylon.net.http.get_.class` is resolved to an `UnresolvedReferenceBinding`, which produces a  `JDTType` with `declaredClass = null`, which is the cause of the NPE.

[2015-12-09 18:01] davidfestal commented on #1627
could it a problem of visibility in the specific case of your project ?

[2015-12-09 18:04] bjansen commented on #1627
The annotation is shared, in a shared package. `ceylon.net` is also a shared import, so I think the visibility is correct. Also, the CLI seems to build just fine.

[2015-12-09 18:12] bjansen commented on #1627
I forgot to mention that if I put a breakpoint in the constructor of `JDTType`, I get two hits for the type `ceylon.net.http.get_` (the default value in my annotation):

* the first time, I get an `UnresolvedReferenceBinding` ("Unresolved type ceylon.net.http.get_")
* the second time, I get a correct `BinaryTypeBinding`

[2015-12-09 20:29] davidfestal commented on #1627
@bjansen : could share in a Gist the stackTrace of both frames, of both cases (unresolved and resolved) ?

[2015-12-09 20:45] davidfestal commented on #1627
@bjansen : the NPE occurs after the second hit but visibly uses the JDTType that was created at the first hit. That's why I would like to understand when exactly (stack trace) the 2 hits are created.

[2015-12-09 20:51] bjansen commented on #1627
https://gist.github.com/bjansen/b2c6b26ef166e58f3eff

I just noticed that I get 3 hits during the initial build (I named them 1, 2, 3 in the gist).

[2015-12-09 20:54] davidfestal commented on #1627
could you determine which of these JDTType is the JDType that finally has the UnresolvedReferenceBinding ?

[2015-12-09 21:15] bjansen commented on #1627
[Archive.zip](https://github.com/ceylon/ceylon-ide-eclipse/files/57353/Archive.zip)

Here's a simple project to reproduce the problem.

[2015-12-09 21:16] davidfestal commented on #1627
Thanks !

[2015-12-10 12:45] #1627 closed

[2015-12-10 15:36] davidfestal commented on #1608
let me close it then, and please @gavinking reopen it if you want

[2015-12-10 15:36] #1608 closed

[2015-12-10 17:25] davidfestal commented on #1606
It appears that this error comes from the google guava dependency not being shared. A typical maven interop problem that appears when maven dependencies in which some classes are transitively visible are not exported.
Using the following `overrides.xml` file:
[code]
Fixes the problem.

The real question is : why would this produce such an exception. However, the message of the root cause exception

[2015-12-10 21:43] renatoathaydes opened #1647 "IDE shuts down when test fails due to very large error message"
I have a test that fails with a large error message.

Every time this happens, the IDE dies immediately.

I run on Linux Mint with the latest stable release of the IDE and Eclipse Mars.

This is the test I run:

https://github.com/renatoathaydes/specks/blob/fb497d8d85e6caca74bb0ece43fee2fdc1c3a11a/tests/test/com/athaydes/specks/sampleSpecifications.ceylon

It fails due to a bug in the test code th

[2015-12-10 21:46] renatoathaydes commented on #1647
Eclipse error log

[eclipse-log.zip](https://github.com/ceylon/ceylon-ide-eclipse/files/58777/eclipse-log.zip)

[2015-12-10 22:14] davidfestal opened #1648 "Navigation problem in the documentation hover for elements from Maven modules."
An exception is thrown and the doc hover is void, when trying to navigate through a link of a Documentation Hover opened on a class from a maven module.

[2015-12-10 22:44] davidfestal commented on #1633
@gavinking , @bjansen, @FroMage , @quintesse , @tombentley : any thoughts ?

[2015-12-11 06:36] thradec commented on #1647
How large approx?

[2015-12-11 07:25] tombentley commented on #1633
We can't add the annotation because the compiler doesn't support Java
depending on Ceylon like that.
On 10 Dec 2015 22:44, "David Festal" <notifications@github.com> wrote:

[2015-12-11 08:18] renatoathaydes commented on #1647
Just a few thousand characters.

[2015-12-11 09:37] davidfestal commented on #1633
@tombentley : so I assume that, in the model loader we should have a look to the native header in order to retrieve such annotations and add them to the native implementation Declaration  ?

[2015-12-11 10:10] davidfestal commented on #1567
@gavinking : probably I didn't understand the problem, but when I create a project with the wizard (or change the source folder in the `Ceylon Build Paths` wizard, and add new source folder (either inside the project or with a link) it works correctly and the source directory are correctly added to the `.config` file.
What did I miss ?

[2015-12-11 10:34] gavinking commented on #1567
@davidfestal From the New Module, New Source File, or New Package wizards I mean.

[2015-12-11 10:36] davidfestal opened #1649 "NPE when rebuilding a project that has linked source folders"
[code]

[2015-12-11 11:14] davidfestal commented on #1567
Ah OK

[2015-12-11 23:07] gavinking commented on #1576
Seems fixed.

[2015-12-11 23:07] #1576 closed

[2015-12-11 23:21] jvasileff opened #1650 "rename refactoring error in 1.2.0 maintenance update"
No idea if this is a regression, but rename refactoring of a function parameter failed as shown:

<img width="733" alt="screen shot 2015-12-11 at 6 17 15 pm" src="https://cloud.githubusercontent.com/assets/236050/11757997/f4c36c84-a033-11e5-90f9-26a147a2aec5.png">

[code]

[2015-12-12 00:08] #1607 closed

[2015-12-12 00:39] gavinking commented on #1607
Fixed.

[2015-12-12 18:20] gavinking opened #1651 "Move Out and Make Receiver broken for multi-file refactorings"
I fixed both Move Out and Make Receiver broken for multi-file refactorings.

[2015-12-12 18:22] #1651 closed

[2015-12-14 10:32] ePaul opened #1652 ""Introduction to Ceylon modules" needs to declare the module as native (or somehow else handle the broken import)"
**Wrong behavior**
I just installed Ceylon-IDE (1.2.0) on my work computer, and tried to go through the intros.
Following "Introduction to Ceylon Modules" (which comes from [ModulesIntro.xml](https://github.com/ceylon/ceylon-ide-eclipse/blob/master/plugins/com.redhat.ceylon.eclipse.ui/intro/ModulesIntro.xml), if I understand right) gives me this module.ceylon:

[code]
The `ceylon.math` part is und

[2015-12-14 11:00] #1567 closed

[2015-12-14 11:00] #1606 closed

[2015-12-14 11:00] #1633 closed

[2015-12-14 11:00] #1648 closed

[2015-12-14 11:00] #1649 closed

[2015-12-14 15:35] davidfestal commented on #1635
@gavinking : I Don't know. I cannot reproduce this. There might be something specific in tour environment or use-case.

[2015-12-14 16:08] davidfestal commented on #1650
@jvasileff : I was not able to reproduce this.

[2015-12-14 16:11] davidfestal commented on #1570
@ncorai : I'm not able to reproduce this. Could you share a project on which the bug happens systematically?

[2015-12-14 16:12] jvasileff commented on #1650
@davidfestal me neither! I'm willing to chalk it up to an exceedingly rare race condition.

[2015-12-14 16:14] gavinking commented on #1650
I also tried, FTR, couldn't either.

[2015-12-15 09:33] bjansen commented on #1635
I think I have the same kind of problem: I hit ⌘-T on a reference to a Java interface, and the popup is not showing any subtype. Now if I navigate to the Java declaration and hit ⌘-T again I get all the subtypes.

If I show the hierarchy of a reference to a second interface that extends the first one, then show the hierarchy of the first one again, it works.

[2015-12-16 13:45] tombentley opened #1653 "Rename module orphans child packages"
In the Ceylon Explorer and the Ceylon perspective, with a pure Ceylon module `foo` with a subpackage `foo.zzz` if I rename `foo` to `bar` I end up with a `zzz` package in the `default` module instead of in `bar`.

[2015-12-17 11:16] gavinking commented on #1652
Actually what we should do here is change it to use the new cross-platform `ceylon.random` when @jvasileff's work is merged.

[2015-12-17 11:21] ePaul commented on #1652
@gavinking Sounds good, I was not aware of that. Though I still think that also the `native` stuff should be explained somewhere.

[2015-12-17 22:00] gavinking opened #1654 "outline view empty for source file in ceylon.language project"
I can't seem to open the outline view for a source file with no Ceylon builder enabled.

[2015-12-17 22:12] gavinking commented on #1654
Note, this does not seem to affect the 1.2.0-fixes branch.

[2015-12-17 23:04] davidfestal opened #1655 "IDE build broken after the Java 9 compatibility commits"

[2015-12-17 23:45] #1655 closed

[2015-12-18 13:35] qsys opened #1656 "walk-through master fails"
In an attempt to start learning ceylon, I just followed (Eclipse Mars):
http://ceylon-lang.org/documentation/1.2/walkthrough/
The first issue had to do with a compiler version 7 not compatible with version 8. So I changed the 'module.ceylon'-files and imported ceylon.collection from 1.1.0 to 1.2.0
However, I still have issues in the file 06interfaces_operators. Here are the markers/problems:

[2015-12-18 14:04] gavinking commented on #1656
Hi, @qsys, it's working for me on both the 1.2.0 MR1 release of Ceylon IDE, and against current master.

You were using the repository https://github.com/ceylon/ceylon-walkthrough.git, right?

[2015-12-18 14:28] qsys commented on #1656
yes, tried both master and 1.2...
Eclipse Mars 4.5.0, Windows 7 Enterprise

[2015-12-18 14:35] qsys commented on #1656
solved: did work in Eclipse Mars.1, didn't work in Eclipse Mars 4.5.0

[2015-12-18 14:35] #1656 closed

[2015-12-18 14:36] qsys commented on #1656
solved: did work in Eclipse Mars.1, didn't work in Eclipse Mars 4.5.0

[2015-12-18 18:10] gavinking commented on #1656
@davidfestal I would love to know why the walkthrough didn't build in the IDE running on Mars 4.5....

[2015-12-20 03:15] lukehutch commented on #1652
Ran into the same issue going through the walkthrough. But even with the new cross-platform `ceylon.random` in place, this bug illustrates some other issues with the native imports that the IDE and the error messages don't help much with.

After you add `native(jvm)` to the module declaration, you get an error on `random()` in the following code, "Illlegal reference to native declaration random: d

[2015-12-20 03:22] lukehutch commented on #1652
And the fix seems to be to have the following module declaration:
[code]
So:
1. You can't just declare individual methods that call native code as native, even though the compiler error suggests that as one of the two possible fixes?
2. It's possible to declare a non-native module with native imports, but you can't actually *use* those native imports unless the whole module is declared as native?

[2015-12-20 03:29] Zambonifofex commented on #1652
@lukehutch you can only use native modules inside native declarations. However, you can have a pure Ceylon fallback to a native implementation, so your module doesn't need to be native as well... In fact, I think that if your module is native, adding the native annotation to its imports is kinda useless and not required... I hope that clarify things... :-)

[2015-12-20 03:34] Zambonifofex commented on #1652
Also, I'd recommend avoiding fiddling with native stuff if you're just starting with Ceylon... The issue here is that there is code in the walkthrough that is wrong, and not about native things themselves... It's probably code that remained in the walkthrough from older versions where it worked...

[2015-12-20 03:41] Zambonifofex commented on #1652
Also, what the compiler is saying with *"Shared native implementation must have a header: run"* is that you *should* have a pure Ceylon fallback to that function. That's because your function is shared (which means that other modules should be able to call it), and because your module isn't native (other non-native modules should be able to import it and call any of its shared functions)...

[2015-12-20 05:46] lukehutch opened #1657 ""Not definitely specified" error on imported symbol"
I'm trying to follow the Vert.x 3.2.0 docs for Ceylon here: http://vertx.io/docs/vertx-core/ceylon/ -- however, the examples don't seem to work in Eclipse at least. I have in `module.ceylon`:
[code]
And in `webtest.ceylon`:
[code]
However, I get the error `Not definitely specified: vertx`. I have to change this to the following to run. Is this expected, i.e. are the Vert.x docs wrong?:
[code]
@sad

[2015-12-20 05:54] lukehutch opened #1658 ""compiler bug: empty iterable literal with sequenced arguments""
I'm trying to follow the Vert.x 3.2.0 docs for Ceylon here: http://vertx.io/docs/vertx-core/ceylon/ -- however, the examples don't seem to work. I have the following code:
[code]
I get an error on the lambda expression, `Expression cannot be assigned`. I have no idea what this error message is, or why it is shown (suggestion: please report a more useful error message here!)

I tried extracting the

[2015-12-20 08:49] lukehutch opened #1659 "NPE in com.redhat.ceylon.eclipse.code.hover.DocumentationHover.getDocumentationFor"
I get numerous NullPointerExceptions in the log for the Eclipse Ceylon IDE. (One of them popped up with an Eclipse warning dialog, although most of the time no warning is given.)

[code]

[2015-12-20 11:42] gavinking commented on #1652
@lukehutch you have two options:

1. mark the whole module `native("jvm")`, or
2. create a `native` (header) function `run()` (just the signature), with `native("jvm")` and `native("js")` implementations.

The problem here is that @quintesse still has not documented the `native` functionality. Tako what is going on with that?

[2015-12-20 12:20] gavinking opened #1660 "IDE does not display any documentation when hovering vert.x APIs"
Vert.x does the right thing and encodes documentation using `@DocAnnotation$annotation$`, but the IDE just refuses to display it. This is *terrible*, since it means there is simply no way to view the documentation for any vert.x APIs.

@davidfestal what's your take on this?

[2015-12-20 12:35] gavinking commented on #1659
@davidfestal is it normal that `CeylonUnit.getPhasedUnit()` can return null?

If so, it looks like this is the result of your fix for #1633.

[2015-12-20 12:39] #1659 closed

[2015-12-20 12:40] gavinking commented on #1659
This is fixed, probably.

[2015-12-20 12:58] gavinking commented on #1658
@lukehutch with the code you've shown, I don't get a "compiler bug". Perhaps it's whatever you've elided with the `//...`?

I agree that the message `Expression cannot be assigned` could be improved.

[2015-12-20 13:10] gavinking commented on #1657
This isn't a bug in Ceylon. The `vertx` that is in scope in `run()` is the local `value`, not the imported thing.  And that is indeed not definitely specified at the point where you evaluate it.

It is a bug in the vert.x docs.

[2015-12-20 13:10] #1657 closed

[2015-12-20 13:30] Zambonifofex commented on #1652
@gavinking oh, I see, so you *can* have a native function without a pure Ceylon implementation...I'd imagine you'd have to explicitly throw an error if you can't implement it in pure Ceylon... What happens if the function is called from a backend you don't support?

[2015-12-20 13:50] gavinking commented on #1658
@lukehutch I have improving the parser in @e5282a6, so that Ceylon produces a much nicer error in this case. (It was a matter of making the parser accept some things that are definitely not legal syntax.)

[2015-12-20 13:51] gavinking commented on #1658
I'm closing this, because it was mis-filed against the IDE, when really the problems were in the vert.x docs, and the parser. @lukehutch if you're unhappy with the fix, please open a new issue against ceylon/ceylon.

[2015-12-20 13:51] #1658 closed

[2015-12-20 13:53] gavinking commented on #1652
Of course! We use that all over the place in the language module, and now even in the SDK.

No, you just have an empty body, like you have with a `formal` method.

[2015-12-20 13:54] Zambonifofex commented on #1652
@gavinking

[2015-12-21 00:00] lukehutch commented on #1658
Sorry, this is the complete code. The compiler error occurs at the '{' on the line marked "//*". Yes, the expression is incorrect, but I'm sure it shouldn't trigger a "compiler bug" error.

[code]

(and module.ceylon is):
[code]

[2015-12-22 15:05] gavinking commented on #1658
Right, so my change to the parser seems to have fixed the "compiler bug" too.

[2015-12-24 10:35] fwgreen opened #1661 "Syntax error in Switch Expression triggers NullPointerException"
[code]
Causes this error in the IDE.
[code]
Both the command line and Web IDE show syntax errors.

[2015-12-24 12:31] gavinking commented on #1661
This is fixed. Actually it was a typechecker bug, not an IDE problem.

[2015-12-24 12:31] #1661 closed

[2015-12-26 02:58] ageery opened #1662 "Automatic build doesn't work when source folder is more than one directory deep"
By default, the Ceylon source directory is "source" and the automatic build in Eclipse (compile on save) works fine (I can set the verbosity level to "all" and see the debug output of Ceylon doing the compilation).

I can add additional source directories that are one level deep (e.g., "source2") and the automatic build in Eclipse works for them also.

However, if I add a source directory that is

[2016-01-09 15:34] ASzc commented on #1629
I was hoping giving this a month would make it go away, but unfortunately no.The problem persists, even after cleaning/updating everything. I did however manage to get something more useful out of the CLI, and I will be filing a bug for that.

[2016-01-09 20:18] jvasileff opened #1664 "option to re-run failed tests"
It would be nice to have the option to re-run only the tests that have failed in the "Ceylon Test" window.

As a bonus, it would be nice to be able to manually select multiple items to run (something like highlight multiple nodes, then right click "run" on one of the selections to run the selected tests.)

[2016-01-10 18:44] thradec commented on #1664
Done.

[2016-01-10 18:44] #1664 closed

[2016-01-10 18:52] jvasileff commented on #1664
Cool!

On Jan 10, 2016, at 1:44 PM, Tomas Hradec <notifications@github.com<mailto:notifications@github.com>> wrote:

Done.

—
Reply to this email directly or view it on GitHub<https://github.com/ceylon/ceylon-ide-eclipse/issues/1664#issuecomment-170381167>.

[2016-01-11 15:30] davidfestal commented on #1650
@jvasileff : can we close this one ?

[2016-01-11 16:24] jvasileff commented on #1650
Sure, let's close it. It's only happened once.

[2016-01-11 16:24] #1650 closed

[2016-01-11 21:21] davidfestal commented on #1570
@ncorai : any news ?

[2016-01-11 21:29] davidfestal opened #1666 "`null Check` assertion error when hovering documentation on a package without descriptor"
[code]

[2016-01-13 15:56] #1666 closed

[2016-01-13 17:04] quintesse opened #1667 "Import of old language version causes problems in "Ceylon explorer""
I have a project lying around where I can't open the source folders anymore. When opening the project I see it has both `source` and `test` Ceylon source folders with the small triangle in front of them to expand them but when I click that both folders show up empty.

The error in the Eclipse log shows the following:

[code]

[2016-01-13 17:05] quintesse commented on #1667
The errors are most likely due to old code still referencing old language module versions, but that shouldn't cause problems in the IDE of course.

[2016-01-15 16:39] davidfestal commented on #1667
Now the error is added in the Problems view. Closing

[2016-01-15 16:39] quintesse commented on #1667
Cool! I'll test in a moment!

[2016-01-15 16:57] quintesse commented on #1667
Ok, the real problem has disappered! Great!

I *do* still have a pop-up error from the IDE each time I open one of my projects:

[code]

[2016-01-15 17:00] davidfestal commented on #1667
Oh, OK, unexpected. I fixed it in the distribution code, and tested it in the upcoming 1.2.1 IDE, but not on IDE master. it seems there is a case I had not expected on master

[2016-01-16 13:09] gavinking opened #1668 "convert to named arguments should not be proposed for Java methods"
Named arguments only work for methods defined in Ceylon.

(Unless we go ahead and fix this, now that Java 8 makes parameter named available!)

[2016-01-17 00:20] lucaswerkmeister opened #1669 "Auto-generated equals method is invalid (syntax error)"
Enter the following class definition:
[code]
In the blank line, type `equa`, Ctrl+Space, and auto-complete the `shared actual Boolean equals(Object that)` entry. The result is:
[code]
`&&;` is, of course, a syntax error.

This probably broke during the migration to Ceylon, but that’s just a guess.

<sub>Aside: this broken code also causes backend errors, though they don’t happen on the CLI. Should

[2016-01-17 09:23] lukehutch commented on #1658
I forgot I had this typo in my code still, and came back to Ceylon today after updating everything to the latest version. I'm still seeing "compiler bug" here with the latest git version, at least in the Eclipse IDE (I haven't tried it in the commandline compiler).

[2016-01-18 16:17] davidfestal opened #1670 "Allow code completion to be cancelled"
On projects with a very big list of dependencies, the first code completion can be very long, and cannot be cancelled.